@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
    CPA00
---------------------------------------------------------------------------- */
#APA00 {
/*  APA00001 			-------------------------------------------------*/  
/*  ログイン前TOP 	-------------------------------------------------*/  
	#APA00001{
		.accd.sec_title a {
			@include borderRadius(0);
		}
		h2 {
			text-align: center;
			font-size: 18px;
			color: #000;
		}	
		#notification {
				text-align: center;
				border: 1px solid $key_color05;
				h3 {
					padding: 9px 12px;
					background: $key_color05;
					font-size: 14px;
					line-height: 18px;
					color: #fff;
					span{
						padding-left: 36px;
						&:before {
						font-size: 21px;
						left: 10px;
						margin-top: -12px;
						}
					}
				}
				p {
					padding: 9px 12px;
					font-size: 13px;
				}
		}//#notification
		#main_visual.carousel {
				.list {
					position: relative;
					text-align: center;
					font-size: 0;
					.item {
						margin: 0;
						a {
							font-size: 13px;
							img {
								display: inline-block !important;
								height: 120px;
							}
						}
					}
			}
			a.navigation {
				top: inherit;			
				bottom:0;
				z-index: 1;
				font-size: 36px;
				line-height: 1;
				&.prev {
					left: 0;
				}
				&.next {
					right: 0;
				}
			}
			.slick-dots {
				text-align: center;
				font-size: 0;
				line-height: 10px;
				background: #eeeeee ;
				width: 100%;
				padding: 15px 0;
				li {
					margin:0 4px;
					display: inline-block;
					opacity: 1;
					@include transition(250ms ,opacity);
					input[type="button"], button {
						display: block;
						width: 10px;
						height: 10px;
						padding: 0;
						font-size: 0;
						background: #d2d2d2;
						border: none;
						@include borderRadius(50%);
					}
					&.slick-active{
						 input[type="button"], button {
							 background: $key_color03;
						}
					}
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}//main_visual
		#introduce {
			.sec {
				padding-top: 15px;
				padding-bottom: 20px;
			}
		}
		#reason {
			background: #e2f0ff;		
			padding: 18px 0 6px 0;
			margin-bottom: 18px;
			text-align: center;

			.item {
				display: inline-block;
				width: 44%;
				margin-right: 13px;
				margin-bottom: 12px;
				vertical-align: middle;
				&:nth-child(2n) {
					margin-right: 0;
				}
				a {
					padding: 9px 12px;	
					height: 72px;		
					line-height: 72px;
					vertical-align: middle;		
					img {
						max-height: 72px;
					}
				}
			}
		}//reason
		.gotoindex {
			text-align: right;
			font-size: 14px;
			margin-top: 10px;
			padding-bottom: 20px;
			a {
				color: $base_color01;
			}
			.arrow {
				padding-left: 0;
				padding-right: 30px;
				&:before {
					left: inherit;
					right: 0;
					color: #9fc0e2;
				}
			}
		}
		#faq {
			.question {
				span {
					font-size: 14px;
					}
			}
			.answer {
				.answer_title .title{
					font-size: 14px;
				}
				.answer_inner {
					font-size: 12px;
				}
				ul li {
					line-height: 16px;
				}
			}
		}//faq
		#news {
			//margin-bottom: 16px;
			.accd_contents {
				@include boxShadow(1px 2px 2px 0px rgba(0, 0, 0, 0.1));			
			}
			li {
				font-size: 14px;
				line-height: 20px;
				padding: 8px 15px;
				border-bottom: 1px solid $bd_color01;
				.date {
					font-size: 13px;
				}
				a {
					text-decoration: none;
				}
			}
		}//news
		.info_contents {
			.accd_contents {
				padding: 15px 15px 0 15px;
				margin-bottom: 0;
			}
			li a {
				font-size: 15px;
				line-height: 30px;
			}
		}
		#info_bnr {
			p {
				margin-bottom: 12px;
			}
			a {
				color: #000;
				font-size: 16px;
				line-height: 1;
				text-align: left;
				padding: 20px 16px;

			}
		}//#info_bnr
		#pickup {
			margin-top: 30px;
			h3 {
				margin-bottom: 8px;
			}
		}//pickup
		#app {
			margin: 20px 10px 30px 10px;
			padding: 20px 0 0 0;
			border: 1px solid $bd_color01;
			.description {
				margin: 0 20px;
			}
			.app_img {
				position: relative;
			    padding: 12px 25px 15px 12px;
			    float: left;
			    width: 21%;
			}
			.free {
				position: absolute;
				background: $key_color03;
				@include borderRadius(50%);
				color: #fff;
				font-size: 11px;
				font-weight: bold;
				line-height: 11px;
				padding: 12px 0;
				width: 35px;
				text-align: center;
				left: -6px;
				top: -6px;
			}
			.text {
				float: left;
				width: 64%;
				color: #535353;
				font-size: 13px;
				line-height: 18px;
				h3 {
					text-align: left;
					line-height: 1;
					margin-bottom: 15px;
				}
			}
			.app_btn {
				padding: 15px;
				background: #eee;
				text-align: center;
				li {
					display: inline-block;
					&:nth-child(1){
						width: 130px;
						margin-right: 15px;
					}
					&:nth-child(2){
						width: 115px;
					}
				}
			}	
		}//#app
		#pickup_carousel {
			h4 {
				font-size: 13px;
				.external {
					&:after {
						position: relative;
						right: 0;
						top: 0;
						display: inline;
						color: #000;
					}
				}
			}
		}
	}//#APA00001
}
