@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   会員ページでできること　 #availability
---------------------------------------------------------------------------- */
#availability {
	/*  会員ページでできることトップ	-------------------------------------------------*/  
	#introduction{
		.inner {
			width: auto;
			padding-right: 155px;
		}
		.icon_box {
			position: absolute;
			top: -28px;
			right: -15px;
			color: $base_color04;						
			font-size: 56px;
			.pc {
				font-size: 120px;
				letter-spacing: -32px;
			}
			.fp,.sp {
				position: relative;
				font-size: 52px;
			    letter-spacing: -23px;
			    top: 6px;
			}
			.fp {
				letter-spacing: 8px;
			}
		}			
	}//#introduction
}//#availability
	/*  瞬フリ（振込キャッシング）のご利用手順	-------------------------------------------------*/  
#availability ,#member_app {
	#procedure {
		.step_box.finish_box {
			text-align: center;
			.finish {
				font-size: 13px;
				line-height: 18px;
				display: inline-block;
				margin: 0 auto;
				.notice {
					margin-left: 0;
					font-size: 10px;
					line-height: 12px;
					text-align: left;		
					font-weight: normal;			
				}				
			}			
			[class*="ico_"]{
				padding-left: 36px;
				&:before {
					font-size: 45px;	
					margin-top: -23px;
					color: $base_color04;
				}
			}
			.ico_pc01 {
				padding-left: 48px;
				&:before {
					font-size: 63px;	
					margin-top: -31px;
				}
			}
		}
	}//procedure
}
	/*  瞬フリ（振込キャッシング）のご利用手順	-------------------------------------------------*/  
#availability ,#member_app {
	#banking {
		.available li {
			float: left;
			width: 50%;
			margin: 0 0 25px;
			text-align: center;
			img {
				display: block;
				margin: 0 auto 5px;
			}
		}
	}
}