@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
    CPA00
---------------------------------------------------------------------------- */
#CPA00 {
/*  CPA00011 			-------------------------------------------------*/  
/*  会員サービスTOP 	-------------------------------------------------*/  
	#CPA00011{
		#profile_box {
			padding-top: 30px;
			img {
				border: 1px solid #ccc;
				width: 60px;	
			}
			.profile {
				position: relative;
				top: -4px;
				margin-left: 80px;
				.name {
					font-size: 16px;
					line-height: 22px;
					font-weight: bold;
					margin-bottom: 8px;
					.title {font-size: 13px;}
					
				}
				.btn a {
					padding-right: 20px;
				}
			}
		}
		.news {
			margin-bottom: 10px;
			li {
				padding-bottom: 12px;
				border-bottom: 1px solid $bd_color01;	
				margin-bottom: 9px;
				font-size: 11px;
				line-height: 16px;
				&:last-child {
					border-bottom: none;
				}
				span.important {
					color: $key_color05;
					font-weight: bold;
				}
				a {
					display: block;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
					&:after {
						padding-left: 0.4em;
						content : ">>";
					}
				}
			}
			.type {
				display: block;
				text-align: center;
				width: 75px;
				margin-bottom: 4px;
				font-size: 9px;
				line-height: 13px;
				background: #eee;
				border: 1px solid #eee;
				&.important {
					border-color: $key_color05;
					color: $key_color05;
				}
			}
		}//.news
		.carousel {
			background: $bd_color01;
			position: relative;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
				position: relative;
				.list {
					position: relative;
					text-align: center;
					padding: 15px 0 0 0;
					font-size: 0;
					.item {
						margin-bottom: 15px;
						a {
							font-size: 13px;
							img {
								display: inline-block !important;
								height: 80px;
							}
						}
					}
			}
			.navigation_wrap {
				display: none;
				position: relative;
				height: 40px;
				background: #eee;
			}
			a.navigation {
				position: absolute;
				width: 30px;
				padding: 2px 8px;;				
				bottom:0;
				z-index: 1;
				font-size: 36px;
				line-height: 1;
				color: #959595;
				text-align: center;
				text-indent: -3px;
				text-decoration: none;
				&.prev {
					left: 0;
				}
				&.next {
					right: 0;
				}
			}
			.slick-dots {
				text-align: center;
				font-size: 0;
				line-height: 10px;
				background: #eeeeee ;
				width: 100%;
				padding: 15px 0;
				li {
					margin:0 4px;
					display: inline-block;
					opacity: 1;
					@include transition(250ms ,opacity);
					input[type="button"], button {
						display: block;
						width: 10px;
						height: 10px;
						padding: 0;
						font-size: 0;
						background: #d2d2d2;
						border: none;
						@include borderRadius(50%);
					}
					&.slick-active{
						 input[type="button"], button {
							 background: $key_color01;
						}
					}
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}//banner_box
		.information {
			margin: 30px 0 15px;
			padding: 0;
			border: 2px solid $bd_color01;
			.status {
				padding: 10px 15px 20px 15px;
				border-bottom: 1px solid $bd_color01;

			}
			.available {
				margin: 15px 0 10px 0;
				font-size: 11px;
				line-height: 20px;
				font-weight: bold;
				text-align: center;
				.amount {
					font-size: 20px;
					color: $key_color04;
					padding-right: 0.2em;
				}
			}
			.note {
				font-size: 9px;
				line-height: 14px;
				text-align: center;
				margin-bottom: 15px;
			}
			.time,.number {
				font-size: 10px;
				line-height: 15px;
				font-weight: bold;
			}
			.number {
				text-indent: -0.6em;
			}
			.btn a{
				font-size: 14px;
				line-height: 1;
				padding: 15px 0;
				@include borderRadius(22px);
			} 
			.repayment {
				font-size: 11px;
				line-height: 15px;
				h4 {
					font-weight: bold;
					margin-bottom: 6px;
				}
				.balance,.date,.point {
					padding : 12px 15px;
					border-bottom: 1px solid $bd_color01;
				}
				.point {
					border-bottom: none;
				}
				.data_line {
					clear: both;
					border-bottom: 1px dotted $bd_color02;
					padding: 5px 0;
					.data {
						float: right;
						font-weight: bold;
					}
					.bd_btm_none {
						padding-bottom: 0;
					}
				}
			}
		}//.information
		.usage {
			.accd_btn {
				display: block;
				font-size: 13px;
				line-height: 26px;
				background: $bg_color02;
				border: 1px solid $bd_color01;
				text-align: center;
				padding: 6px;
				@include borderRadius(3px);
				margin-bottom: 15px;
				text-decoration: none;
				color: $text_color01;
				opacity: 1;
				@include transition(250ms ,opacity);
				&:hover {
					opacity: 0.8;
				}
				span {
					position: relative;
					display: block;
					&:after {
						@include iconFont();
						position: absolute;
						content:'\e917';
						color: $key_color02;
						font-size: 30px;
						line-height: 1;
						right: 0;
						margin-top: -2px
					}
				}
				&.open span:after {
						content:'\e915';
				}
			}
			.usage_box {
				h4 {
					text-align: center;
					font-weight: normal;
					font-size: 11px;
					line-height: 15px;
					padding: 7px;
					background: $bg_color02;
					border-bottom: 1px solid $bd_color01;
				}
			}
			.usage_table_wrap {
				border: 1px solid $bd_color01;
				padding: 0;
			}
			.usage_table {
				width: 100%;
				th {
					border-left: none;
					text-align: left;
					background: $bg_color03;
					width: 130px;
				}
				td {
					border-right: none;
					text-align: left;
				}
			}
			.note {
				li {
					margin-left: 1.3em;
					position: relative;
					&:before {
						content: "※";
						position: absolute;
						left: -1.3em;
						top: 0;
					}
				}
			}
		}//.usage
		.btn_box {
			text-align: center;
			font-size: 0;
			ul {
				padding: 10px;
			
			}
			li {
				&.btn {
					a {
						padding: 80px 10px 20px 10px;
						text-align: center;
						&.double {
							padding-top: 73px;
							padding-bottom: 10px;
						}
						&:before {
							color: $base_color04;
							font-size: 48px;
							top : 36px;
							left: 50%;
							margin-left: -24px;
						}
					}
				}
			}
		}
		.contact_box {
			padding-top : 15px;
			padding-bottom: 20px;
			background: $bg_color02;	
			h3.sec_title	{
				border-bottom-style: dotted;
			}
			.check {
				margin-bottom: 20px;
				li {
					float: left;
					width: auto;
					margin-right: 18px;
					padding-left: 22px;
					&.ico_ck01{
						&:before{
							color: $base_color01;
							left: -8px;
							margin-top: -17px;	
							z-index: 1;															
						}
						&:after {
							content : "";
							position: absolute;
							width: 14px;
							height: 14px;
							background: #fff;
							z-index: 0;
							left: 0px;
							top: 1px;
						}
					}
				}
			}
			.call {
				text-align: center;
				font-size: 0;
				li {
					display: inline-block;
					margin-right: 8px;					
					width: 140px;
					&:nth-child(2n) {
						margin-right: 0;
					}
					img {
						border: 1px solid $bd_color01;					
					}
				}
			}
		}
		#app {
			border-top: 1px solid #dcdcdc;
			background: $bg_color02;
			padding: 15px 15px 25px 15px;
			.description {
				margin-bottom: 15px;
				.app_img {
					width: 80px;
				}
				.text {
					padding-top: 8px;
					margin-left: 95px;
					h3 {
						font-size: 15px;
						color: $base_color01;
						margin-bottom: 10px;
					}
					li {
						list-style :disc outside;
						margin-left: 1.2em;
						margin-bottom: 5px;
					}
				}
			}
			.app_btn {
				font-size: 0;
				text-align: center;
				li {
					display: inline-block;
					margin-right: 8px;					
					&:nth-child(2n) {
						margin-right: 0;
					}
					img {height: 44px;}					
				}
			}
		}
		#news_tab {
			.tab_menu {
				border-bottom: 1px solid $base_color01;
				font-size: 0;
				margin-bottom: 18px;
				li {
					width: 50%;
					display: inline-block;
					a {
						display: block;
						font-size: 11px;
						font-weight: bold;
						color: $text_color01;
						text-align: center;
						text-decoration: none;
						background: $base_color02;
						padding: 12px 6px;
						margin-right: 3px;
						@include borderRadius(3px 3px 0 0);
						&.cr {
							background: $base_color01;
							color: #fff;
						}
					}
					&:nth-child(2n) a{
						margin-right: 0;
						margin-left: 3px;
					}
				}
			}
			.tab_contents {
				.tab_content {
					display: none;
					&.cr {display: block;}
				}
				li {
					padding-bottom: 9px;
					border-bottom: 1px dotted $bd_color01;	
					margin-bottom: 11px;
					font-size: 11px;
					line-height: 16px;
					span.important {
						color: $key_color05;
						font-weight: bold;
					}
					a {
						text-decoration: none;
					}
				}
				.type {
					display: block;
					text-align: center;
					width: 75px;
					margin-bottom: 4px;
					font-size: 9px;
					line-height: 13px;
					background: #eee;
					border: 1px solid #eee;
					&.important {
						border-color: $key_color05;
						color: $key_color05;
					}
				}
			}
		}
		#attention ,#news_tab {		
			.goindex {
				text-align: right;
				a.arrow{
					padding-left: 0;
					padding-right: 12px;
						&:before {
						right: -12px;
						color: $base_color02;
					}
				}
			}
		}
	}//#CPA00011
}
