@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   はじめてのご利用　 #firsttime
---------------------------------------------------------------------------- */
#firsttime,#application {
	/*  Web完結のご紹介	-------------------------------------------------*/  
	#service_point {
		.sec_box {
			.inner {
				padding: 12px;
			}
			.title {
				font-size: 12px;
				line-height: 17px;
				margin-left: 50px;
				margin-bottom: 0;
			}
			.img {
				float: left;
				width: 50px;
				line-height: 34px;
			}
		}
	}
	#web_completion_flow {
		.bg_title {
			text-align: center;
			background: $base_color02;
			margin-bottom: 12px;
			font-size: 11px;
			line-height: 18px;
			padding: 6px;
		}
		.basic_title {
			font-family: 13px;
			line-height: 19px;
			margin-bottom: 6px;
		}
		.last .box_content{
			background:#ffffcd;
		}
	}
	/*  お申込みの流れ	-------------------------------------------------*/  
	#app_flow {
		padding-left: 0;
		padding-right: 0;
		.tab_content{
			padding: 15px 10px;
		}
		.upper {
			padding-left: 15px;
			padding-right: 15px;
		}
		.tab_menu {
			padding-left: 15px;
			padding-right: 15px;
		}
	}//#app_flow
	#local_navigation .sub {
		display: none;
	}
	#firsttime_app #local_navigation .sub {
		display: block;
	}
	/*  安心のプロミス	-------------------------------------------------*/
	#reliable {
		ol li {
			margin: 0 0 20px;
			padding: 0 0 15px;
			border-bottom: 1px dotted $bd_color04;
			overflow: hidden;
			.circle {
				display: table;
				float: left;
				width: 70px;
				height: 70px;
				background: $base_color04;
				color: $bg_color01;
				@include borderRadius(50%);
				span {
					display: table-cell;
					padding: 0 0 5px;
					font-size: 16px;
					font-weight: bold;
					text-align: center;
					vertical-align: middle;
					line-height: 1.2;
					&:first-line {
						font-size: 10px;
					}
				}
			}
			div {
				overflow: hidden;
				h2 {
					font-size: 13px;
				}
			}
			&:last-child {
				margin: 0;
				padding: 0;
				border-bottom: none;
			}
		}
	}//#reliable
	/*  お申し込み方法	-------------------------------------------------*/
	.btn.type01.orange .external {
		&:after {
			color: $bg_color01;
		}
	}
	/*  プラン診断	-------------------------------------------------*/  
	.loan_plan  {
		.content {
			.step {
				display: none;
				opacity: 0;
				@include transition(250ms ,opacity);
				&.active {
					display: block;
					opacity: 1;
				}
			}
		}
		.question {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			margin: 50px 0 25px 0;
		}
		.return_btn {
			text-align: center;
			margin-top: 20px;
		}
		.btn_wrap {
			text-align: center;
			.select {
				display: inline-block;
				text-decoration: none;
				width: 275px;
				font-size: 24px;
				font-weight: bold;
				line-height: 32px;
				color: #000;
				padding: 28px 0;
				text-align: center;
				border: 3px solid $bd_color01;
				@include borderRadius(38px);
				margin-bottom: 20px;
				&:last-child{margin-right: 0;}
				@include transition(250ms ,color border-color);
				.ico_ck02 {
					padding-left: 40px;
					padding-right: 25px;
					width: 180px;
					display: inline-block;
					&:before {
						@include transition(250ms ,color);
						font-size: 50px;
						left: 20px;
						margin-top: -25px;
						color: $bd_color01;
					}
				}
				&:hover, &.active {
					color: $base_color01;
					border-color: #98b9db;
					.ico_ck02:before {color: $base_color04;}
				}
			}
		}
		.result {
			.intro {
				font-size: 15px;
				color: $base_color01;
				line-height: 18px;
				margin: 10px;
			}
			.result_box {
				padding: 15px 10px 10px 10px;
				border: 2px solid #98b9db;
				.img {
					text-align: center;		
					margin-bottom: 10px;
					img {
						width: 73px;
					}					
				}	
				.result_content {
					.result_title {
					text-align: center;	
						font-size: 14px;
						line-height: 28px;
						color: $base_color01;
						margin-bottom: 10px;
					}
				}
			}					
		}
	}//.loan_plan
}//#firsttime

