@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   レディースキャッシング　 #ladies
---------------------------------------------------------------------------- */
#ladies {
	.arrow.link {
		background-image: url("../image/html/APA00/sp/sp_APA00008_arrow.png");
		background-repeat: no-repeat;
		background-position: left center;
		background-position: 0 85%;
		background-size: 8px 8px;
		padding-left: 12px;
		&:before {
			content: none;
		}
		a,a:hover,a:visited,a:focus {
			color: #714628;			
		}
	}
	.btn.type01.form_btn {
		a {
			@include linearGradient(0deg, #73c0dd 0%, #7ad9eb 100%);
			@include ryuminFont();
			background-color: none;
			font-size: 15px;
			line-height: 18px;
			padding: 16px 0;
			.arrow.link {
				color: #fff;
				background-image: url("../image/html/APA00/sp/sp_APA00008_arrow_wh.png");
				background-position: 0 50%;
				
				background-size: 9px 9px;
				padding-left: 14px;
			}
		}
	}
	.btn_caption {
		color: #59b5d3;
		font-size: 12px;
		line-height: 15px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.sec_title {
		color: #59b5d3;
		background: #edf8fb;
		padding: 10px;
		font-size: 15px;
		line-height:21px;
		text-align: center;
		@include ryuminFont();
		border-bottom: none; 	
		&.long{
			letter-spacing: -2px;
		}
	}//.sec_title 
	.btm_line_title {
		color: #714628;
		@include ryuminFont();
		font-size: 13px;
		line-height: 16px;
		padding-bottom: 2px;
		display: inline-block;
		position: relative;
		padding-right: 56px;
		margin-bottom: 15px;
		&:after {
			content: " ";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 1px;
			@include linearGradient(90deg, rgb(196, 174, 159) 0%, rgb(255,255,255) 100%);
		}		
	}//btm_line_title
	.basic_title {
		font-size: 16px;
		color: #714628;
		@include ryuminFont();
	}
	.point_box {
		border: 1px solid #d5e2e4;
		@include borderRadius(2px);
		padding: 15px;
		text-align: center;
		.inner {
			padding: 0;
			margin: 0 auto;
			width: auto;
			display: inline-block;
			text-align: left;
		}
		.title_circle {
			border: 1px solid #d5e2e4;
			@include borderRadius(50%);
			text-align: center;
			background: url("../image/html/APA00/sp/sp_APA00008_ptn_point.png") repeat 0 0;
			font-size: 12px;
			line-height: 18px;
			font-family: "Times New Roman", Times, serif;
			padding: 21px 0;
			width: 60px;
			.num {
				display: inline;
				font-size: 18px;
			}
		}	
		.point_content {
			padding-top: 0;
			margin-left: 75px;
		}
		.title {
			font-size: 16px;
			line-height: 20px;
			color: #f66cb0;
			@include hannariFont();
			letter-spacing: -2px;
			margin: 4px 0 8px;
		}
		.text {
			font-size: 12px;
			line-height: 16px;
			color: #333;
			@include ryuminFont();
		}
	}//.point_box
	table {
		tr,td,th {
			border-color: #f1e6bf;
		}
		th {
			background: #fff9e4;
		}
		.new {
			color: #59b5d3;
		}
		table {
			tr,td,th {
				border-color: $bd_color01;
			}			
		}
	}//table
	.btn_box {
		.bg {
			padding: 15px;
			background: none;
			border: 1px dashed #e5e5e5;
			@include borderRadius(3px);
		}
		.btn.type02 {
			margin:0 0 15px 0;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				@include borderRadius(4px);
				border: 1px solid #e6e6e6;
				@include linearGradient(0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
				color: #714628;
				@include ryuminFont();
				font-size: 15px;
				line-height: 15px;
				padding: 17px 0;
				&:after {content: none;}
				span.arrow.link {
					padding-left: 18px;
					background-size: 12px 12px;
					background-position-y: 50%;
				}
			}
		}
	}//btn_box
	.service_box {
		padding: 0;
		margin-bottom: 11px;
		.tag {
			display: table-cell;
			font-size: 11px;
			line-height: 12px;
			color: #714628;
			background: #fff9e4;
			border: 1px solid #f1e6bf;
			padding: 0 5px;
			width: 14px;
			text-align: center;
			vertical-align: middle;
		}
		.inner {
			border: 1px dashed #e5e5e5;
			@include borderRadius(3px);		
			padding: 12px;
		}
		.icon_box {
			width: 75px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			.icon {
				font-size: 45px;
				line-height: 50px;				
				color: #cab284;
				padding: 0;
			}
			.zoom {
				font-size: 50px;
			}
			.zoom_l {
				font-size: 55px;
			}
			.pc {
				font-size: 65px;
				text-indent: -18px;
				line-height: 50px;
				width: 28px;
				display: inline-block;
				&.single {
					text-indent: -7px;
					font-size: 75px;
					width: auto;
				}
			}
			.sp ,.fp {
			    font-size: 24px;
			    display: inline-block;
			    line-height: 24px;
			    width: 14px;
			    text-align: center;
			    text-indent: 1px;
			    margin-top: 13px;
			}
		}
		.service_content {
			padding-left: 12px;
			display: table-cell;
		}
		.title {
			color: #714628;
			@include ryuminFont();
			margin: 0 0 3px 0;
			.bracket {
				letter-spacing: -5px;
			}
		}
		.table_wrap {
			display: table-cell;
			padding-left: 5px;	
			.icon_box  {
				width: 65px;
			}
			.service_content {
				margin-left: 75px;
			}
		}
	}
	.call {
		text-align: center;
		font-size: 12px;
		line-height: 18px;
		color: #ea4262;
		font-weight: bold;
		margin-bottom: 3px;
		.num {
			text-decoration: none;
			color: #ea4262;
			display: block;
			font-size: 25px;
			line-height: 30px;
		}
	}
	.call_time {
		font-size: 12px;
		text-align: center;
		font-weight: bold;
	}
}//#ladies
