@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   お借入れ　 #loan
---------------------------------------------------------------------------- */
#loan {
	/*  お借入れトップ 	-------------------------------------------------*/  
	.flow {
		.flow_item {
			margin-bottom: 45px;				
			&:after {
				bottom: -30px;
			}
		}//.flow_item
		.process_list {
			margin-left: 0;
			width:100%;
			display: table;
			position: relative;
		}
		.app_type_wrap {
			position: relative;
			padding-top: 36px;
			.app_type {
				position: absolute;
				top: 0;
				left: 1%;
				background: $base_color04;
				font-size: 10px;
				font-weight: bold;
				color: #fff;
				line-height: 10px;
				text-align: center;
				height: 30px;
				width: 98%;
				text-align: center;
				display: table;
				&.double {
					width: 198%;
					left: 0;
				}
				&.last {
					width: 99%;
				}
				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		.process_wrap {
			display: table-cell;	
			vertical-align: top;		
			width: 25%;
			position: relative;			
			.process_btn {
				border: 1px solid #cecece;
				border-left-width: 0;					
				display: block;
				background: #fff;
				text-decoration: none;
				text-align: center;
				position: relative;
				cursor: default;
				pointer-events : none;
				&:after {
					position: absolute;
					@include iconFont();
					content:'\e91c';
					font-size: 32px;
					left: 50%;
					margin-left: -16px;
					bottom: -5px;
					color: #c0c0c0;
				}
				.process {
					color: #6e6e6e;
					font-size: 9px;
					line-height: 12px;
					font-weight: bold;
					height: 42px;
					width: 100%;
					padding:5px 0 48px;			
					display: table;
					span {
						display: table-cell;
						vertical-align: middle;
					}
				}
				.icon_box {
					position: absolute;
					color: #c4c4c4;
					font-size: 28px;
					line-height: 28px;
					width: 100%;
					top: 45px;
					.pc {
						position: relative;
						font-size: 45px;
						letter-spacing: -13px;
						top: -6px;
					}
					.fp,.sp {
						position: relative;
						font-size: 20px;
					    letter-spacing: -9px;
					    top: -3px;
					}
					.fp {
						letter-spacing: -5px;
					}
				}	
			}//.process_btn 
			&:first-child {
				.process_btn {
					border-left-width: 1px;
				}
			} 
			.tab_content {
				position: absolute;
				padding: 0;
				width: 400%;
				left: 0;
				top: 100%;
				.inner {
					width: auto;
					border: 2px solid $base_color04;
					padding: 16px 18px;				
				}
			}
			&:nth-child(2) .tab_content {left: -100%;}
			&:nth-child(3) .tab_content {left: -200%;}
			&:nth-child(4) .tab_content {left: -300%;}
			
			//active時
			&.active {
				.process_btn {
					pointer-events: auto;
					cursor: pointer;
					.process {
						color: $text_color01;							
					}
					&:after {
						color: #9e9e9e;
					}
					.icon_box {
						color: #4882be;						
					}
					&.cr {
						border-color: $base_color04;
						background: $base_color04;
						.process,.icon_box,&:after {
							color: #fff;
						}
						.process {
							font-weight: bold;
						}
					}
				}
			}
		}//process_wrap
		.five_item {
			.process_wrap {
				width: 20%;
				&:nth-child(2) .tab_content {left: -122px;}
				&:nth-child(3) .tab_content {left: -244px;}
				&:nth-child(4) .tab_content {left: -366px;}
				&:nth-child(5) .tab_content {left: -488px;}					
				&.fromweb {
					.icon_box {
						text-indent: -7px;
					}
				}
			}			
		}			
		.flow_item:last-child {
			margin-bottom: 0 !important;
			.process_wrap .tab_content{
				&:after,&:before {
					content: none;
				}
			} 
		}
		//文字が4行
		.process_list.quad .process_wrap {
			.process {
				height: 54px;
			}
			.icon_box {
				top :56px;
			}		
		}
	}
/*  ご利用限度額 	-------------------------------------------------*/  
	#system {
		.graph_wrap {
			display: table;
			margin-bottom: 10px;
			width: 100%;
			.graph, .description{
				display: table-cell;
				vertical-align: middle;
			}
			.description {
				padding-left: 10px;
				font-size: 9px;
				line-height: 14px;
			}
			.graph {
				border: 1px solid $bd_color01;
				width: 66%;
				height: 50px;
				.limit {
					background: #e5f1ff;
				}
				.spend {
					background: #ffffcc;
					border-right: 1px solid $bd_color01;
				}				
				.bar_wrap {
					display: table;
					width: 100%;
				}
				.bar {
					text-align: center;
					display: table-cell;
					vertical-align: middle;
					font-size: 12px;
					line-height: 15px;
					height: 50px;
					span {
						font-size: 9px;
						line-height: 12px;
						display: block;						
					}
				}
			}
			#graph01{
				.limit {width: 100%;}
			}
			#graph02{
				.spend{width: 50%}
				.limit {width: 50%}
			}
			#graph03{
				.spend{width: 25%;}
				.limit {width: 75%;}
			}
			#graph04{
				.spend{width: 78%;}
				.limit {width: 22%;}
			}
		}
	}//#system
	#change {
		.login_btn {
			margin-top: 3px;
		}
	}
	/*  お借入シミュレーション結果 	-------------------------------------------------*/  
	.result_box {
		border: 4px solid #b7cee6;
		padding: 25px 15px;
		.shoulder {
			text-align: left;
			margin-top: -12px;
		}
		.message {
			font-size: 15px;
			line-height: 22px;
			color: $base_color01;
			text-align: center;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.guide {
			color: $base_color04;
			margin-bottom: 20px;
		}
		.app_btn_box {
			padding-bottom: 0;
			.btn.large {
				margin: 0;
			}
		}
	}
}//#loan
/*  プロミスのお利息 	-------------------------------------------------*/  
#interest {
	.interest_wrap {
		width: 100%;
		display: table;
	}
	.interest_box,.formula_box ,.date_box{
		display: table;
		float: left;
		text-align: center;
		font-size: 12px;
		line-height: 15px;
		.bar {
			display: table;
			width: 100%;
		}
		.box {
			display: table-cell;
			text-align: center;
			border: 1px solid $bd_color01;	
			height: 40px;
			vertical-align: middle;
			width: 100%;
		}
		span {
			display: block;
			text-align: center;
			font-size: 9px;
			line-height: 14px;
			margin-top: 2px;
		}
	}
	.interest_box {
		width: 21%;
		.box {
			background: #e5f1ff;		
		}
	}
	.ope {
		float: left;
		display: table;
		text-align: center;
		width: 7%;
		font-size: 12px;	
		line-height: 15px;
		span {
			display: table-cell;
			vertical-align: middle;
			height: 40px;
		}
	}
	.formula_box {
		width: 48%;
		&.long {
			width: 72%;
		}
	}
	.date_box {
		width: 17%;				
	}
	
}//#interest