@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   会員ログイン　 #login
---------------------------------------------------------------------------- */
#login {
	/*  ログインフォーム	-------------------------------------------------*/  
	#login_form {
		.software_key {
			margin: -20px 0 30px;
			font-size: 11px;
		}
		.tab_contents {
			table.login_input {
				border-collapse: separate;
				border-spacing: 0 20px;
				border: none;

				tr,td,th {
					border: none;
				}

				th {
					padding: 0;
					width: 65px;
				}
				td {
					padding: 0 0 0 10px;
					p {
						font-size: 9px;
						&.error_box {
							margin: 8px 0 0;
							padding: 5px 8px;
							border: 1px solid $key_color05;
							color: $key_color05;
						}
					}
				}
			}
			input[type="text"]{
				width: 100%;
				height: 30px;
				padding: 2px;
				border: 1px solid $bd_color04;
				box-sizing: border-box;
				@include borderRadius(0);
				-webkit-appearance: none;
				&.error {
					background: #ffdbdb;
				}
			}
			input[type="submit"]{
				width: 220px !important;
				margin: 0 auto 20px;
			}
			.navy input[type="submit"]{
				padding: 14px 0;
				font-size: 15px;
			}
			.gray input[type="submit"]{
				padding: 10px 0;
			}
			.anchorlink {
				margin: 0 -10px;
				padding: 20px 0;
				border-top: 1px solid #e0e0e0;
				text-align: center;
				.arrow.anchor {
					width: 220px;
					padding: 10px 0 10px 15px;
					box-sizing: border-box;
					&:before {
						left: 8px;
					}
				}
			}
		}

	}//#login_form
	#case{
		.case_box {
			padding: 20px;
			li {
				float: left;
				width: 304px;
				margin-right: 20px;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			.bln {
				padding: 20px;
				@include borderRadius(5px);
				border: 1px solid $bd_color01;
				position: relative;
				margin-bottom: 18px;
				&:after, &:before {
				    content: "";
				    position: absolute;
				    height: 0;
				    width: 0;
				}
				&:after {
				    bottom: -23px;
				    left: 50%; 
				    margin-left: -9px;
				    border: 9px solid transparent;
				    border-top: 14px solid #fff; 
				}
				&:before {
				    bottom: -25px;
				    left: 50%; 
				    margin-left: -10px;
				    border: 10px solid transparent;
				    border-top: 15px solid $bd_color01; 
				}
			}
			.icon_box {
				position: relative;
				height: 64px;
				margin-bottom: 24px;
				color: $base_color04;
				.icon {
					position: absolute;
				}
				.man {
					font-size: 72px;
					top: 0;
					left: 50%;
					margin-left: -36px;
				}
				.phone {
					font-size: 40px;
					top:5px;
					left: 50%;
					margin-left: -50px;
				}
			}
		}
	}//#case
}//#login
