@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
  　 #member_app
---------------------------------------------------------------------------- */
#member_app {
	/*  収入証明書類のご提出方法	-------------------------------------------------*/  
	#submission {
		.sec_box {
			margin-bottom:w0px;
			.title {
				margin-bottom: 10px;
			}
			.icon_box {
				line-height: 70px;
				font-size: 50px;
				width: 70px;
				color: $base_color04;
				border: 1px solid #ccc;
				@include borderRadius(3px);
				 text-align: center;
				float: left;
			}
			.content {
				margin-left: 84px;
			}
		}
		
	}
	/*  取引履歴照会	-------------------------------------------------*/ 
	#history {
		a.navigation {
			position: absolute;
			top: 5px;			
			bottom:0;
			z-index: 1;
			font-size: 36px;
			line-height: 1;
			text-decoration: none;
			color: #959595;
			&.prev {
				left: -30px;
			}
			&.next {
				right: -30px;
			}
			&.slick-disabled {
				opacity: 0;
				visibility: hidden;
			}
		}
		#date_list {
			margin-bottom: 10px;
			.list {
				text-align: center;
				position: relative;
				margin: 0 20px;
				.slick-track {
					height: 44px;
					text-align: center;
					//left: 0 !important;
					//overflow: hidden;
				}
				.item{					
					position: relative;
					display: inline-block;
					float: none;
					margin:0 1%;
					width: 23%;
					text-align: center;
					p {
						display: inline-block;
						width: 44px;
						height: 30px;
						font-size: 11px;
						line-height: 15px;
						padding: 7px 0;
						background: #d2d2d2;
						@include borderRadius(50%);
					}
					&.slick-current p{
						font-weight: bold;
						color: #fff;
						background: $key_color03;
					}
				}
			}
		}
		#history_list {
			position: relative;
			margin: 0 20px 15px 20px;
		}
		.history_content ,.history_title{
			border-bottom: 1px solid $bd_color01;
			li {
				padding: 4px;
				border: 1px solid $bd_color01;
				border-bottom: 0;
			}			
		}
		.history_title{
			position: absolute;
			left: 0;
			width: 30%;
			li {
				border-right: none;
				background: $bg_color02;		
			}			
		}
		.history_contents {
			position: relative;
			width: 100%;
			padding-left:30%;
			a.navigation {
				top:0;
				background: #eeeeee;
				height: 100%;
				width: 20px;
				color: #959595;
				&.prev {
					left: -24px;
				}
				&.next {
					right: -24px;
				}
				&.slick-disabled {
					opacity: 0.3;
					visibility: visible;
				}
				span {
					position: absolute;
					top: 50%;
					margin-top: -18px;
					text-indent: -8px;
				}
			}
		}
		.history_content {
			position: relative;
			float: left;
			width:100%;
			margin-right: 1px;
		}

	}
}
