@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
  その他
---------------------------------------------------------------------------- */
/*  結果一覧-------------------------------------------------*/  
#sitemap {
	.arrow {
		margin-bottom: 12px;
		.arrow {
			padding-left: 14px;
			&:first-child {
				margin-top: 12px;
				}
			}
		}
	.basic_title {
		font-size: 13px;
		border-bottom: 1px solid $bd_color01;
		padding-bottom: 5px;
	}
}
