@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   ポップアップ　 #popup
---------------------------------------------------------------------------- */
#popup {
	/*  header 	-------------------------------------------------*/  
	#header {
		border-bottom: none;
		 #header_upper {
		 	.call {
		 		float: right;
			    padding: 0 10px 0 6px;
			    margin-top: 14px;
			 	border-right: 1px solid #dcdcdc;			 	
		 	}
		}
	}
	/*  フォーム	-------------------------------------------------*/  
	.form{
		.lady {
			border-left: 1px solid $bd_color01;
			box-sizing: border-box;
		}
	}
	//新規申し込みボタンエリア
	.app_btn_box {
		.btn.large {
			margin: 15px 15px 40px 15px;
			a {
				background: $key_color03;
				font-size: 	20px;
				line-height: 1;
				@include borderRadius(30px);
				span{
					display: block;
					font-size: 12px;
					margin-bottom: 4px;
				}
				&:before {
					color: #f5a883;
					font-size: 64px;
					margin-top: -31px;
					right: -9px;			
				}
			}
			p.ico_pen02 {
				display: inline-block;
				padding-left: 24px;
				line-height: 1;
				&:before {
					 font-size: 40px;
					 left: -16px;
					 margin-top: -20px;					
				}
			}		
		}
	}

	/*  APE00137_書類撮影時のご注意-------------------------------------------------*/  
	#shooting{
		.shooting_box {
			background: #f7fbff;
			border: 2px solid #b7cee6;
			@include borderRadius(5px);
			padding: 15px;
		}
	}
}//#popup
