@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   ご返済　 #repayment
---------------------------------------------------------------------------- */
#repayment {
	/*  ご返済トップ	-------------------------------------------------*/  
	#scene {
		.accd_contents {
			padding: 10px 10px 0 0;
			.btn {
				float: left;
				a {
					color: $text_color01;
					font-size: 10px;
					line-height: 13px;
					width: 72px;
					height: 26px;
					padding: 45px 5px 10px 5px;
					margin: 0 0 10px 10px;
					&:before {
						color: $base_color04;
						font-size: 50px;
						margin-top: 0;
						top: 0;
						left: 50%;
						margin-left: -25px;
					}
					&.small {
						padding-top: 45px;
						&:before {
							font-size: 34px;
							top : 6px;
							margin-left: -17px;
						}
					}
					span.external{
						color: #333;								
					}
					&.triple {
						height: 39px;
						padding-top: 35px;
						padding-bottom: 7px;
						&:before {
							font-size: 30px;
							margin-left: -15px;
							top : 5px;
						}
						span.external{
							letter-spacing: -1px;
							&:after {
						  	  right: -14px;
						  	  bottom: -1px;
						  	  margin-top: 0;
						  	  top: inherit;				
						    }					
						}	
					}
					span.external {
						padding-right: 0;
						&:after {
							right: -20px;					
						  	  bottom: -1px;
						  	  margin-top: 0;
						  	  top: inherit;		
						}
					}
				}
			}
		}
	}//#scene 
	.other {
		p,li{
			font-size: 10px;
			line-height: 16px;
		}
	}
	#reasonable {
		.btn_box {
			text-align: center;
			font-size: 0;
			border: none;
			
		}
		.btn {
			a {
				font-size: 10px;
				line-height: 16px;
				font-weight: normal;
				text-align: left;
				vertical-align: top;
				.title {
					font-size: 12px;
					line-height: 17px;
					font-weight: bold;
					margin-bottom: 8px;
				}	
			}		
		}
	}
	/*  提携先のご案内	-------------------------------------------------*/  
	table.timing {
		font-size: 9px;
		table-layout: auto;
		td,th {
			padding: 8px 6px;
		}
		.transaction{ width: 50%;}
		.atm {width: 28%;}
		.transaction_title {width: 22%;}
		.charge { width: 25%;}
	}
	table.partner_list {
		td {
			padding: 10px;
			font-size: 10px;
			.name a {
				text-decoration: none;
				&:hover {text-decoration: underline;}
			}
		}	
	}//.table.partner_list  
	/*  ご返済金額について	-------------------------------------------------*/  
	#amount {
		.calculation_eg {
			.title_line {
				display: table;
				table-layout: fixed;
				width: 100%;
				* {
					display: table-cell;
					font-size: 9px;
					box-sizing: border-box;
					vertical-align: bottom;
					line-height: 14px;
				}
				.blance {
					width: 20%;
				}
				.percentage {
					width: 32%;
					text-align: center;
				}
				.amount {
					width: 48%;
					text-align: right;
				}
			}
			.blance_box ,.percentage_box ,.amount_box{
				float: left;
				text-align: right;				
				font-size: 9px;
				line-height: 26px;
				font-weight: bold;
				.box {
					display: table-cell;
					vertical-align: middle;
					height: 40px;
					width: 126px;
					padding: 2px 5px 0 0;
					border: 1px solid $bd_color01;
					
					span { font-size: 11px; }
				}
			}
			.blance_box { width: 20%; text-align: center; }
			.percentage_box { width: 17%; }
			.percentage_box .box{ text-align: center; padding: 3px 0 0 0;}
			.amount_box {
				position: relative;
				width: 22%;
				&.arrow {
					margin-right: 7%;
					padding-left: 0;
					&:before {
						position: absolute;
						content: " ";
						display: block;
						background: $base_color02;
						width: 8px;
						height: 16px;
						@include borderRadius(2px);
						left: inherit;
						right: -14px;
						top: 50%;
						margin-top: -8px;
					}
					&:after {
						position: absolute;
						content: " ";
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 8px 0 8px 7px;
						border-color:  #fff transparent #fff transparent;
						right: -14px;
						top: 50%;
						margin-top: -8px;
					}
				}
			}
			.ope {
				float: left;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 6%;
				padding-top: 11px;
				font-size: 16px;
				line-height: 25px;
				&.multiply {
				}
			}				
		}
	}//#amount 
	#rule {
		.rule_box_wrap {
			position: relative;
			margin-bottom: 35px;
			&:after {
			  position: absolute;
			  content: " ";
			  display: block;
			  width: 0;
			  height: 0;
			  border-style: solid;
			  border-width: 15px 25px 0 25px;
			  border-color: $base_color02 transparent;
			  bottom: -25px;
			  left: 50%;
			  margin-left: -25px;
			}
			&.last{
				margin-bottom: 0;
				&:after {
					content: none;
					display: none;
				}
			}
		}
		.rule_box {			
			th,td {
				text-align: left;
				&.image {
					width: 46%;
				}
				&.blance{
					width: 32%;
				}
				&.amount{
					width: auto;
				}
			}
			th.image {
				background: #e5f1ff;
			}
			td.image {
				background: #f7fbff;
				.bar {
					margin-top: 5px;
					margin-bottom: 10px;
					p {
						float: left;
						line-height: 14px;
						padding: 10px 0;
						text-align: center;
						border: 1px solid $bd_color01;
						span {
							font-weight: bold;
							font-size: 12px;
							color: $key_color03;
						}
						&.base {
							width: 38px;
							background: #ffffcc;
							font-size: 10px;
							&.four {
								width: 28px;
							}
						}
						&.add {
							width: 76px;
							background: #dff5be;
							border-left: 0;
							font-size: 10px;
							&.thin {
							    width: 15px;
							    overflow: visible;
							    white-space: pre;
							    word-break: normal;
							    text-indent: 10px;
							}
						}
					}
				}
			}
		}
	}//#rule
	/*  ご返済のワンポイント	-------------------------------------------------*/  
	.onepoint {
		.btn.type02.point {
			.btn_inner {
				border-width: 0;
				padding: 0;
				font-size: 11px;
				line-height: 1.2;
				&:after {content: none;}
				a {
					text-align: left;
					display: block;
					padding: 15px;
					&:hover {
						opacity: 0.6;
					}
					&:after {

						border-width: 0 0 10px 10px;
					}
				}
				.shoulder {
					font-size: 11px;
					line-height: 16px;
					font-weight: normal;
					margin-bottom: 5px;
				}
				.title {
					font-size: 13px;
					line-height: 19px;
					margin-bottom: 5px;
					&:before {
						color: $key_color01;
					    font-size: 48px;
					    top: -10px;
					    margin-top: 0;
					    left: -20px;
					}
				}
				.important {
					font-size: 11px;
					font-weight: bold;
					color: $key_color03;					
				}
			}
		}
	}//onepoint
	.onepoint_flow {
		.action_flow {
			li .inner p span{
				letter-spacing: -1px;
				padding-right: 6px;
				padding-left: 8px;
			}
		}
		&#flow01 {
		.action_flow li:nth-child(1) {width: 34%;}
		.action_flow li:nth-child(2) {width: 40%;}
		.action_flow li:nth-child(3) {width: 35%;}
		}
		&#flow02 {
			.action_flow li:nth-child(1) {width: 22%;}
			.action_flow li:nth-child(2) {width: 32%;}
			.action_flow li:nth-child(3) {width: 23%;}
			.action_flow li:nth-child(4) {width: 23%;}
		}
	}
	table.simulation_box  {
		border: 1px solid $bd_color01;
		text-align: center;
		th {
			background: none;
			width: 33%;
			padding-top: 12px;
			padding-bottom: 5px;
			vertical-align: top;
		}
		tr {
			border-bottom: none;
			border-top: none;
		}
		td {
			text-align: center;
			padding-top: 0;
			padding-bottom: 12px;
			.num {
				font-size: 20px;
				line-height: 20px;
				font-weight: bold;
			}
		}
	}
	.result_box {
		padding: 15px;
	}
}//#repayment
