@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   店舗・ATM　 #shop
---------------------------------------------------------------------------- */
#shop {
	.search_btn_list {
		.btn.type02 {
			margin: 0 0 15px 0;
			a,input[type="submit"],button ,.btn_inner {
				font-size: 15px;
			}			
		}
	}

	/*  結果一覧-------------------------------------------------*/  
	.address_list {
		.number {
			position: absolute;
			top: 50%;
			right: 10px;
			display: inline-block;
			height: 25px;
			margin: -12px 0 0;
			padding: 0 10px;
			background: $base_color04;
			color: $bg_color01;
			font-size: 10px;
			border-radius: 12px;
			line-height: 25px;
			&.zero {
				background: $bd_color04;
				color: $bg_color01;
			}
		}
	}
	/*  住所あ〜わ一覧 	-------------------------------------------------*/  
	//アコーディオンボックス
	.accd_box {
		margin-bottom: 10px;
		.accd_btn {
			font-size: 15px;
			font-weight: bold;
			line-height: 18px;
			color: $text_color01;
			text-align: left;
			padding: 12px 40px 12px 12px;
			margin-bottom: 0;
			background-color: #fff;
			span {
				border: none;
				font-size: 12px;
				&:after{
					color: $base_color04;
				    right: -33px;
				    margin-top: -6px;
				}
			}
			&.open {
				background-color: $base_color04;
				color: #fff;		
				span:after {
					color: #fff;
				}								
			}
		}
		.accd_contents {
			border: 1px solid #e2e2e2;
			border-top: none;
			@include borderRadius(0 0 3px 3px);
			//市町村一覧
			.address_list li {
				border-top: 1px solid #e2e2e2;
				&:first-child {
					border-top : none;
				}
				&>* {
					position: relative;
					display: block;
					padding: 15px 100px 15px 32px;
					color: $text_color01;
					text-decoration: none;
					&::before {
						position: absolute;
						top: 50%;
						left: 12px;
						display: block;
						content: "";
						width: 10px;
						height: 0;
						border-top: 1px solid $bd_color04;
						text-decoration: none;
					}
				}
				&:first-child {
					border-top: none;
				}
			}
		}
		//白抜き
		&.rev {
			.accd_btn {
				color: #fff;
				background-color: $base_color04;
				&:after {
					color: #e5f1ff;
				}
			}
		}
	}
	/*  住所で探す・住所入力 	-------------------------------------------------*/
	.search_box {
		position: relative;
		input {
			font-size: 13px;
			line-height: 14px;
			height: 40px;
			box-sizing:border-box;
		}
		input[type="text"] {
			border: 1px solid #ddd;
			border-right: none;
			padding: 9px 15px 4px 15px;
			width: 100%;
			@include borderRadius(40px);
		}
		input[type="submit"],button  {
			position: absolute;
			@include linearGradient(0deg, rgb(230,230,230) 0%, rgb(255,255,255) 100%);
			border: 1px solid #ddd;
			top: 0;
			right: 0;
			width: 62px;
			text-align: center;	
			@include borderRadius(0 40px 40px 0);
		}
	}


	/*  検索結果 	-------------------------------------------------*/
	//取り扱いサービス
	.service li {
		float: left;
		width: 40px;
		height: 8px;
		margin: 0 5px 0 0;
		padding: 28px 0 12px 0;
		border: 1px solid $bd_color01;
		box-sizing: border-box;
		@include borderRadius(4px);
		text-align: center;
		line-height: 1;
		&:before {
		    font-size: 24px;
		    line-height: 24px;
		    color: #4882be;
		    left: 50%;
		    margin-left: -12px;
		    top: 19px;
		}
		&.off {
			color: $bd_color02;			
			&:before{
				color: $bd_color04;
			}
		}
		span {
			display: block;
			font-size: 8px;
			font-weight: normal;
		}
	}
}
