/* ----------------------------------------------------------------------------
    ログイン前
---------------------------------------------------------------------------- */
#all{
	.iframe {
		#header {
			position: relative !important;
		}
	}
/* ----------------------------------------------------------------------------
    header
---------------------------------------------------------------------------- */
	#header {
		border-bottom: none;
		 #header_upper {
		 	.call {
		 		float: right;
				padding: 0 10px 0 4px;
				margin-top: 17px;
			 	border-right: 1px solid #dcdcdc;			 	
		 	}
		}
		#header_btm {
			width: 100%;
			font-size: 0;
			a {
				display: inline-block;
				text-decoration: none;
				opacity: 1;
				text-align: center;
				@include transition(250ms ,opacity);
				vertical-align: top;
				&:hover {		
					opacity: 0.8;
				}
				&.btn_l {
					width: 36%;
					background: $base_color01;
					color: #fff;
					font-size: 13px;
					font-weight: bold;
					line-height: 1;
					padding: 16px 0;
				}
				&#header_app {
					background: $key_color03;					
				}				
				&.btn_s {
					width: 14%;
					background: #eeeeee;
					font-size: 0;
					padding: 0;
					height: 45px;
					&:before {
						font-size: 24px;
						color: #535353;
						left: 50%;
						margin: -12px 0 0 -12px;
					}
					&.close_menu {					
						background: $base_color01;
						padding-bottom: 2px;
						&:before {
							content: "\e920";
							color: #fff;
						}
					}
				}			
			}
		}
		#search_box {
			display: none;
			width: 100%;
			top: 94px;
			font-size: 13px;
			overflow:scroll;
			position: absolute; 
			background: $base_color01;
			.search_box {
				position: relative;
				input {
					font-size: 13px;
					line-height: 14px;
					height: 40px;
					box-sizing:border-box;
				}
				padding: 18px 14px;
				input[type="text"] {
					border: #ddd;
					padding: 9px 15px 4px 15px;
					width: 100%;
					@include borderRadius(40px);
				}
				input[type="submit"],button  {
					position: absolute;
					@include linearGradient(0deg, rgb(230,230,230) 0%, rgb(255,255,255) 100%);
					border: none;
					border-left: 1px solid #ddd;
					top: 18px;
    				right: 14px;
    				width: 62px;
    				text-align: center;	
					@include borderRadius(0 40px 40px 0);
				}
			}
		}
		#main_menu {
			top: 104px;
			font-size: 13px;
			overflow:scroll;
			position: absolute; 
			border: 10px solid $base_color01;
			border-width: 10px 0;
			#global_navigation {
				padding: 0 10px 0;
				ul {
					display: block;
				}
				li {
					display: block;
					width: auto;
					height: auto;
					border: none;
					margin-bottom: 5px;
					a {
						display: block;
						text-align: left;
						&.global {
							margin: 0;
							font-size: 15px;
							padding: 16px;
							line-height: 18px;
							background-color: #fff;
							@include transition(250ms ,background-color);
							&.open {
								background-color: #eee;
							}
							span:after {
							    margin-top: -6px;
							    top: 0;
							    right: -12px;					
							}
						}
						&.arrow {
							&:before {
								font-size: 52px;
								right: -7px;
								margin-top: -25px;
							}
						}
						&.external {
							&:after {
							font-size: 26px;
							right: 7px;
							margin-top: -14px;
							color: #9e9e9e;
							}
						}
					}
				}
				.sub {
					border-top: 1px solid $base_color01;
					li {
						//border-right: 1px solid $base_color01;
						border-bottom: 1px solid $base_color01;
						margin-bottom: 0;
						float: left;
						width: 50%;
						a {
							display: table;
							height: 50px;
							width: 100%;
							padding: 0;
							margin: 0;
							span {
								display: table-cell;
								vertical-align: middle;
								padding: 0 12px 0 24px;
								color: $base_color01;
								&:before {
									color: $base_color01;
									left: 0;
								}
							}
						}
						&:nth-child(2n) span{
							border-left: 1px solid $base_color01;
						}
					}
				}//#global_navigation
			}//
			#utility_navigation {
				background: #fff;
				margin: 0 10px;
				padding: 15px 15px 15px 15px;
				li {
					margin-bottom: 15px;	
					&:last-child{margin-bottom: 0;}				
				}
				a{
					text-decoration: none;
					.arrow:before {
					color: $base_color01;
					}
				}
			}
		}
	}


	/* ----------------------------------------------------------------------------
	    contents
	---------------------------------------------------------------------------- */
	.contents {
		padding-top: 107px;
	}
	//キャッチエリア
	.catch_box {
		border-top: 1px solid #ccc;
		padding: 15px 0 40px;
		p{
			padding: 0 15px;			
		}
		.catch {
			font-size: 14px;
			font-weight: bold;
			line-height: 19px;
			color: $base_color01;
			margin-bottom: 6px;
		}
		.catch_img {
			position: relative;
			border-bottom: 1px solid #ccc;
			margin-bottom: 18px;
			.btn {
				padding: 0;
				position: absolute;
				margin-top: -25px;
				top: 50%;
				right: 5%;
			}
		}
		&.no_img {
			padding:0 0 15px;
			border-top: none;
			.catch {
				color: $text_color01;
			}
		}
	}
	//申し込みボタンエリア
	.app_btn_box {
		padding-bottom: 20px;
		.btn.large {
			margin: 15px 15px 12px 15px;
			a {
				font-size: 	20px;
				line-height: 20px;
				@include borderRadius(30px);
				.small{
					display: block;
					font-size: 12px;
					margin-bottom: 4px;
					line-height: 18px;
				}
				&:before {
					color: #f5a883;
					font-size: 64px;
					margin-top: -31px;
					right: -9px;			
				}
				&.text_middle {
					font-size: 17px;
				}
				&.single {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
			.ico_pen02 {
				display: inline-block;
				padding-left: 24px;
				line-height: 1;
				&:before {
				    font-size: 40px;
				    left: -16px;
				    margin-top: -20px;					
				}
			}		
		}
		.btm_text {
			text-align: center;
			a {
				text-align: left;
				display: inline-block;
				text-decoration: none;
				font-size: 12px;
				line-height: 15px;
				padding-left: 24px;
				padding-right: 30px;
				border-right: 1px solid $bd_color01;
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
					border-right: 0;
				}
				&:before {
					color: $key_color03;
				}
				span{
					padding: 0;
					position: relative;
					display: inline-block;
					&:before {
						left: inherit;
						right: -28px;
						color: $key_color01;
					}
				}
			}
		}	
	}//.app_btn_box
	.accd.sec_title a{
		font-size: 18px;
		padding: 12px;
		color: #000;
		margin-bottom: 0;
	}
	.carousel {
		background: #fff;
		position: relative;
		overflow: hidden;
		.list {
			position: relative;
			text-align: center;
			font-size: 0;
			.item {
				margin-left: 45px;
				margin-right: 45px;
				text-align: center;
			}
			a {
				font-size: 13px;
				text-decoration: none;
				color: #000;
			}
			h4 {
				margin-top: 9px;
				margin-bottom: 6px;
			}
		}
		.navigation_wrap {
			display: none;
			position: relative;
			height: 40px;
			background: #eee;
		}
		a.navigation {
			position: absolute;
			width: 30px;
			padding: 2px 0;				
			top:50%;
			margin-top: -64px;
			z-index: 1;
			font-size: 48px;
			line-height: 1;
			color: #959595;
			text-align: center;
			text-indent: -3px;
			text-decoration: none;
			&.prev {
				left: 0px;
			}
			&.next {
				right: 12px;
			}
		}
		.slick-dots {
			text-align: center;
			font-size: 0;
			line-height: 10px;
			width: 100%;
			padding: 15px 0;
			li {
				margin:0 4px;
				display: inline-block;
				opacity: 1;
				@include transition(250ms ,opacity);
				input[type="button"], button {
					display: block;
					width: 10px;
					height: 10px;
					padding: 0;
					font-size: 0;
					background: #d2d2d2;
					border: none;
					@include borderRadius(50%);
				}
				&.slick-active{
					 input[type="button"], button {
						 background: $key_color03;
					}
				}
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}//carousel
	#footer_bnr_carousel {
		margin-top: 30px;
		margin-bottom: 10px;
		a.navigation {margin-top: -48px;}
	}
	//3つ並びボタン
	#tri_menu {
			margin-top: -2px;
			border-top: 1px solid $bd_color01; 
			border-bottom: 1px solid $bd_color01; 
			li {
				border-right: 1px solid $bd_color01; 
				width: 33%;
				float: left;
				&:last-child {
					border-right: none; 					
				}
				a {
					border: none;
					color: #000;
					font-size: 12px;
				}
				.bln {
					display: block;
					margin: 0 auto 14px auto;
					font-size: 11px;
					line-height: 12px;
					color: #fff;
					width: 64px;
					padding: 8px;
					text-align: center;
					position: relative;
					background: $base_color01;
					@include borderRadius(16px);
					&:after {
					    content: " ";
					    position: absolute;
						right: 27px;
						bottom: -9px;
					    width: 0;
					    height: 0;
					    border-style: solid;
					    border-width: 10px 10px 0 10px;
					    border-color: $base_color01 transparent transparent  transparent;												
					}
				}
			}
		}//tri_menu
		//商品・サービス
		#introduce {
			background: $bg_color02;
			margin-bottom: 20px;			
			&.sec {
				padding-top: 20px;
				padding-bottom: 10px;
				margin-bottom: 0;
				.sec_title {
					text-align: center;
					border-bottom: none;
					font-size: 17px;
					padding-bottom: 0;
					margin-bottom: 12px;
				}
			}			
			.btn_inner {
				color: #535353;
				font-size: 13px;
				line-height: 17px;
				font-weight: normal;
				display: block;
				padding: 16px 0;
				text-align: left;
				@include boxShadow(1px 2px 2px 0px rgba(0, 0, 0, 0.1));
				margin-bottom: 10px;
				a {
					color: #535353;
					font-size: 13px;
					line-height: 17px;
					font-weight: normal;
					text-align: left;										
				}
				.upper {
					padding: 0 16px;
					.img {
						float: left;
						width: 18%;
					}
					.text {
					    float: left;
					    width: 75%;
					    margin-left: 10px;
						h4 {
							font-size: 16px;
							line-height: 1;
							color: #000;
							margin-bottom: 6px;
						}
					}
				}
				a {
					position: relative;
					padding: 0;
					border: none;
					&:after {
						position: relative;
						border: none;
					}
				}
				.btm {
					text-align: center;
					border-top: 1px solid $bd_color01;
					padding: 15px 15px 0 15px;
					margin-top: 15px;
					h5 {
						color:#36beac;
						margin-bottom: 4px;
					}
					.btn a {
						background: #36beac;
						color: #fff;
						font-size: 15px;
						padding: 12px 16px;
						text-align: center;
						@include borderRadius(30px);
						&:before {
							color: #fff;
						}
						span {
							padding-left: 22px;
							&:before {
								font-size: 24px;
								top: 50%;
								left: -4px;
								margin-top: -12px;																
							}
						}
					}
				}
			}
		}//introduce
		//アコーディオンボックス
	.accd_box {
			border: 1px solid #e2e2e2;
			@include borderRadius(3px);
			margin-bottom: 10px;
			overflow: hidden;
			text-align: left;
			.accd_btn {
				position: relative;
				display: block;				
				border: none;
				font-size: 15px;
				font-weight: bold;
				line-height: 18px;
				color: $text_color01;
				text-decoration: none;
				text-align: left;
				padding: 12px 40px 12px 12px;
				margin-bottom: 0;
				background-color: #fff;
				@include borderRadius(3px 3px 0 0);
				@include transition(250ms ,background-color);
				&:after {
					@include iconFont();
					position: absolute;
					content:'\e917';
					color: $base_color04;
					right: 10px;
					top: 10px;
					right: 6px;
					top: 50%;
					font-size: 32px;
					margin-top: -16px;
				}
				span {
					border: none;
					font-size: 12px;
					&:after{
						content: none;
					}
				}
				&.open {
					background-color: $base_color04;
					color: #fff;		
					&:after {
						content:'\e915';
						color: #fff;
					}								
				}
			}
			.accd_contents {
				border-top: 1px solid #e2e2e2;
				padding: 12px;
			}
			//白抜き
			&.rev {
				.accd_btn {
					color: #fff;
					background-color: $base_color04;
					&:after {
						color: #e5f1ff;
					}
				}
			}
		}
		//よくあるご質問
		#faq {
			h3 {
				padding-bottom: 12px;
			}
			.faq_box {
				.question {
					span {
						border: none;
						margin-left: 24px;
						font-size: 12px;
						&:after{
							content: none;
						}
					}
					span.qa {
						float: left;
						margin-left: 0;
						font-size: 15px;
						color: $base_color04;
						position: relative;
						text-align: center;
						vertical-align: middle;
						font-family: "arial";
						font-weight: normal;
						&:before {
							content: " ";
							position: absolute;
							width: 20px;
							height: 20px;
							left: -5px;
							top: -2px;
							@include borderRadius(50%);
							border: 1px solid $base_color04;
						}
					}
					&.open {
						span.qa {
							color: #fff;
							&:before {
								border-color: #fff;
							}
						}									
					}
				}
				.answer {
					border-top: 1px solid #e2e2e2;
					padding: 12px;
					.answer_title {
						p.qa {
							font-size: 15px;
							line-height: 18px;
							color: $base_color01;
							position: relative;
							font-family: "arial";							
							float: left;	
							text-indent: 1px;
							&:before {
								content: " ";
								position: absolute;
								width: 20px;
								height: 20px;
								left: -5px;
								top: -2px;
								@include borderRadius(50%);
								border: 1px solid $base_color01;
							}						
						}
						.title {
							font-size: 12px;
							margin-left: 24px;
							margin-bottom: 8px;
						}
					}
					.answer_content {
						margin-left: 24px;
					}
					.answer_inner {
						margin-left: 24px;
						ul {
							margin-top: 5px;
							li {
								margin-bottom: 8px;
								line-height: 1.45;
							}
						}
						.arrow {
							padding-left: 8px;
							&:before {
							color: $base_color01;
							font-size: 16px;
							margin-top: -8px;
							left: -6px;
							}
						}
						a {
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}						
					}
				}
			}
		}//faq
}

