/* ----------------------------------------------------------------------------
    Common
---------------------------------------------------------------------------- */
body {
	font-size: 11px;
	line-height: 1.45;
	min-width: 320px;
	position: relative;
}
img {
  border: 0;
  vertical-align: middle;
  line-height: 1;
  -ms-interpolation-mode: bicubic;
	max-width:100%;
	height: auto;
}
.all_wrapper {
	position: relative;
	overflow: visible;
	&.fixed {
		position: fixed;
		overflow: hidden;
	}
	.inner {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.contents {
	position: relative;
	overflow: hidden;	
	//@include animation(0.9s,fade-in);
	z-index: 0;
	padding: 62px 0 30px;
}

/*  btn --------------------------------------------------------*/  
.btn.type01 {
	a:visited{
		color: $text_color01;		
	}
	a,input[type="submit"],button {	
		-webkit-appearance: none;	
		appearance : none;
		border: none;
		display: block;
		color: $text_color01;		
		font-size: 12px;
		line-height: 13px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		padding: 12px 14px;
		opacity: 1;
		background: $base_color02;
		@include borderRadius(25px);	
		@include transition(250ms ,opacity);
		position: relative;
		&:hover {		
			opacity: 0.8;
		}
		&:before {
			@include iconFont();
			display: block;
			position: absolute;
			content : "\e91a";
			font-size: 28px;
			color: $base_color01;
			top:50%;
			right: 2px;
			margin-top: -14px;
		}
		&.noarrow:before {
			content: none;
		}
		.ico_ck02{
			padding-left: 18px;
			&:before {
				font-size: 15px;
				line-height: 15px;
				margin-top: -7px;
				left: 0;
			}
		}
		&.wide {
			width: 85%;
			display: inline-block;
		}
		&.middle {
			width: 50%;
			display: inline-block;
		}
		&.auto_wide {
			padding-left: 40px !important;
			padding-right: 40px !important;
			display: inline-block;
			width: auto;
		}
		&.auto {
			padding-left: 25px !important;
			padding-right: 25px !important;
			display: inline-block;
			width: auto;
		}
	}
	.external {
		&:after {
			display: inline;
			position: inherit;
			color: $base_color01;
		}
	}
	&.orange {
		a,input[type="submit"],button  {
			background: $key_color03;
			color: #fff;
			&:before {
				color: lighten($key_color03,27%);
			}
		}
	}	
	&.gray {
		a,input[type="submit"],button  {
			background: #eee;
			color: $text_color01;
			&:before {
				color: #535353;
			}
		}
	}	
	&.lightblue {
		a,input[type="submit"],button  {
		color: $base_color01;
		background-color: $base_color02;
		@include linearGradient(0deg, $base_color02,lighten($base_color02,10%));		
		}
	}
	&.navy {
		a,input[type="submit"],button  {
			color: #fff;
			background: $base_color01;	
		}
	}
	&.green{
		a,input[type="submit"],button  {
			color: $text_color01;
			background: #d8f0c4;	
		}
	}
	&.simplewhite {
		a,input[type="submit"],button  {
			background: #fff;
			color: $base_color01;
			border: 1px solid #d8d8d8;
			padding-top: 11px;
			padding-bottom: 11px;
		}						
	}
	&.login_btn {
		a,input[type="submit"],button  {
			font-size: 15px;
			line-height: 16px;
			@include borderRadius(20px);
		}	
		span{
			padding-left: 18px;			
			&:before {
			    font-size: 24px;
				margin-top: -12px;
			}
		}
	}
	&.close_btn {
		display: inline-block;
		a,input[type="submit"],button  {
			color: #fff;
			background: #999;
			padding-left: 25px;
			padding-right: 25px;
		}
		span{
			padding-left: 16px;			
			&:before {
			    font-size: 12px;
				margin-top: -5px;
				left: 0;
			}
		}		
	}
	&.form_btn {
		
	}
	&.thin {
		a,input[type="submit"],button {	
		font-size: 11px;
		line-height: 12px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		padding: 9px 14px;	
		@include borderRadius(15px);			
		}
	}
	&.no_grad {
		a,input[type="submit"],button  {
			background-image: none;
		}
	}
}

.btn.type02 {
	a:visited{
		color: $text_color01;
	}
	a,input[type="submit"],button ,.btn_inner {
		display: block;
		position: relative;
		@include borderRadius(3px);
		background: #fff;
		border: 1px solid $bd_color01;
		text-align: center;
		color: $text_color01;
		padding: 14px 0;
		font-size: 13px;
		line-height: 17px;
		font-weight: bold;
		text-decoration: none;
		opacity: 1;
		@include transition(250ms ,opacity);
		&:hover {		
			opacity: 0.8;
		}
		&:after {
			content: " ";
			position: absolute;
			right: 1px;
			bottom: 1px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 15px 15px;
			border-color: transparent transparent $key_color01 transparent;
		}
		&[class*="ico_"] {
			padding-left: 50px;
			&:before {
				color: $base_color04;
				left: 10px;
			}			
		}
	}
}
/* ----------------------------------------------------------------------------
    header
---------------------------------------------------------------------------- */
#header {
	position: absolute;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
	@include animation(0.6s,fade-in);
	border-top: 5px solid $base_color01;
	border-bottom: 1px solid $base_color01;
	&.fixed {
		position: fixed;
	}
	#header_upper{
		position: relative;
		.fl_left {
			width: 210px;	
		}
		#service_logo {
			padding: 7px 10px 10px 10px;
			width: 70px;
			float: left;
		}
		.call {
			padding: 17px 15px 0 5px;
			width: 100px;
			float: left;
		}
		#header_btn {
			background: #eeeeee;
			width: 110px;
			float: right;
			text-align: center;
			font-size: 0;
			a {
				font-size: 9px;
				line-height: 1;
				text-decoration: none;
				color: $text_color01;
				display: inline-block;
				width: 50%;
				position: relative;
				padding: 37px 0 10px ;
				&:before {
					font-size: 24px;
					top: 11px;
					left: 50%;
					margin-top: 0;
					margin-left: -12px;
				}
				&#menu_btn {
					font-size: 0;
					padding-top: 45px;
					&:before {
						top : 16px;
					}
					&.close_menu {
						background: $base_color01;
						color: #fff;
						&:before {
							content: "\e920";
						}
					}
				}
			}
		}
	}//#header_upper
	#main_menu {
		display: none;
		position: absolute;
		background: $base_color01;
		width: 100%;
		 top: 55px;
		 #global_navigation {
			 padding: 3px;
			 ul {
			 	display: table;
			 	width: 100%;
			 }		 
			 li {
			 	display: table-cell;
			 	width: 50%;
				background: #fff;
				border: 2px solid $base_color01;
				height: 60px;
				vertical-align: middle;
				 a {
				 	display: block;
					 padding: 0 10px;
					font-size: 13px;
					line-height: 18px;
					text-decoration: none;
					color: $text_color01;
					&:before {
						font-size: 24px;
						margin-top: -12px;
						left: inherit;
						right: 8px;
						color: #9e9e9e;
					}
				 }
			 }
		 }//#global_navigation
		 .nav_box {
			background: #fff; 
			margin: 0 5px; 
		 }
		 #global_usage {
				padding: 15px 12px;
				h4 {
					font-size: 13px;
					line-height: 15px;
					margin-bottom: 6px;
				}
				li {
					font-size: 11px;
					line-height: 27px;
					a:before {
						color: $base_color01;
					}
				}
		 }//#global_navigation
		 #global_shop {
			 	border-top: 1px dotted $bd_color03;
			 	padding: 15px;
			 	text-align: center;
			 	.btn {
				 	margin-bottom: 15px;
			 	}
			 	.arrow:before {
				 	color: $base_color01;
			 	}
		 }//#global_shop
		 #global_close_btn {
		 	text-align: center;
		 	font-size: 13px;
		 	line-height: 20px;
		 	margin-bottom: 12px;
			a { 
				display: block;
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				padding: 12px 0;
				span {
					padding-left: 10px;
					&:before {
						font-size: 15px;
						margin-top: -8px;
					}
				}
			}
		 }
	}
}
h2#header_title {
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	font-weight: bold;
	background: $base_color01;
	padding: 11px 15px 12px 15px;
    position: relative;
    top: 62px;
}

/* ----------------------------------------------------------------------------
    noscript
---------------------------------------------------------------------------- */
#noscript {
	color: $key_color05;
	text-align: center;
	padding: 13px 0;
	border-top: 1px solid $base_color01;
	border-bottom: 1px solid $base_color01;
}
/* ----------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------- */
#footer {
	position: relative;
	z-index: 0;
	.utility {
		border: 1px solid $bd_color03;
		@include borderRadius(4px);
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 10px;
		li {
			border-bottom: 1px dotted $bd_color03;
			&:last-child {
				border-bottom: none;
			}
			a {
				display: block;
				color : $text_color01;
				text-decoration: none;
				padding: 14px 8px;
				&:after {
					font-size: 12px;
					top:50%;
					margin-top: -6px;
					right: 8px;
					color: $text_color03;
				}
			}
		}
	}//.utility
	#to_pc {
			border-top: 1px dotted $bd_color03;
			border-bottom: 1px dotted $bd_color03;
			margin-bottom: 10px;
		a {
			display: block;
			text-align: center;
			font-size: 12px;
			line-height: 16px;
			font-weight: bold;
			color: $text_color01;
			text-decoration: none;
			padding: 7px;
			.ico_pc01:before {
			    font-size: 28px;
			    margin-top: -14px;				
			}
		}
	}//#to_pc
	.marks {
		text-align: center;
		.mark {
			padding: 0 7px;
			height: 66px;
		}
		p {
			margin-top: 12px;
			text-align: left;
			font-size: 11px;
			line-height: 16px;
		}
	}//.marks
	.attention {
		padding: 14px;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		p {
			font-size: 11px;
			line-height: 16px;
			text-align: left;
		}
	}//.marks
	.registration {
		border-top: 1px dotted $bd_color03;
		padding-top: 5px;
		padding-bottom: 10px;
		font-size: 11px;
		line-height: 16px;
	}//.registration
	#copyright {
		background: $base_color01;
		border-bottom: 5px solid $key_color03;
		padding: 10px;
		font-size: 10px;
		line-height: 16px;
		text-align: center;
		color: #fff;
	}
}

/* ----------------------------------------------------------------------------
    sec content
---------------------------------------------------------------------------- */
.gray_box {
		@include boxShadow(0 0 0 1px #fff, 0 0 0 2px $bd_color03);
		@include borderRadius(4px);
		background: $bg_color04;
		padding: 10px 12px;
		margin-bottom: 20px;
}
.sec {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
	&.wide {
		padding-left: 0;
		padding-right: 0;
	}
	p {
		line-height: 1.63;
		&.small {
			font-size: 10px;
		}
	}
	/*  title 	-------------------------------------------------*/  
	.sec_title {
		font-size: 15px;
		line-height: 22px;
		font-weight: bold;
		//padding: 0 0 8px 0;
		margin-bottom: 14px;
		//border-bottom: 1px solid $bd_color01;	
		&[class*="ico_"] {
			position: relative;
			padding-left: 50px;
			line-height: 45px;
			&:before {
				color: $base_color04;
				font-size: 44px;
				left: 0px;
				margin-top: -22px;
			}
			&.double {
				line-height: 22px;
			}
		}
		&.ico_pc01{
			padding-left: 58px;
			&:before {
				margin-top: -40px;
				font-size: 80px;
				left: -15px;
			}
		}
		&.ico_yen02 {
			padding-left: 36px;
			&:before {left: -6px;}
		}
		&.ico_yen10{
			padding-left: 62px;
			&:before {
				margin-top: -28px;
				font-size: 56px;
			}
		}
		&.ico_mail01 {
			padding-left: 46px;
			&:before {
				margin-top: -20px;
				font-size: 40px;
			}
		}
		&.ico_doc03 {
			padding-left: 40px;
			&:before {
				margin-top: -17px;
				font-size: 34px;
			}
		}		
		&.ico_ex01{
			padding-left: 20px;
			&:before {
			color: $key_color05;
			font-size: 16px;
			margin-top: -9px;
			}
		}
		&.ico_lady01 {
			&:before {
			color: #f6637f;
			}			
		}
		&.bd_btm_none {
			padding-bottom: 0;	
		}		
	}
	.square_title {
		position: relative;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 20px;
		padding-left: 15px;
		font-weight: bold;
		&:before {
			content: "";
			position: absolute;
		    width: 11px;
		    height: 11px;
		    background: $text_color01;
		    top: 3px;
			left: 0;
		}
		&.type02 {
			font-size: 11.5px;
			line-height: 14px;
			padding-left: 12px;
			&:before {
				top: 2px;
				width: 6px;
				height: 6px;
				background: none;
				border: 2px solid $text_color01;				
			}
		}
	}
	.bg_title {
		font-size: 12px;
		line-height: 16px;
		padding: 5px 8px;
		background: #f4f4f4;
		margin-bottom: 20px;
	}
	.line_title {
		font-size: 11.5px;
		line-height: 14px;
		padding: 1px 5px;
		border-left: 3px solid #e8e8e8;
		margin-bottom: 20px;		
	}
	.basic_title {
		font-size: 11px;
		line-height: 16px;
		margin-bottom: 10px;		
	}
	/* bd_box --------------------------------------------------------*/  
	.bd_box {
		border: 1px solid $bd_color01;
		padding: 10px;
	}
	/*  btn_box --------------------------------------------------------*/  
	.btn_box {		
		border: 1px solid $bd_color01;
		.upper {
			padding: 10px 15px;
			text-align: left;
		}
		.title {
			font-size: 13px;
			line-height: 15px;
			font-weight: bold;
			margin-top: 5px;
			margin-bottom: 10px;
		}
		.btm {
			padding: 0 10px 10px 10px;
			&.bg {
				margin-top: 5px;
				padding-top: 10px;
				background: $bg_color02;				
			}
		}
		.btn.type02 {
			a {
				padding: 12px 10px;

			}
		}
	}
	/*  menu_btn --------------------------------------------------------*/  
	.menu_btn,.btn_box {
		margin-bottom: 25px;
		text-align: center;
		ul {
			display: block;
			text-align: center;
			font-size: 0;
		}
		.text {
			text-align: left;
			margin: 0 2%;			
		}
		.btn {
			margin: 10px 2%;
			vertical-align: middle;
			display: inline-block;
			width: 46%;
			.inner {
				vertical-align: middle;
				display: table;	
				padding: 0;	
				margin: 0;				
				width: 100%;
			}
			a {
				vertical-align: middle;
				display: table-cell;
				padding: 18px 10px;	
				font-size: 12px;
				line-height: 17px;
				font-weight: bold;
				color: $text_color01;
				text-align: left;
				&.thin {
					width: auto;
					padding: 10px;
				}
				&[class*="ico_"] {
					padding-left: 50px;
					&:before {
						color: $base_color04;
						left: 10px;
					}			
				}
			}
		}	
		.single {
			.btn {
				display: block;
				width: auto;
			}
		}	
	}	
	.menu_btn {
		.description {
			margin-left: 5px;
		}
	}
	/*  bg_box 	-------------------------------------------------*/  
	.bg_box {
		background: #e7effa;
		padding: 15px;
		&.gray {
			background: $bg_color02;
		}
	}
/*  tag --------------------------------------------------------*/  
	.tag {
		border-bottom: 1px solid #cdcdcd;
		margin-bottom: 12px;
		span {
			font-size: 11px;
			line-height: 11px;
			padding: 5px 10px;
			background: #efefef;
			display: inline-block;
		}
	 }
/*  sec_box --------------------------------------------------------*/  
	.sec_box {
		.inner {
			padding: 15px;		
			border: 1px solid $bd_color04;
		}
		margin-bottom: 10px;
		position: relative;
		&.bnr {
			display: block;
			.inner {
				height: 40px;
				line-height: 38px;
				padding: 0;
				text-align: center;
				@include borderRadius(3px);
				img {
					vertical-align: middle;	
					padding-bottom: 2px;				
				}
				.external:after {
					right: -3px;
					margin-top: -4px;
					color: $base_color04;
				}
			}
		}
		&.fl_img {
			padding: 0 0 20px 0;
			position: relative;
			.fl_img_inner {
				margin: 0 25px;
			}
		}
		.title {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 15px;
			&.small {
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 10px;
			}
			img {
				padding-right: 12px;
				vertical-align: middle;
			}
			&.ico_lady01:before {
				color: #f6637f !important;
			}
			&[class*="ico_"] {
				padding-left: 40px;
				&:before {
					color: $key_color02;
					font-size: 36px;
					margin-top: -19px;
					left: -3px;					
				}
				&.large,&.xlarge {
					padding-left: 48px;
					line-height: 28px;
					&.single {
						line-height: 60px;
					}
					&:before {
						color: $base_color04;
						font-size: 60px;
						margin-top: -30px;
						left: -10px;
					}
					&.pl {
						padding-left: 60px;
						&:before {
							left: -6px;
						}
					}
				}
				&.xlarge{
					padding-left: 80px;
					&:before {
						font-size: 84px;
						margin-top: -42px;
						left: -6px;
					}
				}
			}
			&.ico_postal01 {
				&:before {
					font-size: 29px;
					margin-top: -14px;
					left: 1px;
				}
			}
			&.ico_mail01 {
				&:before {
					margin-top: -17px;
				}
			}
			&.ico_sp01 {
				padding-left: 34px;
				&:before {
					left: -6px;
				}
			}
		}
		&.result_box {
			border: 4px solid #b7cee6;
			text-align: center;
			span.num {
				font-size: 20px;
				line-height: 20px;
				color: $base_color01;
				font-weight: bold;
				margin-left: 5px;
			}
		}
		&.phone_box .inner{
			border-color: $bd_color01;
		}
	}
	//2カラム
	.sec_box_double {
		.sec_box {
			float: left;
			width: 48%;
			margin-right: 4%;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		.box_wrap {
			float: left;
			width: 46%;
			margin-right: 4%;
			&:nth-child(2n) {
				margin-right: 0;
			}
			.sec_box {
				float: none;
				width: auto;
				margin-right: 0;
			}	
		}
	}
	//3カラム
	.sec_box_triple{
		.sec_box {
			float: left;
			width: 31%;
			margin-right: 3%;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	/*  point_box 	-------------------------------------------------*/ 
	.point_box {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px dotted $bd_color01;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
		.title_circle {
			float: left;
			width: 70px;
			text-align: center;
			line-height: 16px;
			font-size: 10px;
			font-weight: bold;
			color: #fff;
			background: $base_color04;
			@include borderRadius(50%);
			padding: 17px 0;
			.num {
				display: block;
				font-size: 16px;
				line-height: 20px;
			}
		}
		.point_content {
			margin-left: 85px;
			padding-top: 8px;
		}
	}
	/*  service_box 	-------------------------------------------------*/ 
	.service_box {
		.inner {
			padding: 0 10px 10px 10px;
			border: 1px solid #ccc;
			@include borderRadius(3px);
			vertical-align: middle;
		}
		a {
			display: block;
			padding: 0;
			text-decoration: none;
			color: #333;
			opacity:1;
			@include transition(250ms ,opacity);
			&:hover {
				opacity: 0.8;
			}
		}
		.icon {
			font-size: 50px;
			line-height: 50px;
			padding: 12px 0;
			color: $base_color04;
			&.cal {
				font-size: 40px;
				padding: 10px 0;
			}
			.yen {
				font-size: 30px;
			}
			&.lady {
				font-size: 56px;
				color: #f9627e;
			}
		}
		.title {
			font-size: 13px;
			line-height: 17px;
			padding-top: 0;
			margin-bottom: 0;
			letter-spacing: -1px;
			&.single {
				padding-top: 8px;
				padding-bottom: 9px;
			}
			&.thin {
				width: auto;
				letter-spacing: -2px;
			}
		}
	}
	/*  step_box 	-------------------------------------------------*/  
	.step_box {
		.title {
			background: $base_color04;
			color: #fff;
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			line-height: 15px;
			padding: 10px 15px;
			@include borderRadius(2px 2px 0 0);
		}
		.box_content {
			padding: 12px 15px;
			border-color: $bd_color01;
			border-style: solid;
			border-width: 0 1px 1px 1px;
			@include borderRadius( 0 0 2px 2px);
		}
		&.no_content .title {
			@include borderRadius(2px);
		}
		&.finish_box {
			.box_content {
				border-width : 1px;
				border-color : $base_color04;
				@include borderRadius(2px);
			}
			.description {
				width: 210px;
				text-align: left;
				font-size: 10px;
				line-height: 1.2;
				margin: 10px auto 0 auto;			
			}
		}
	}
	.step_description  {
		padding: 8px;
		border: 1px solid $bd_color01;
		position: relative;
		&.space {
			padding: 10px;
		}
		.icon_box {
			width: 28px;
			display: block;
			text-align: center;
			vertical-align: middle;
			font-size: 25px;
			color: $base_color04;
			letter-spacing: -5px;
			padding-right: 10px;		
			&.large {
				width: 60px;
				font-size: 40px;
				line-height: 40px;
				vertical-align: top;
			}	
			span {
				display: block;
			}
			&.double {
				width: 50px;
				span {
					display: inline-block;
				}
			}
		}
		.step_content{
			display: block;
			margin: 5px;
			.basic_title {
				font-size: 13px;
				margin-top: 3px;
				margin-bottom: 5px;	
			}
		}
		.step_inner.table  {
			display: table;
			.step_content,.icon_box {
				display: table-cell;
				vertical-align: middle;
			}
			
		}
	}
	/*  point_circle 	-------------------------------------------------*/  
	.point_circle,.point_radius {
		text-align: center;
		li {
			display: inline-block;
			margin-right: 8px;
			
			&:last-child {
				margin-right: 0;
			}
			.inner {
				display: table;
				width: 88px;
				height: 88px;
				padding: 0;
				text-align: center;
				border: 2px solid $key_color03;
				@include borderRadius(50%);
			}
			p {
				display: table-cell;
				vertical-align: middle;
				font-size: 12px;
				line-height: 15px;
				color: #333333;
				strong {
					font-size: 15px;
					line-height: 18px;

					display: block;
					font-weight: bold;
					color: $key_color03;	
				}
				.arrow.link{
					font-weight: normal;
					font-size: 9px;
					line-height: 14px;					
				}
				.large {
					font-size: 18px;
					line-height: 22px;
				}
			}					
		}
		&.double {
			margin-left: 39px;
			li {
				width: 280px;
				height: 280px;
			}
		}
	}//.point_circle	
	.point_radius {
		li {
			display: block;
			margin: 0 0 10px 0;			
			&:last-child {
				margin-bottom: 0;
			}
			.inner {
				display: block;
				width: auto;
				height: auto;
				padding: 15px;
				text-align: center;
				@include borderRadius(4px);
				p {
					display: block;
					line-height: 18px;
					strong {
						line-height: 24px;
					}
				}
			}
		}
	}
	/* dialog 	-------------------------------------------------*/  
	.dialog {
		margin-bottom: 15px;
		.talk ,.speaker {
			display: table-cell;
			vertical-align: middle;
		}
		.speaker {
			width: 35px;;			
			padding: 0 15px;
			img {
				vertical-align: middle;
			}
		}
		.bln {
			padding: 15px;
			border: 1px solid #ccc;
			@include borderRadius(2px);
			display: inline-block;
			position: relative;
			&:after, &:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: transparent;
				border-width: 8px 10px;
				margin-top: -8px;
			}
			&:before {
				border-color: transparent;
				border-width: 9px 11px;
				margin-top: -9px;
			}
		}
		.al_left{
			display: table;
			width: 100%;
			margin-bottom: 10px;
			.bln{
				&:after {
					border-right-color: #fff;
				}
				&:before {
					border-right-color: #ccc;
				}
			}
		}
		.al_right{
			display: table;
			width: 100%;
			text-align: right;
			.bln{
				text-align: left;
				&:after, &:before {
					right: inherit;
					left: 100%;
				}
				&:after {
					border-left-color: #fff;
				}
				&:before {
					border-left-color: #ccc;
				}
			}
		}
	}//.dialog	
/*  table 	-------------------------------------------------*/  
	table {
		width: 100%;
		table-layout: fixed;
		margin-bottom: 20px;
		&.auto {
			table-layout: auto;
		}
		&.block {
			border-bottom: 1px solid $bd_color01;			
			tr,th,td,tbody{
				text-align: left;
				display: block;
				width: auto;
			}
			tr {
				border-bottom: none;
			}
		}
		tr {
			border-top: 1px solid $bd_color01;			
			border-bottom: 1px solid $bd_color01;			
		}
		th,td {
			border-left: 1px solid $bd_color01;
			border-right: 1px solid $bd_color01;
			vertical-align: middle;	
			padding: 8px 10px;
			&.middle {
				width: 25%;
			}
			&.wide {
				width: 45%;
			}
			&.thin {
				width: 20%;				
			}
			&.thin_h {
				padding: 6px 10px;
			}
		}
		th {
			background: $bg_color02;		
			text-align: center;
			font-weight: normal;
			width: 170px;
		}
		&.text_left{
			th,td {
				text-align: left !important;
			}
		}
		&.text_center{
			th,td {
				text-align: center !important;
			}
		}
		&.text_right{
			th,td {
				text-align: right !important;
			}
		}
		&.col_h {
			th {
				text-align: left !important;
			}
		}
	}
	/*  table table_flow-------------------------------------------------*/  
	table.table_flow {
		border-collapse: separate;
		border-spacing : 5px 3px;
		border-top: none;
		border-left: none;
		.flow_arrow {
			height: 15px;
		}
		&.fill {
			width: 100%;
			margin-left: -5px;
		}
		tr,th {
			border: none;
			width: 100%;
		}
		th {	
			padding: 0;
			background: none;
			.title {
				background: $base_color04;
				color: #fff;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				line-height: 15px;
				padding: 10px 15px;
				@include borderRadius(2px);
			}
		}
		td {
			vertical-align: top;
			border: none;
			padding: 0;
			
			.basic_title {
				font-size: 13px;
				line-height: 19px;
				text-align: center;
				margin: 0;
			}
			.bg_title {
				text-align: center;
				font-size: 10px;
				line-height: 18px;
				padding: 4px;
				background: $bd_color01;
				border: none;
				@include borderRadius(2px 2px 0 0);
				position: relative;
				margin-bottom: 0;
				.step_content .basic_title {
					text-align: left;
				}
			}
		}
		tr.row_arrow {
			td {
				border: none;
				text-align: center;
			}
			.flow_arrow {
				margin: 5px 0;
			}
			.finish {
				background: #797979;
				color: #fff;
				font-size: 10px;
				line-height:18px;
				padding: 2px;
				font-weight: bold;
				@include borderRadius(2px);
				text-align: center;
			}
		}
		.step_description {
			padding: 10px 6px;
			@include borderRadius(2px);
			&.br_top_none {
				@include borderRadius(0 0 2px 2px);		
				border-top: none;		
			}

		}
		.icon_box {
			vertical-align: middle;
			font-size: 30px;
			line-height: 30px;
			width: auto;
			display: block;
			margin-top: -10px;
			padding-right: 0;
			letter-spacing: 0;
			span{
				display: inline-block;
				line-height: 30px;
			    vertical-align: middle;
			}
			.pc {
			    font-size: 56px;
			    letter-spacing: -9px;
			    text-indent: -9px;
			    line-height: 30px;
			}
			.sp ,.fp {
				font-size: 28px;
				display: inline-block;
				line-height: 30px;
				width: 16px;
				text-align: center;
				text-indent: -8px;
				margin-top: 6px;
			}
			.yen10 {
				font-size: 56px;
			}
			&.double {
				letter-spacing: -10px;				
			}
			&.large {
			    font-size: 42px;
			    line-height: 42px;
			    width: auto;
			    display: block;
			    margin-top: -5px;		
			    margin-bottom: 5px;		
			    .pc_wrap {
				    margin-top: -16px;
			    }
				span{
				    line-height: 42px;
				}
				.pc {
				    font-size: 70px;
				    letter-spacing: -10px;
				    text-indent: -9px;
				    line-height: 42px;
				}
				.sp ,.fp {
				    font-size: 33px;
				    display: inline-block;
				    line-height: 30px;
				    width: 19px;
				    text-align: center;
				    text-indent: -10px;
					margin-top: 10px;
				}
			}

		}
		td.dots {
			border: none;
			font-size: 0;
			position: relative;
			overflow: hidden;
			p {
				position: absolute;
				display: block;
				margin: 0;
				padding: 0;				
				width: 1px;
				height: 250px;
				top :0;
				left: 50%;
				margin-left: -2px;
				border-right: 4px dotted $base_color02;				
			}
		}
	}//table_flow
/*  tab  タブ-------------------------------------------------*/  
	.tab_menu.basic {
		li {
			float: left;
			width: 50%;
			padding: 0 2px 0 0;
			box-sizing: border-box;

			&:nth-child(2n) {
				padding: 0 0 0 2px;
			}

			a {
				display: block;
				font-size: 11px;
				font-weight: bold;
				color: $text_color01;
				text-align: center;
				text-decoration: none;
				background: $base_color02;
				padding: 12px 6px;

				@include borderRadius(3px 3px 0 0);
				&.cr {
					background: $base_color01;
					color: #fff;
				}
			}

		}
	}
	.tab_content.basic {
		padding: 0 10px;
		border: 1px solid $base_color01;
	}
/*  article_list  お知らせ一覧-------------------------------------------------*/  
	&.article_anchor {
		line-height: 2;
		.anchor {
			display: inline-block;			
			line-height: 2;
		}
	}
	.article_list {
		.article {
			padding: 8px 6px 8px 6px;
			border-top: 1px dotted #e1e1e1;
			&:last-child {
				border-bottom: 1px dotted #e1e1e1;
			}
			.date {
				line-height: 20px;
			}
			.title {
				font-weight: normal;
				span.external:after {
					display: inline-block;
    				position: relative;
    				margin-top: -4px;
			    }
				a {
					text-decoration: none;
				}
			}
		}
	}
/*  image 	-------------------------------------------------*/  
	.fl_content {
		.thin {
			width: 220px;
		}
		.wide {
			width: 100%;
		}
		.img {
			.caption {
				text-align: left;
				margin-top: 8px;
				font-size: 11px;
				line-height: 18px;
			}
		}
	}
/*  arrow  , link_icon--------------------------------------------------------*/  
	.link_icon, .external {
		color: $base_color01;
		a {
			text-decoration: none;
			margin-right: 3px;
			background-size: contain;
		}
	}
	.external.inline {
		&:after {
			position: relative;
			display: inline;
		}
	}
	.arrow {
		.arrow {
	    	word-wrap: break-word;
	    	white-space: nowrap;		
	    	padding-left: 8px;
			&:before {
			color: $base_color01;
			font-size: 16px;
			margin-top: -8px;
			left: -6px;
			}
		}		
    }
	.arrow.link {
		&:before {
			content:'\e91a';
		    font-size: 16px;
		    margin-top: -8px;
		    left: -2px;					
			}
		&.align_top:before {
			    margin-top: 0;
			    top :0;
		}	
	}
	.arrow.anchor {
		padding-left: 17px;
		&:before {
			font-size: 28px;
			margin-top: -14px;
			left: -7px;
			content:'\e919';
			color: $key_color01;
			}				
	}
	.btn {
		.arrow.anchor {
			display: inline-block;
			padding: 6px 14px 6px 24px;
			margin: 5px;
			&:before {
				left: 0px;
				position: absolute;
				right: inherit;				
				color: $base_color01;				
			}
		}
	}
}
	/*  accd_btn 	-------------------------------------------------*/  
.accd_btn {
	display: block;
	font-size: 13px;
	line-height: 26px;
	background: $bg_color02;
	border: 1px solid $bd_color01;
	text-align: center;
	padding: 6px;
	@include borderRadius(3px);
	margin-bottom: 15px;
	text-decoration: none;
	color: $text_color01;
	opacity: 1;
	@include transition(250ms ,opacity);
	&:hover {
		opacity: 0.8;
	}
	&.open {
		@include borderRadius(3px 3px 0 0);		
	}
	span {
		position: relative;
		display: block;
		&:after {
			@include iconFont();
			position: absolute;
			content:'\e917';
			color: $key_color02;
			font-size: 30px;
			line-height: 1;
			right: 0;
			margin-top: -2px
		}
	}
	&.open span:after {
			content:'\e915';
	}
	&.hide {
		span {
			&:after {		
				content: none;
			}
		}
	}
}
/*  list --------------------------------------------------------*/  
.notice {
	padding-left: 1.2em;
	position: relative;
	&:before {
		position: absolute;
		content: "※";
		top: 0;
		left: 0;
	}
}

/*  list --------------------------------------------------------*/  
ul,ol{
	&.small {
		li {
			font-size: 10px;
		}
	}
	&.dot,&.num,&.notice,&.example {
		li {
			margin-bottom: 2px;
			line-height: 1.66;
		}
	}
	&.dot {
		li {
			list-style: disc outside;
			margin-left: 1.2em;				
		}
	}
	&.num {
		li {
			list-style: decimal;
			margin-left: 1.6em;				
		}
	}
	&.notice {
		padding-left: 0;
		&:before {
			content: none;
		}
		li {
			padding-left: 1.2em;
			position: relative;
			&:before {
				position: absolute;
				content: "※";
				top: 0;
				left: 0;
			}
		}
		&.num {
			li {
				list-style: none;
				margin-left: 0;
				padding-left: 2em;
				&:nth-child(1):before {content: "※1";}					
				&:nth-child(2):before {content: "※2";}					
				&:nth-child(3):before {content: "※3";}					
				&:nth-child(4):before {content: "※4";}					
				&:nth-child(5):before {content: "※5";}					
				&:nth-child(6):before {content: "※6";}					
				&:nth-child(7):before {content: "※7";}					
				&:nth-child(8):before {content: "※8";}					
				&:nth-child(9):before {content: "※9";}					
			}
		}
	}
	&.example {
		padding-left: 0;
		&:before {
			content: none;
		}
		li {
			padding-left: 2.2em;
			position: relative;
			&:before {
				position: absolute;
				content: "例1:";
				top: 0;
				left: 0;
			}
			&:nth-child(2):before {content: "例2:";}
			&:nth-child(3):before {content: "例3:";}
			&:nth-child(4):before {content: "例4:";}
			&:nth-child(5):before {content: "例5:";}
			&:nth-child(6):before {content: "例6:";}
			&:nth-child(7):before {content: "例7:";}
			&:nth-child(8):before {content: "例8:";}
			&:nth-child(9):before {content: "例9:";}
		}
	}
}
/*  btn_list --------------------------------------------------------*/  
.btn_list , .btn_area {
	li {
		float: left;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		.btm_text {
			margin-top: 4px;
			font-size: 12px;
			text-align: center;
			span.orange {
				a {
					color: $key_color03;
					letter-spacing: -1px;
					margin: 0 2px;
				}
				&:before {
					left: -6px;
				}
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.btn.type01 {
		a {
			font-size: 14px;
			line-height: 18px;
			color: $text_color01;
			padding-left: 0;
			padding-right: 0;
			width: 120px;
			@include borderRadius(30px);
			&.external {
				&:after {
					color: #fff;
					padding-left: 6px;
				}
			}
		}
		&.large 	a{
			width: 212px;
			font-size: 18px;
			padding: 15px 0 14px 25px;
			&:before {
				left: 39px;
				font-size: 38px;
				margin-top: -19px;
			}
			.small {
				display: block;
				font-size: 11px;
				line-height: 12px;		
				margin-bottom: 3px;						
			}
		}
	}
}
/*  action_flow フロー図	-------------------------------------------------*/  
.action_flow.type01 {
	clear: both;
	display: table;
	width: 100%;
	li {
		width: 49%;
		display: table-cell;
		font-size: 9px;
		line-height:12px;
		font-weight: bold;
		text-align: left;
		background: #e5f1ff;
		vertical-align: top;
		.inner {
			position: relative;
		    display: block;
		    padding: 0;
		    margin-right: 12px;
		    padding-left: 12px;
		    margin-left: -12px;
			background: #e5f1ff;
			&:after {
				content: " ";
				position: absolute;
				top: 0;
			    right: -24px;
				border-width: 15px 12px;
			    border-color: transparent transparent transparent #e5f1ff;
				border-style: solid;
			    z-index: 2;
			}
			&:before {
				content: " ";
				position: absolute;
				top: -5px;
				right: -30px;
				border-width: 20px 15px;
			    border-color: transparent transparent transparent #fff;
				border-style: solid;
			    z-index: 1;
		    }
		    p {
				height: 30px;
			    display: table;
				span {
					display: table-cell;
					vertical-align: middle;
					position: relative;
					padding: 8px 8px 8px 16px;
					line-height: 14px;
		
				}
		    }
		}
		&.active {
			.inner {
				color: #fff;
				font-weight: bold;
				background: $base_color01;
				&:after {
					border-left-color: $base_color01;			
				}
			}
		}	
		&.lightblue {
			background: $base_color04;
			.inner{
				color: #fff;
				font-weight: bold;
				background: $base_color04;
				&:after {
					border-left-color: $base_color04;			
				}
			}
		}	
		&:last-child {
			background: #fff !important;
		}	
		&:first-child {
			.inner {
				padding-left: 0;
				margin-left: 0;
				p span {
					padding-left: 8px;
				}
			}
		}	
	}
	&.line_double {
		li .inner{
			p{
				height: 46px;
			}
			&:after {
			    right: -24px;
				border-width: 23px 12px;
			}
			&:before {
				top: -7px;
				right: -30px;
				border-width: 30px 15px;
			}
		}
	}
	&.line_triple{
		li .inner{
			p{
				height: 58px;
			}
			&:after {
			    right: -24px;
				border-width: 29px 12px;
			}
			&:before {
				top: -7px;
				right: -30px;
				border-width: 36px 15px;
			}
		}
	}
	&.triple {
		li {
			width: 33%;
		}
	}
	&.quad {
		li {
			width: 24%;
		}
	}
}
.action_flow.type02 {
	border: 1px solid #b7cee6;
	@include borderRadius(3px);
	padding: 10px;
	li {
		float: left;		
		line-height: 24px;
		&.active {
			color: $base_color01;
			font-weight: bold;
		}
		&:before {
			@include iconFont();
			content:'\e91a';
			font-size: 24px;
			color: $key_color01;
		}
		&:first-child:before {
			content: none;
		}
	}
	
}
/*  box_arrow -------------------------------------------------*/  
.box_arrow {
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	padding: 4px 12px 3px 12px;
	margin-right: 20px;
	color: #fff;
	background: $base_color01;
	position: relative;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
	    left: 100%;
	    border-color: transparent;
	    border-left-color: $base_color01;
	    border-style: solid;
	    border-width: 12px 12px;
	    z-index: 2;
	}
	&.lightblue {
		background: $base_color04;
		&:after {
		    border-left-color: $base_color04;
		}
	}
}
.large {
	.box_arrow {
		font-size: 16px;
		line-height: 22px;
		padding: 4px 12px;
		margin-right: 25px;
		&:after {
		    border-width: 15px 15px;
		}		
	}
}
/*  vertical_flow_box 縦フロー	-------------------------------------------------*/  
.vertical_flow_box,.flow_arrow {
	position: relative;
	margin-bottom: 35px;
	&:after {
		position: absolute;
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
	    border-width: 15px 25px 0 25px;
		border-color: $base_color04 transparent;
		bottom: -25px;
		left: 50%;
		margin-left: -25px;
	}
	&.lightblue:after {
		border-color: $base_color02 transparent;
	}
	&.last{
		margin-bottom: 0;
		&:before,&:after {
			content: none;
			display: none;
		}
	}
}
.flow_arrow {
	font-size: 0;
	margin-bottom: 0;			
	height: 30px;
	&:before {
		bottom: 2px;
	}
	&:after {
		bottom: 0px;
	}
}
.arrows {
	.flow_arrow  {
		margin-bottom: 29px;
		&:before {background: #e5effa;}
	}
}
/* ----------------------------------------------------------------------------
    pagetop
---------------------------------------------------------------------------- */
#pagetop {
	margin-top: 20px;
	text-align: center;
	a{
		display: inline-block;
		width: 180px;
		&:before {
			content:'\e91b';
			right: 6px;
		}
	}
}
/* ----------------------------------------------------------------------------
    breadcrumb
---------------------------------------------------------------------------- */
.breadcrumb {
	font-size: 10px;
	line-height: 14px;
	margin: 9px 0 12px 0;
	span {
		color: #999;
		padding: 0 8px;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&.footer {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 8px 0;
	}
}
/* ----------------------------------------------------------------------------
    page_title
---------------------------------------------------------------------------- */
.page_title {
	font-size: 16px;
	line-height: 22px;
	padding: 0 15px;
	margin: 9px 0 15px;
	
}
/* ----------------------------------------------------------------------------
    iframe
---------------------------------------------------------------------------- */
.iframe {
	#header {
		position: relative;
	}
}
iframe:not(.agreement) {
	visibility: hidden;
	opacity: 0;
	@include transition(250ms ,opacity);
	&.loaded {
		visibility: visible;
		opacity: 1;
	}
}
.iframe_wrap {
  width: 100%;
  height: 175px;
}
html#agreement {
	body {
	    overflow-y: scroll;
	    overflow-x: hidden;
	    height: 160px;
	    min-width: 290px;
	    -webkit-overflow-scrolling: touch;
	}
	::-webkit-scrollbar {
	    width: 6px;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
		@include borderRadius(5px);
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
		@include borderRadius(5px);
	    background: #999;
	}
	::-webkit-scrollbar-thumb:window-inactive {
	    background: $bg_color02;
	}
}
/* ----------------------------------------------------------------------------
    modal
---------------------------------------------------------------------------- */
.modal_layer {
	.close_btn_box {
		top: 0;
		right: 0;
	}
	.modal_wrap {
    	margin: 10px auto 25px;
    	.modal_cont {
			width: 300px;
			padding: 10px;
			max-width: 100%;
			iframe {
				visibility: visible;
				opacity: 1;
				width: 100%;
				
			}
		}
	}
}