/* ----------------------------------------------------------------------------
    form
---------------------------------------------------------------------------- */
.form {
	table {
		width: 100%;
		th,td {
			padding: 12px;
			text-align: left;
			display:block;
			width: auto;
			.required {
				display: inline-block;
				background: #eb652b;
				color: #fff;
				font-size: 11px;
				font-weight: bold;
				line-height: 14px;
				padding: 3px 5px;
				margin-left: 8px;
				@include borderRadius(3px);
			}
			span.small,p.small {
				font-size: 10px;
			}
		}
		.error {
			background: #ffdbdb;
			th {
			}
		}
		th {
			border-bottom: none;
			background: none;
			width: auto;
			padding-bottom: 0;
			font-weight: bold;
		}
		td {
			padding-top: 8px;
		    line-height: 16px;
		    width: auto;
		}
		.vertical {
			p {
				margin-bottom: 10px;
				line-height: 22px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.horizon {
			p {
				display: inline-block;
				margin-right: 20px;
				line-height: 22px;
			}
		}
	}
	input[type="text"] ,textarea, select {
	    outline: none;
	    display: inline-block;
	    padding: 4px 8px;
	    border: 1px solid $bd_color01;
	    height: 20px;
	    line-height: 20px;
	    font-size: 13px;
	    margin-right: 10px;
	    @include borderRadius(0);
	    @include boxShadow(none);
	    -webkit-appearance: none; 
	    appearance: none;
	    &.error {
		    background: #ffdbdb;
	    }
	    &.full {
		    width: 94%;
		    display: block;
		    padding-left: 3%;
		    padding-right: 3%;
		    margin-right: 0;
	    }
    }
    textarea {
	    border: 1px solid $bd_color01;
	    display: block;
	    height: auto;
		width: 93%;	    
    }
    select {
	    line-height: 28px;
	    height: 28px;
	    padding: 1px 24px 7px 8px;
		-webkit-appearance: button;
		appearance: button;
		border: none;
		position: relative;
		z-index: 1;
		background: none;
    }
   label.selectlabel{
   		padding-left: 0;
		position: relative;	
  	    border: 1px solid $bd_color01;
	    line-height: 28px;
	    height: 28px;
		display: inline-block;
		background: #fff;
		z-index: 2;
	    &.error {
		    background: #ffdbdb;
	    }
   		&:after {
   			position: absolute;
   			@include iconFont();
			font-size: 36px;
			top: -4px;
			right: -7px;
			content:'\e919';
			color: $key_color01;
			z-index: -1;
			}
	}		
    input[type="text"] {
	    width: 170px;
	    &.small {
		    width: 50px;
	    }
	    &.middle {
		    width: 80px;
	    }
    }
    input[type="radio"],input[type="checkbox"] {
	    line-height: 22px;
		font-size: 22px;
		height: 22px;
    }
	label {
	    line-height: 22px;
	    padding-left: 6px;		
		min-height: 22px;
	}    
    input[type="button"], input[type="submit"],button , input.form_btn ,label.filebtn{
    	background: #f7f7f7;
    	color: #000;
	    border: 1px solid $bd_color01;
	    @include borderRadius(2px);
	    padding: 0 8px;
	    display: inline-block;
	    vertical-align: middle;
		line-height: 24px;
	    height: 24px;
		@include transition(250ms ,opacity);
	    -webkit-appearance: none; 
	    appearance: none;
	    &:hover {
		    opacity: 0.8;
	    }
    }
    .filewrap {
	    position: relative;
	    width: 155px;
	    display: inline-block;
	    height: 30px;
    }
    .filename {
	    display: block;
	    padding: 4px 8px;
	    border: 1px solid $bd_color01;
	    min-height: 20px;
	    height: auto;
	    line-height: 20px;
	    font-size: 13px;
	    margin-right: 10px;
	    width: 130px;
		overflow-wrap: break-word;
    }
    input[type="file"] {
	     opacity: 0;
	     height: 100%;
	     position: absolute;
	     left: 0;
	     top: 0;
	     padding: 5px;
	     width: 155px;
     }
    label.filebtn{ 
		cursor: pointer;
		line-height: 22px;
	    height: 21px;
	    padding-top: 1px;
	    position: relative;
		margin-right: 20px;
	    &:after {
	    	content: " ";
		    position: absolute;
			width: 1px;
			top: 0px;
			right: -13px;
		    height: 100%;
		    border-right: 1px solid $bd_color01;
	    }
    }
	.error_box {
		color: $key_color05;
		border: 1px solid $key_color05;
		font-size: 11px;
		line-height: 14px;
		padding: 6px 8px;
		margin: 10px 0;
	}
    .btn {
		display: block;
		margin: 0 10px;
	   a, input[type="submit"],button  {
		    font-size: 12px;
		    font-weight: bold !important;
		    line-height: 14px;
		    padding: 8px 10px !important ;
		    display: inline-block;
		    width: 150px;
			//@include boxShadow(1px 2px 0px 0px rgba(0, 0, 0, 0.1));
	    }
	   input[type="submit"],button  {
		    height: 30px;
		}
	    &.gray {
		   a, input[type="submit"],button  {
			   border: none;
			   background: #d8d8d8;
			   color: $text_color01;
		    }
	    }
	    .thin {
		    width: 110px !important;
	    }
    }
}

.form_box {
	border: 1px solid $bd_color01;
	.input_line {
		padding: 15px;
		border-bottom: 1px solid $bd_color01;
		&:last-child {
			border-bottom: none;
		}
		.label {
			font-size: 11px;
			line-height: 15px;
			margin-bottom: 15px;
		}
		.line {
			margin-bottom: 15px;
		}
	}
}