/* ----------------------------------------------------------------------------
    ログイン前
---------------------------------------------------------------------------- */
#all{

/* ----------------------------------------------------------------------------
    header
---------------------------------------------------------------------------- */
	#header {
		#header_upper h1{
			width: 490px;
		}
		.utility {
			padding-right: 160px;
			width: 300px;
		}
		.search {
			float: right;
			width: 168px;
			position: relative;
			input[type="text"] {
			    width: 112px;
				height: 14px;
			    position: absolute;
			    font-size: 10px;
			    line-height: 14px;
			    color: $text_color01;
			    padding: 3px 24px 3px 8px;
			    border: none;
			    @include borderRadius(2px);
			    z-index: 0;
			    top: -3px;
			    right: 0;
			}
			input[type="submit"],button  {
			    position: absolute;
			    color: #626262;
			    background: #fff;
			    border: none;
			    padding: 0;
			    line-height: 16px;
			    font-size: 16px;
			    top: -1px;;
			    right: 0;
			    z-index: 1;
			}
		}
	}
	#header_bottom {
		#header_logo {
			width: 128px;
		}
		#header_contact {
			width: 750px;
			.call {
				margin-right: 0;
			}
			.btn {
				float: right;
				margin-top: 4px;
				margin-right: 15px;
				font-weight: normal;
				a{
					font-size: 10px;
					color: $text_color01;
					padding-top: 6px;
					padding-bottom: 6px;
					padding-left: 32px;
					&:before {
						font-size: 18px;
						color: $key_color02;
						margin-top: -9px;
						}
				}
			}
		}
		#global_navigation {
			width: 750px;
			margin-top: 10px;
			.navigation {
				float: left;
			}
			.btn {
				float: right;
				margin-left: 12px;
				margin-top: 3px;
				a{
					font-size: 12px;
					line-height: 14px;
					padding-top: 8px;
					padding-bottom: 8px;
					&:hover {
						text-decoration: none;
					}
					&:before {
					    font-size: 24px;
					    left: 12px;
					    margin-top: -13px;					
					}
					&[class*="ico_"]:before {
					    font-size: 18px;
					    left: 16px;
					    margin-top: -10px;
					}
				}
			}
			.sub {
				width: 760px;
				padding: 40px 40px 20px 40px;
				left: -90px;
				a {
					color: #fff;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
						.text .arrow {
							text-decoration: underline;						
						}
					}
				}
				.sub_upper {
					text-align: left;
					li {
						width: 150px;
						vertical-align: top;
						text-align: center;
						.icon {
							width: 60px;
							background: #fff;
							color: $base_color01;
							font-size: 60px;
							line-height: 60px;
							padding: 5px;
							@include borderRadius(5px);
							margin: 0 auto;
							overflow: hidden;
							text-decoration: none !important;
							&.pc {
								font-size: 90px;
								text-indent: -15px;
							}
							&.note {
								text-indent: 4px;								
							}
						}
						.text {
							margin-top: 8px;
							width: 120px;
							display: inline-block;
							font-size: 13px;
							line-height: 20px;
							.arrow {
								padding-left: 0;
							}
							.arrow:before {
								margin-top: 0;
								left: -26px;
								top: -9px;
								color: #fff;
							}
						}
					}
				}
				.sub_btm {
					.sub_utility {
						float: left;
						width: 460px;
						text-align: left;
						margin-top: 38px;
						.arrow {
							margin-right: 12px;
							&:before {
								color: #fff;
							}
						}
					}
					.btn {
						clear: none;
						float: right;
						margin-top: 32px;
						margin-right: 0;
						a {
							color: $base_color01;
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
			li.is_sub {
				&:nth-child(2) .sub {
					    left: -238px;
				}
				&:nth-child(3) .sub {
					    left: -238px;
				}
			}
		}
	}
/* ----------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------- */
	#footer {
		#footer_navigation {
			.arrow:before{
				    top: 10px;
			}
			.footer_col {
				width: 142px !important;
				margin-left: 16px;	
			}
		}
		&.with_bnr_inner {
			#footer_navigation {
				padding-bottom: 0;
			}
		}
		#external_list {
			background: $bg_color03;
			padding:10px 0 30px;
			a {
				float: left;
					position: relative;
				background: #fff;
				border: 1px solid #e5e5e5;
				padding: 15px 15px 15px 25px;
				width: 135px;
				height: 32px;
				font-size: 12px;
				line-height: 16px;
				color: #000;
				font-weight: normal;
				text-decoration: none;
				@include borderRadius(3px);
				margin-right: 10px;
				&:before {
				    font-size: 13px;
				    top: 34px;
				    left: 8px;
					color: $base_color01;					
				}
			}
		}
		#footer_bnr {
			padding-top: 20px;
			padding-bottom: 25px;
			border: 1px solid #e5e5e5;
			font-size: 11px;
			line-height: 16px;
			.logo {
				margin: 20px 0;
			}
			.bnr {
				margin-bottom: 20px;
				a {
					margin-right: 10px;
				}
			}
		}
		#footer_simulation {
			background: $bg_color03;
			padding: 30px 0 15px;
			.call {
				width: 260px;
				float: left;
				img {
					display: block;
					border: 1px solid #e5e5e5;
					background: #fff;
					@include borderRadius(3px);
					padding: 8px 12px;
					vertical-align: middle;
					margin-bottom: 10px;
				}
			}
			
			ul.btn_list {
				float: right;
				width: 680px;
				li {
					margin-right: 0;
					margin-left: 10px;
					&:first-child {
						margin-left: 0;
					}
					.btm_text.text_left {						
						.orange {
							color: $key_color03;
						}
						.arrow {
							margin-left: 50px;
							display: block;
						}
						a {
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				.btn.type01 {
					a {
						width: 137px;
					}
					&.large 	a{
						width: 205px;
					    padding-left: 30px;
					    &:before {
							left: 38px;
							margin-top: -19px;						    
					    }
					}
				}
			}
		}

		#footer_contentslink {
			padding-top: 10px;
			background: $bg_color03;
			.box {
				width: 413px;
				height: 200px;
				margin-right: 40px;
				padding: 20px;
				border: 1px solid #e5e5e5;
				background: #fff;
				@include borderRadius(3px);
				&:last-child {
					margin-right: 0;
				}
				h5 {
					font-size: 16px;
					line-height: 30px;
					padding-left: 23px;
					margin-bottom: 12px;
					&:before {
						color: $base_color04;
						font-size: 21px;
						margin-top: -11px;	
						left: 0;
					}
				}
				li {
					margin-left: 4px;
					&:before {
						color: $base_color01;
					}
					a {
						text-decoration: none;
						color:$text_color01;
						font-size: 12px;
						line-height: 24px;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				p.gotoindex {
					margin-top: 12px;
					text-align: right;
					span {
						&:before {
							color: $base_color01;
						}
						a {
							text-decoration: none;
							color:$text_color01;
							font-size: 12px;
							line-height: 24px;
							&:hover {
								text-decoration: underline;
							}
						}						
					}
				}
			}
		}
	}
	/* ----------------------------------------------------------------------------
	    contents
	---------------------------------------------------------------------------- */

	
	.catch_box {
		border: 1px solid #e1e1e1;
		position: relative;
		margin-bottom: 60px;
		.catch_img {
			position: absolute;
			top :0px;
			left: 0px;
		}
		.catch_img_right {
			padding: 25px 20px;
			float: right;
		}
		.catch {
			font-size: 24px;
			line-height: 36px;
			color: $base_color01;
			font-weight: bold;
			padding: 48px 0 0 28px;
			height: 150px;
			width: 640px;
			border-bottom: 1px solid #e1e1e1;
			position: relative;
			z-index: 1;
			&.auto{
				font-size: 22px;
				width: auto;
				height: auto;
			}
		}
		.description {
			font-size: 13px;
			line-height: 22px;
			padding: 25px 30px;
			float: left;
		}
		.btn {
			float: right;
			padding: 25px;
			a {
				color: #333333 !important;
				@include borderRadius(28px);
			}
		}
	}
	/* ----------------------------------------------------------------------------
	    right_col
	---------------------------------------------------------------------------- */
	.right_col {
		position: relative;
		#local_navigation {
			margin-bottom: 10px;
			.title {
				font-size: 16px;
				line-height: 20px;
				font-weight: bold;
				background: $base_color01;
				text-align: center;
				a {
					display: block;
					padding: 20px 10px;
					color: #fff;
					text-decoration: none;
					@include transition(250ms ,opacity);
					opacity: 1;
						&:hover {
							opacity: 0.8;
						}
					}
			}
			ul {
					border-top: 1px solid #e1e1e1;	
					border-left: 1px solid #e1e1e1;	
					border-right: 1px solid #e1e1e1;	
				li {
					border-bottom: 1px solid #e1e1e1;	
					font-size: 13px;
					line-height: 16px;
					min-height: 20px;
					a {
						padding: 20px 15px;
						display: block;
						color: $text_color01;
						text-decoration: none;
						background-color: #fff;
						@include transition(250ms ,background-color opacity);
						opacity: 1;
						span{
							display: block;
							&:before {	
								top: -8px;
								margin-top: 0;				
								color: $base_color01;
							}
						}
						&:hover {
							opacity: 0.6;
						}
					}
					&.sub {
						span {
							padding-left: 10px;
						    position: relative;
						    margin-left: 15px;
							&:before {
								display: inline-block;
							    position: absolute;
							    left: 0;
							    top: 0px;
								content : "- ";
							}
						}
					}
					&.cr a  {
						background-color: $base_color02;
					}
					&.sub.cr a {
						background-color: #eff7ff;
					}
				}
			}
		}
		.btn_list {
			li {
				float: none;
				margin-right: 0;
				.btn.type01 {
					a {
					width:206px;
					padding: 16px 0 12px 0;
					@include borderRadius(23px);
					}
					&.large a{
						width: 171px;
						@include borderRadius(30px);
						padding-left: 35px;
						margin-bottom: 18px;
						&:before {
							    left: 26px;
						}
					}
					&.white a{
						padding-top: 11px;
						padding-bottom: 9px;
						width:198px;
						@include borderRadius(32px);
					}
				}
				.btm_text {
					margin: 4px 0 10px;
				}
			}
		}		
	}
	#quick{
		position: fixed;		
		width: 236px;
		right: 30px;
		bottom: 30px;
		z-index: 100;
		border: 2px solid $base_color02;
		background: #fff;
		@include borderRadius(3px);
		&.limit {
			position: absolute;
			//bottom: initial;
			
		}
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			color: #555;
			font-size: 13px;
			line-height: 26px;
			@include transition(250ms ,background-color);			
			&.accd_btn {			
				background: url("../common/co_quick_icon.png") #fff no-repeat 211px center;
				&.open {
					background-image: url("../common/co_quick_icon_close.png");
				}
				&:hover {
					background-color: lighten($base_color02 ,5%);
				}
			}
		}
		.accd_contents {
			padding: 0 4px;
			a {
				float: left;
				width: 72px;
				padding: 6px 0;
				margin: 4px 0 4px 6px;
				line-height: 16px;
				background: $base_color02;
				@include borderRadius(3px);				
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					background-color: lighten($base_color02 ,5%);
				}
			}
		}
	}
	#repayment_modal .sec {
		width: 635px;
		margin-left: auto;
		margin-right: auto;
	}
	.quick_modal,#repayment_modal {
	    z-index: 998;
		padding: 0;
		width: 950px;
		position: relative;
		background: #fff;
		h3.modal_title {
			background: $base_color01;
			color: #fff;
			font-weight: bold;
			font-size: 21px;
			line-height: 32px;
			padding: 14px 20px;
			margin-bottom: 0;
			span {
				font-size: 16px;
			}
		}
		.scroll {
			overflow-y: scroll;
			overflow-x: hidden;
			height: 440px;
			background: #fff;			
		}
		.sec {
			background: #fff;
			padding: 15px 30px 15px 15px;
		}
		.quick_modal_inner {
			padding: 25px 120px;
			background: #fff;
			#check_modal_wrap {
				top: 68px;
				overflow: hidden;
			}
			.basic_title {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 15px;
				color: $base_color01;
			}
			.btn_list  {
				margin-right: 0;
				li {
					margin-right: 22px;
					&:last-child {
						margin-right: 0;
					}
				}
				.btn.type01 a {
					width: 160px;
				}
				.btn.type01.large {
					a {
					width: 320px;
						&:before {
							    left: 88px;
							}
					}
				}
				.btn.type01.middle {
					a {
						width: 190px;
					}
				}
				.btn.type01.single {
					a {
						line-height: 36px;
					}
				}
				.btn.white.no_grad {
					a {
						width: 142px;
					}
				}
				.btm_text {
					margin-top: 8px;
					line-height: 16px;
					font-size: 12px;
					&.text_left {
					font-size: 11px;
					margin-left: 30px;
					color: #7d7d7d;
					}
				}
			}
			.upper {
				border-bottom: 1px solid $bd_color01;
				padding-bottom: 25px;
				margin-bottom: 25px;
			}
		}
	}
	#inuse_modal {
		.btn_list .btn.type01.large a {
			padding: 13px 4px 11px 36px;
			width: 160px;
			line-height: 36px;
			&:before {
				    font-size: 30px;
				    left: 24px;
			}
		}
	}
}