/* ----------------------------------------------------------------------------
    Column Modules
---------------------------------------------------------------------------- */
.one_col , .two_col , .three_col , .four_col,.five_col,.seven_col  {
	margin: 0 auto;	
	&:after {
		@include clearfix();	
	}
	.col_item {
		font-size: 13px;
	}
}
.col_list {
	&:after {
		@include clearfix();	
	}
}

.full_col {
	.inner {
		width : $contents_width;	
		margin: 0 auto;		
	}	
}
.one_col {
	.col_item {
		float: none;
	}	
}

.two_col {
	.col_item {
		width: 320px;
		margin-right: 30px;
		margin-left: 0;
		float: left;
		&:nth-child(2n){
			margin-right: 0;
		}
	}		
}

.three_col {
	.col_item {
		width: 324px;
		margin-right: 20px;
		margin-left: 0;
		float: left;
		&:nth-child(3n){
			margin-right: 0;
		}
	}		
}

.four_col {
	.col_item {
		width: 238px;
		margin-right: 20px;
		margin-left: 0;
		float: left;
		&:nth-child(4n){
			margin-right: 0;
		}
	}		
}

.five_col {
	.col_item {
		width: 186px;
		margin-right: 20px;
		margin-left: 0;
		float: left;
		&:nth-child(5n){
			margin-right: 0;
		}
	}		
}
.six_col {
	.col_item {
		width: 152px;
		margin-right: 20px;
		margin-left: 0;
		float: left;
		&:nth-child(6n){
			margin-right: 0;
		}
	}		
}
.seven_col {
	.col_item {
		width: 127px;
		margin-right: 20px;
		margin-left: 0;
		float: left;
		&:nth-child(7n){
			margin-right: 0;
		}
	}		
}

.fill_col {
	width: 100%;
}

.side_col {
	width : $contents_width;	
	margin: 0 auto;	
	&:after {
		@include clearfix();	
	}
	.left_col{
		float: left;
		width: 670px;
	}
	.right_col {
		float: right;
		width: 240px;
		padding-bottom: 100px;
	}
}
