/* ----------------------------------------------------------------------------
    Common
---------------------------------------------------------------------------- */
.all_wrapper {
	position: relative;
	padding-top: 130px;
	.inner {
		width: $contents_width;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}	
}
.contents {
	position: relative;
	overflow: hidden;	
	@include animation(0.9s,fade-in);
	z-index: 0;
	padding: 30px 0;
	
}

/*  btn --------------------------------------------------------*/  
.btn.type01 {
	span.btn_inner ,input[type="submit"],button  {
		display: block;
		font-size: 15px;
		line-height: 1.13;
		font-weight: bold;
		text-decoration: none;
		border: none;
		background: none;
		cursor: pointer;
		width: 100%;
		padding: 0;
	}
	a:visited{
		color: #fff;		
	}
	a,span.btn_inner ,input[type="submit"],button {		
		vertical-align: baseline;
		display: block;
		color: #fff;		
		font-size: 15px;
		line-height: 17px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		padding: 14px 20px 10px 20px;
		border: none;
		opacity: 1;
		@include borderRadius(24px);	
		background-color: $key_color03;
		@include linearGradient(0deg, $key_color03 0% ,lighten($key_color03,10%) 100%);
		@include boxShadow(2px 3px 0px 0px rgba(0, 0, 0, 0.1));
		@include transition(250ms ,opacity);
		&:hover {		
			opacity: 0.8;
		}
		&[class*="ico_"]{
			padding-left: 40px;
		}
	}
	.external {
		&:after {
			display: inline;
			position: inherit;
			top: inherit;
			right: inherit;
		}
	}
	&.navy {
		a,span.btn_inner ,input[type="submit"],button {
		background-color: $base_color01;
		@include linearGradient(0deg, $base_color01,lighten($base_color01,10%));		
		}
	}	
	&.lightblue {
		a,span.btn_inner ,input[type="submit"],button {
		background-color: $base_color02;
		color: $base_color01;
		@include linearGradient(0deg, $base_color02,lighten($base_color02,10%));		
		}
	}
	&.cyan {
		a,span.btn_inner ,input[type="submit"],button {
		background-color: $base_color04;
		color: #fff;
		@include linearGradient(0deg, $base_color04,lighten($base_color04,10%));		
		}
	}
	&.simplewhite {
		a,span.btn_inner ,input[type="submit"],button {
		background-color: #fff;
		border: 1px solid $bd_color01;
		color: $base_color01;
		background-image :none !important;
		}
	}
	&.gray {
		a,span.btn_inner ,input[type="submit"],button {
		background-color: $bg_color02;
		color: $text_color01;
		@include linearGradient(0deg, $bg_color02,lighten($bg_color02,10%));		
		border: 1px solid $bd_color01;
		padding: 10px 18px;
		font-weight: normal;
		}
	}
	&.white {
		a,span.btn_inner ,input[type="submit"],button {
			padding: 12px 18px 8px 18px;
			color: $base_color01;
			background-image :none !important;
			background-color: #fff;
			border: 4px solid $base_color02;
			@include boxShadow(2px 3px 0px 0px rgba(0, 0, 0, 0.05));
		}
	}
	&.green {
		a,span.btn_inner ,input[type="submit"],button {
			color: $text_color01;
			background-image :none !important;
			background-color: #d8f0c4;;
		}
	}
	&.no_grad {
		a,span.btn_inner {
			background-image :none !important;
		}
	}
	&.min_shadow a{
		@include boxShadow(1px 2px 3px 0px rgba(0, 0, 0, 0.1));
	}
	&.no_shadow a{
		@include boxShadow(none);
	}
    &.thin ,&.form_btn{
		display: inline-block;
		margin: 0 10px;
		width: auto;
	   a, input[type="submit"],button {
		    font-size: 12px;
		    font-weight: bold !important;
		    line-height: 14px;
		    padding: 8px 10px !important ;
		    display: inline-block;
		    width: 150px;
			@include boxShadow(1px 2px 0px 0px rgba(0, 0, 0, 0.1));
			&.large {
			    font-size: 16px;
			    line-height: 16px;
				padding: 14px 40px !important;
			    min-width: 120px;
			    width: auto;
			    @include borderRadius(22px);
			}
			&[class*="ico_"]{
				padding-left: 60px !important;
				&:before {
					font-size: 20px;
					left: 38px;
					margin-top: -11px;
				}
			}
	    }
	    &.gray {
		   a, input[type="submit"],button  {
			   border: none;
			   background: #d8d8d8;
			   color: $text_color01;
		    }
	    }	    

    }
	a, input[type="submit"],button {
	   &.small {
		    width: 110px !important;
	    }
	    &.auto {
		    width: auto !important;
		    padding-left: 25px !important;
		    padding-right: 25px !important;
	    }
    }
    
	&.close_btn,&.check_close_btn,&.inner_close_btn {
	a {
		display: inline-block;
		font-size: 13px;
		color: #fff;
		background: #999;
		padding: 8px 25px 8px 25px !important;
		min-width: inherit;
		width: auto;
		&[class*="ico_"] {
			padding-left: 40px !important;
			&:before {
				font-size: 11px;
				margin-top: -6px;
				left: 20px;
			}
		}
		&:hover {
			text-decoration: none;		
			}
		}
	}
}

.btn.type02 {
	a:visited{
		color: $text_color01;		
	}
	a,input[type="submit"],button  , .btn_inner{
		display: block;
		position: relative;
		@include borderRadius(3px);
		background: #fff;
		border: 1px solid $bd_color01;
		text-align: center;
		color: $text_color01;
		padding: 14px 0;
		font-size: 15px;
		line-height: 17px;
		font-weight: bold;
		text-decoration: none;
		opacity: 1;
		@include transition(250ms ,opacity);
		&:hover {		
			opacity: 0.8;
		}
		
		&:after {
			content: " ";
			position: absolute;
			right: 1px;
			bottom: 1px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 15px 15px;
			border-color: transparent transparent $key_color01 transparent;
		}
	}
	 .btn_inner a:hover {
		 opacity: 0.8;
	 }	 
	 .external {
		 display: block;
		 &:after {
			 color:$base_color01;
		 }
	 }
}
.btn .btn_inner a {
		display: inline;
		background: none;
		padding: 0;
		border: 0;
		font-weight: normal;
		text-align: left;
		&:after {
			content: none;		
		}
}
.btn.type03 {
	a,.btn_inner ,input[type="submit"],button {		
		vertical-align: baseline;
		display: inline-block;
		position: relative;
		color: #fff;		
		font-size: 13px;
		line-height: 18px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		padding: 10px 25px 8px 40px;
		border: none;
		opacity: 1;
		@include borderRadius(5px);	
		background-color: $key_color03;
		@include linearGradient(0deg, $key_color03 0% ,lighten($key_color03,10%) 100%);
		@include boxShadow(2px 3px 0px 0px rgba(0, 0, 0, 0.1));
		@include transition(250ms ,opacity);
		&:hover {		
			opacity: 0.8;
		}
		&:before {
			@include iconFont();
			position: absolute;
			content:'\e91e';
			font-size: 32px;
			color: #fff;
			top: 50%;
			left: 16px;
			margin-top: -15px;
			line-height: 1;
			text-decoration: none !important;
		}
	}
	.btn_inner:hover {
		opacity: 1;
	}
	a:visited{
		color: #fff;		
	}
	&.gray {
		a,.btn_inner ,input[type="submit"],button {
			background: #dddddd;
			color: #8e8d8b;
			&:before {
				color: #8e8d8b;
			}
		}	
		a:visited{
			color: #8e8d8b;
		}
	}
}
/*  bnr --------------------------------------------------------*/  
.bnr_list {
	.bnr {
		display:table;
		text-align: center;
		width: 218px;
		height: 68px;
		border: 1px solid $bd_color01;
		@include borderRadius(5px);
		text-decoration: none;
		&:hover {
			opacity: 0.6;
		}
		.bnr_inner {
			display: table-cell;
			vertical-align: middle;
		}
		.external {
			text-decoration: none;
			&:after {
			    right: -6px;
			    margin-top: -5px;				
			}
		}
	}
}
/* ----------------------------------------------------------------------------
    header
---------------------------------------------------------------------------- */
#header {
	background: #fff;
	position: absolute;
	height: 130px;
	width: 100%;
	margin-top: 63px;
	top: -63px;
	z-index: 101;
	@include transition(250ms ,top);
	@include animation(0.6s,fade-in);
	border-bottom: 2px solid $bd_color01;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}			
	}
	#header_upper{
		background: $base_color01;
		font-size: 10px;
		line-height: 1.4;
		color: #fff;
		height: 14px;
		padding: 8px 0;
		a {
			color: #fff;	
		}
		h1 {
			float: left;
			font-weight: normal;
			width: 550px;
		}
		.utility {
			float: right;
			width: 350px;
			text-align: right;	
			a {
				padding-left: 16px;
				&.english {
					position: relative;
					&:before {
						display: block;
						position: absolute;
						content: " ";
						left: 7px;
						top: 0;
						height: 1em;
						border-left: 1px solid #fff;
						width: 0;
					}
				}
			}			
		}		
	}//#header_upper
	#header_bottom {
		padding-top: 10px;
		position: relative;
		top :0;
		@include transition(250ms ,top);
		#header_logo {
			width: 280px;
			padding-top: 5px;
			position: absolute;
			left: 0;
			top: 0;
			h2 {
				font-size: 20px;
				line-height: 1;
				margin: 16px 0 10px;
			}
		}
		#service_logo {
			width: 135px;
		}
		#header_contact {
			width: 660px;
			float: right;
			text-align: right;
			.call {
				float: right;
				line-height: 32px;
				margin-right: 20px;
				text-align: right;
				img {
					display: inline-block;
					margin-right: 16px;
					padding-right: 16px;
					border-right: 1px solid $bd_color01;
					&:last-child {
						padding-right: 0;
						margin-right: 0;
						border-right: 0;
					}
				}
			}
			.btn {
				float: right;
				a{
					font-size: 12px;
					line-height: 14px;
					padding-top: 8px;
					padding-bottom: 8px;
					padding-left: 38px;
					&:before {
					    font-size: 18px;
					    left: 12px;
					    margin-top: -10px;					
					}
					&:hover {
						text-decoration: none;
					}					
				}
			}
		}//#header_contact
		#global_navigation {
			width: 680px;
			margin-top: 8px;
			min-height: 48px;
			float: right;
			ul {
				text-align: right;
			}
			li {
				position: relative;
				display: inline-block;
				&:last-child{
					margin-right: -12px;
				}
				&.active {
					.sub {
						display: block;
						opacity: 1;
					}					
					a.global {
						background: $base_color01;
						color: #fff;
					}					
				}
			}
			a.global {
				display: block;
				padding: 10px 12px 18px 12px;;
				font-size: 15px;
				line-height: 20px;
				color: $text_color01;
				font-weight: bold;
				text-decoration: none;	
				&.external {
					padding-right: 20px;
					&:after {
					    right: 4px;
					    margin-top: -11px;	
				    }						
				}
				&.cr {
					color: #809ebd;
				}
				&:hover {
					background: $base_color01;
					color: #fff;
				}
			}
			.sub {
				display: none;
				opacity: 0;
				position: absolute;
				left: 0;
				top: 48px;
				background: $base_color01;
				color: #fff;
				padding: 24px 0 30px 28px;
				width: 632px;
				text-align: left;
				@include boxShadow(3px 5px 5px 0px rgba(0, 0, 0, 0.25));
				@include transition(250ms ,opacity);
				.sub_col {
					float: left;
					width: 210px;
					padding-right: 15px;
					&.narrow {
						width: 150px;
					}
					&.double {
						width: 450px;
					}
					h4 {
						font-size: 15px;
						line-height: 20px;
						margin-bottom: 16px;
					}
					ul {
						float: left;
						text-align: left;
						&.wide {
							width: 265px;
						}
						&.narrow {
							width: 185px;
						}
					}
					li {
						display: block;
						margin-bottom: 16px;
						padding: 0 0 0 14px;
						&:before{
							color: #fff;
							margin-top: 0;
							top: -6px;
						}
						a {
							display: inline-block;
							font-size: 14px;
							font-weight: bold;
							line-height: 20px;
							color: #fff;
						}
					}
				}
				.btn {
					display: inline-block;
					clear: both;
					float: right;
					margin: 16px 30px 0 0;
					a {
						font-size: 12px;
						line-height: 14px;
						padding-top: 8px;
						padding-bottom: 8px;
						&:hover {
							text-decoration: none;
						}
					}
				}	
			}//.sub
			li:nth-child(2){
				.sub {
					left: -225px;
				}
			}
			li:nth-child(3){
				.sub {
					left: -485px;
					width: 682px;
				}
			}
		}//#global_navigation
	}//#header_upper
	&.fixed {
		position: fixed;
		margin-top: 0;
		top: 0;
		height: 63px;
		#header_upper,#header_contact {
			display: none;
		}	
		#header_bottom {
			top: -6px;
			#header_logo {
				#service_logo {
					width: 80px;
					margin-right: 15px;
				}
				h2 {
					font-size: 15px;
				    margin: 10px 0 0 0px;
				}
			}
			#global_navigation {
				margin-top: 9px;
			}
		}
	}
}
/* ----------------------------------------------------------------------------
    goto_sp
---------------------------------------------------------------------------- */
#goto_sp {
	background: $base_color01;
	padding: 20px 0;
	.btn {
		display: block;
		width: $contents_width;
		padding: 20px 0;
		margin: 0 auto;
		font-size: 40px;
		line-height: 60px;
		color: $base_color01;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		@include linearGradient(0deg, rgb(230,230,230) 0%, rgb(255,255,255) 100%);		
		&:before {
			font-size: 90px;
			left: inherit;
			right: 10px;
			margin-top: -43px;
		}
		.ico_sp01{
			padding-left: 76px;
			&:before {
				font-size: 80px;
				left: 0;
				margin-top: -38px;
			}
		}
	}
}
/* ----------------------------------------------------------------------------
    noscript
---------------------------------------------------------------------------- */
#noscript {
	color: $key_color05;
	text-align: center;
	padding: 13px 0;
	border-top: 1px solid $base_color01;
	border-bottom: 1px solid $base_color01;
}

/* ----------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------- */
#footer {
	position: relative;
	z-index: 0;
	#footer_navigation {
		padding: 30px 0;
		background: $bg_color03;
		.arrow {
			display: block;
			padding-left: 12px;
			&:before {
				color: #aeaeae;
			    font-size: 24px;
			    left: -7px;
			    margin-top: -11px;					
			}
			&.external {
				display: inline-block;
				&:after {
					font-size: 12px;
					content:'\e902';
					right: -4px;
					margin-top: -8px;
				}
			}
		}
		a {
			text-decoration: none;
			font-size: 12px;
			font-weight: bold;
			line-height: 20px;
			color: $text_color02;
			margin: 10px 0;
			&:hover {
			text-decoration: underline;
			}			
		}
		span.first a {
			display: inline-block;
			line-height: 16px;
			margin: 0 0 6px 0;
		}
		.footer_col {
			float: left;
			width: 205px;
			margin-left: 20px;
			&:nth-child(2){
				width: 235px;
			}
			&:nth-child(3){
				width: 235px;
			}
			&:nth-child(4){
				width: 160px;
			}
		}
		.sub {
			margin: 0 10px 10px 10px;
			h4,a{
				font-size: 11px;
				font-weight: normal;
				margin: 2px 0;
				display: inline-block;
				line-height: 16px;
			}
			.external:after {
				right: -13px;
				color: #626262;
			}
			ul {
				margin-bottom: 10px;
			}
		}
	}//#footer_navigation
	#footer_attention {
		border-top : 2px solid $key_color03;
		padding: 25px 0;
		h3 {
			font-size: 14px;
			line-height: 22px;
			color: #000;
			margin-bottom: 15px;
		}
		.text {
			float: left;
			font-size: 10px;
			line-height: 15px;
			color: #7d7d7d;
			width: 700px;
		}
		.marks {
			float: right;
			width: 235px;
			img {
				padding-left: 30px;
			}
		}
	}//#footer_attention
	#footer_bottom {
		padding: 18px 0 22px 0;
		background: $base_color01;
		color: #d2d2d2;
		font-size: 10px;
		line-height: 14px;
		.utility {
			margin-bottom: 15px;
			span {
				padding:0 8px;				
				position: relative;
				&:before {
					display: block;
					position: absolute;
					content: " ";
					left: 0px;
					top: 0;
					height: 1em;
					border-left: 1px solid #fff;
					width: 0;
				}
				&:first-child {
					padding-left: 0;
					&:before {
						content: none;
					}
				}
				&.external {
					padding-right: 20px;
					&:after {
						right: 7px;
					}
				}
			}
			a {
				color: #fff;
				text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}			
	}//#footer_bottom
}
/* ----------------------------------------------------------------------------
    side
---------------------------------------------------------------------------- */
.right_col {
	#profile_box {
		margin: 5px 0 15px 0;
		img {
			float: left;
			border: 1px solid $bd_color01;
		}
		
		.name {
			float: left;
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
			padding: 15px;
			.title {
				font-size: 15px;
			}
		}
	}
	.nav_box {
		padding: 15px;
		border: 1px solid $bd_color01;
		margin-bottom: 10px;
		&.btn_menu {
			.btn {
				margin-bottom: 12px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					font-size: 14px;
					line-height: 17px;
					background: $base_color02;
					color: $text_color01;
					padding: 14px 6px 10px 6px;
					@include borderRadius(20px);
					@include boxShadow( 1px 2px 3px 1px rgba(0, 0, 0, 0.2));
					&[class*="ico_"] {
						padding-left: 32px;
					}
					&:before {
						left: 16px;
						color: $base_color03;
						margin-top: -17px;
					}	
					&.double {
						@include borderRadius(40px);	
					}
					&.ico_man01 {
						&:before {
							font-size: 28px;
							left: 20px;
							margin-top: -14px;
						}
					}
					&.ico_yen02 {
						&:before {
							font-size: 40px;
							left: 11px;
							margin-top: -20px;
						}					
					}
					&.ico_pc01 {
						&:before {
							font-size: 38px;
							left: 12px;
							margin-top: -19px;
						}					
					}
					&.ico_yen01 {
						&:before {
							font-size: 26px;
							left: 18px;
							margin-top: -13px;
						}					
					}
					&.ico_cal01 {
						&:before {
							font-size: 26px;
							left: 18px;
							margin-top: -13px;
						}					
					}
					&.ico_pt01 {
						&:before {
							font-size: 26px;
							left: 18px;
							margin-top: -13px;
						}					
					}
					&.ico_yen03 {
						&:before {
							font-size: 32px;
						}			
					}
					&.external:after {
						color: $base_color04;					
					}
				}
			}
		}
	}//.nav_box
	.side_box {
		padding: 20px;
		margin-bottom: 10px;
		border: 1px solid $bd_color01;
		h3 {
			font-size: 15px;
			line-height: 26px;
			margin-bottom: 16px;
		}
		li.arrow {
			&:before {
				color: $base_color01;
			}
		}
	}//.side_box

}
/* ----------------------------------------------------------------------------
    sec content
---------------------------------------------------------------------------- */
.sec {
	margin-bottom: 50px;

/*  title --------------------------------------------------------*/  
	.title_area {
		position: relative;
		.gotoindex {
			position: absolute;
			right: 0;
			top: 5px;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}				
	}
	.sec_title {
		font-size: 20px;
		line-height: 30px;
		font-weight: bold;
		padding: 0 0 10px 0;
		margin-bottom: 16px;
		border-bottom: 1px solid $bd_color01;	
		&[class*="ico_"] {
			position: relative;
			padding-left: 40px;

			&:before {
				color: $key_color02;
				font-size: 36px;
				left: 0;
			}
		}
		&.ico_ex01{
			padding-left: 30px;
			&:before {
			color: $key_color05;
			font-size: 24px;
			}
		}
		&.ico_mail01{
			&:before {
				margin-top: -18px;				
			}
		}
		&.bd_btm_none {
			padding-bottom: 0;	
		}	
		a {
			color: $base_color01;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			} 
		}	
	}
	.icon_title {
		font-size: 15px;
		line-height: 22px;
		padding-left: 40px;
		position: relative;
		margin: 25px 0 10px 0;
		&:before {
			color: $key_color02;
			font-size: 40px;
			margin-top: -20px;
			left: -5px;
		}
		
	}
	.bg_title {
		font-size: 17px;
		line-height: 22px;
		padding: 8px 10px;
		background: #f4f4f4;
		margin-bottom: 10px;
	}
	.line_title {
		font-size: 15px;
		line-height: 22px;
		padding: 1px 6px;
		border-left: 5px solid #e8e8e8;
		margin-bottom: 10px;		
	}
	.bd_btm_title {
		font-size: 15px;
		line-height: 22px;
		padding-bottom: 10px;
		margin-top: 25px;
		margin-bottom: 20px;
		border-bottom: 1px solid $bd_color01;
	}
	.basic_title {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 10px;		
		&.large {
			font-size: 20px;
		}
	}
	[class*="title"] {
		.icon {
			position: relative;
			top: -1px;
			color: $key_color02;
			font-size: 36px;
			&.fp {
				left: -12px;				
			}
		}
	}
	.square_title {
		font-size: 13px;
		line-height: 18px;
		padding-left: 1.2em;
		position: relative;
		&:before {
			position: absolute;
			content: "■";
			top: 0;
			left: 0;
		}
	}
	
	
/*  arrow --------------------------------------------------------*/  
	.arrow.link {
		&:before {content:'\e91e';}	
		&.align_top {
			&:before {
				top: 0.27em;
			}
		}
	}
	.arrow.anchor {
		padding-left: 17px;
		&:before {
			font-size: 28px;
			margin-top: -14px;
			left: -7px;
			content:'\e919';
			color: $key_color01;
			}				
	}
	.title {
		 font-size: 15px;
		line-height: 22px;
		.arrow.link {
			padding-left: 18px;
			&:before {
			    font-size: 48px;
			    margin-top: -24px;
			    left: -18px;				
			}				
		}		
	}
/*  list --------------------------------------------------------*/  
	ul,ol{
		&.dot,&.num,&.notice,&.example {
			li {
				margin-bottom: 2px;
				line-height: 20px;
			}
		}
		&.dot {
			li {
				list-style: disc outside;
				margin-left: 1.2em;				
			}
		}
		&.num {
			li {
				list-style: decimal;
				margin-left: 1.6em;				
			}
		}
		&.notice {
			padding-left: 0;
			&:before {
				content: none;
			}
			li {
				padding-left: 1.2em;
				position: relative;
				&:before {
					position: absolute;
					content: "※";
					top: 0;
					left: 0;
				}
			}
			&.num {
				li {
					list-style: none;
					margin-left: 0;
					padding-left: 2em;
					&:nth-child(1):before {content: "※1";}					
					&:nth-child(2):before {content: "※2";}					
					&:nth-child(3):before {content: "※3";}					
					&:nth-child(4):before {content: "※4";}					
					&:nth-child(5):before {content: "※5";}					
					&:nth-child(6):before {content: "※6";}					
					&:nth-child(7):before {content: "※7";}					
					&:nth-child(8):before {content: "※8";}					
					&:nth-child(9):before {content: "※9";}					

				}
			}
		}
		&.example {
			padding-left: 0;
			&:before {
				content: none;
			}
			li {
				padding-left: 2.2em;
				position: relative;
				&:before {
					position: absolute;
					content: "例1:";
					top: 0;
					left: 0;
				}
				&:nth-child(2):before {content: "例2:";}
				&:nth-child(3):before {content: "例3:";}
				&:nth-child(4):before {content: "例4:";}
				&:nth-child(5):before {content: "例5:";}
				&:nth-child(6):before {content: "例6:";}
				&:nth-child(7):before {content: "例7:";}
				&:nth-child(8):before {content: "例8:";}
				&:nth-child(9):before {content: "例9:";}
			}
		}
		&.simple_list {
			li {
				float: left;
				margin-right: 20px;
			}
			&.double li{
				width: 325px;			
				&:nth-child(2n) {margin-right: 0;}				
			}
			&.triple li{
				width: 210px;
				&:nth-child(3n) {margin-right: 0;}
			}
			&.quad li{
				width: 152px;
				&:nth-child(4n) {margin-right: 0;}
			}
		}
	}
/*  tag --------------------------------------------------------*/  
		.tag {
			span {
				font-size: 14px;
				line-height: 15px;
				padding: 5px 12px;
				background: $bd_color01;				
			}
		}
/*  sec_box --------------------------------------------------------*/  
	.sec_box {
		padding: 20px 25px;
		border: 1px solid $bd_color01;
		margin-bottom: 10px;
		position: relative;
		&.fl_img {
			padding: 0 0 20px 0;
			position: relative;
			.fl_img_inner {
				margin: 0 25px;
			}
		}
		.title {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 15px;
			&.small {
				font-size: 17px;
				line-height: 20px;
			}
			img {
				padding-right: 12px;
				vertical-align: middle;
			}
			&.ico_lady01:before {
				color: #f6637f !important;
			}
			&[class*="ico_"] {
				padding-left: 40px;
				&:before {
					color: $key_color02;
					font-size: 36px;
					margin-top: -19px;
					left: -3px;					
				}
				&.large,&.xlarge {
					padding-left: 48px;
					line-height: 28px;
					&.single {
						line-height: 60px;
					}
					&:before {
						color: $base_color04;
						font-size: 60px;
						margin-top: -30px;
						left: -10px;
					}
					&.pl {
						padding-left: 60px;
						&:before {
							left: -6px;
						}
					}
				}
				&.xlarge{
					padding-left: 80px;
					&:before {
						font-size: 84px;
						margin-top: -42px;
						left: -6px;
					}
				}
			}
			&.ico_postal01 {
				&:before {
					font-size: 29px;
					margin-top: -14px;
					left: 1px;
				}
			}
			&.ico_mail01 {
				&:before {
					margin-top: -17px;
				}
			}
			&.ico_sp01 {
				padding-left: 34px;
				&:before {
					left: -6px;
				}
			}
		}
		&.result_box {
			border: 4px solid #b7cee6;
			text-align: center;
			span.num {
				font-size: 20px;
				line-height: 20px;
				color: $base_color01;
				font-weight: bold;
				margin-left: 5px;
			}
		}
	}
	//2カラム
	.sec_box_double {
		.sec_box {
			float: left;
			width: 273px;
			margin-right: 20px;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		.box_wrap {
			float: left;
			width: 323px;
			margin-right: 20px;
			&:nth-child(2n) {
				margin-right: 0;
			}
			.sec_box {
				float: none;
				width: auto;
				margin-right: 0;
			}	
		}
	}
	//3カラム
	.sec_box_triple{
		.sec_box {
			float: left;
			width: 164px;
			margin-right: 11px;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	/*  point_box 	-------------------------------------------------*/  
	.point_box {
		padding: 15px;
		.title_box {
			background: $base_color04;
			@include borderRadius(4px);
			font-size: 15px;
			color: #fff;
			line-height: 18px;
			padding: 9px;
			text-align: center;		
			margin-bottom: 12px;	
		}
		.title {
			font-size: 13px;
			line-height: 18px;
			font-weight: bold;
			margin-bottom: 8px;
			&.large {
				font-size: 20px;
				line-height: 28px;
				&.single {
					line-height: 56px;
				}
			}
		}
		.notice {
			font-size: 11px;
			line-height: 14px;
			margin-top: 8px;
		}
	}
	.sec_box_triple {
		.point_box {
			width: 184px;
		}
	}
	.sec_box_double {
		.point_box {
			width: 293px;
		}
	}
	/*  service_box 	-------------------------------------------------*/  
	.service_box {
		padding: 17px 8px 20px 8px;
		text-align: center;
		@include borderRadius(4px);
		&:nth-child(3n+1) {
			margin-right: 0;
		}
		a {
			text-decoration: none;
			color: $text_color01;
			@include transition(250ms ,background-color);
			opacity: 1;
			&:hover {
				opacity: 0.8;
			} 
		}
		.icon_box {
			color: $base_color04;						
			font-size: 80px;
			line-height: 88px;
			margin-bottom: 5px;
			.icon {
				line-height: 88px;			
			}
			.pc {
				font-size: 130px;
				letter-spacing: -40px;
				margin-left: -16px;
				&.single {
					letter-spacing: 0;
					margin-left: 0;
				}
			}
			.fp,.sp {
				position: relative;
				font-size: 64px;
			    letter-spacing: -28px;
			    top: 6px;
			}
			.fp {
				letter-spacing: -2px;
			}
			.zoom {
				font-size: 98px;
			}
			.zoom_l {
				font-size: 120px;
			}
		}	
		h4.title {
			font-size: 20px;
			line-height: 26px;
			font-weight: bold;
			margin-bottom: 10px;
			&.tite {
				letter-spacing: -1px;
			}
			&.single {
				line-height :52px;
			}
		}		
		.text {
			text-align: left;
			font-size: 13px;
			line-height: 22px;
			margin: 0 12px;
		}
		.notice {		
			font-size: 12px;
			line-height: 18px;
		}
	}
	.sec_box_triple {
		.service_box {
			width: 191px;
			margin: 0 20px 20px 0;
		}
	}
	/* contact_box 	-------------------------------------------------*/  
	.contact_box {
		@include borderRadius(4px);
		padding: 22px;
	}
	/*  bg_box 	-------------------------------------------------*/  
	.bg_box {
		background: #e7effa;
		padding: 20px;
	}
	/*  step_box 	-------------------------------------------------*/  
	.step_box {
		.title {
			background: $base_color04;
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			line-height: 18px;
			padding: 13px 20px;
			@include borderRadius(4px 4px 0 0);
		}
		.box_content {
			padding: 25px 15px;
			border-color: $bd_color01;
			border-style: solid;
			border-width: 0 2px 2px 2px;
			@include borderRadius( 0 0 4px 4px);
		}
		&.no_content .title {
			@include borderRadius(4px);
		}
		&.finish_box {
			.box_content {
				border-width : 2px;
				border-color : $base_color04;
				@include borderRadius(4px);
			}
			.description {
				width: 420px;
				text-align: left;
				font-size: 12px;
				line-height: 1.2;
				margin: 20px auto 0 auto;			
			}
		}
	}
	/*  app_box 	-------------------------------------------------*/  
	.app_box {
		padding: 25px 30px;
		display: table;
		border-width: 2px;
		.about {
			display: table-cell;
			vertical-align: top;
			width: 258px;
			padding-right: 20px;
			border-right: 1px solid $bd_color01;
			text-align: left;
			.img {
				margin-bottom: 5px;
				text-align: center;
			}
			.icon {
				font-size: 80px;
				color: $base_color04;
				text-align: center;
				line-height: 80px;
				margin-bottom: 10px;
				span {
					vertical-align: bottom;		
					position: relative;			
				}
				.sp {
					font-size: 60px;
					line-height: 68px;
					margin-left: -15px;
				}
			}
			.title {
				font-size: 15px;
				line-height: 22px;
				margin-bottom: 5px;
			}
		}
		.data {
			display: table-cell;
			width: 304px;
			vertical-align: top;
			padding-left: 25px;
			.btn_area .btn.type01.large {
				display: inline-block;
				a {
					width: 200px;
					font-size: 16px;
					padding: 12px 0 11px 0;
					&.external {
						width: 190px;
						padding-left: 10px;
						&:after {
							top: -2px;
						}
					}
				}
				&.app a{
					width: 192px;
					padding-left: 25px;
					font-size: 18px;
					&:before {
						left :23px;					
					}					
				}
			}
		}
	}
	/*  point_circle 	-------------------------------------------------*/  
	.point_circle {
		li {
			float: left;
			display: table;
			width: 204px;
			height: 204px;
			text-align: center;
			border: 3px solid $key_color03;
			margin-right: 20px;
			@include borderRadius(50%);
			&:last-child {
				margin-right: 0;
			}
			p {
				display: table-cell;
				vertical-align: middle;
				font-size: 20px;
				line-height: 28px;
				font-weight: bold;
				color: $key_color03;	
				strong {
					display: block;
					margin-bottom: 5px;
				}
				span {
					display: inline-block;							
				}					
				.bk {
					color: #333333;
					font-weight: normal;
					font-size: 13px;
					line-height: 20px;
				}
				.arrow.link{
					font-weight: normal;
					font-size: 13px;
					line-height: 20px;					
				}
				.large {
					font-size: 24px;
					line-height: 30px;
				}
			}					
		}
		&.double {
			margin-left: 39px;
			li {
				width: 280px;
				height: 280px;
			}
		}
	}//.point_circle	
	/* dialog 	-------------------------------------------------*/  
	.dialog {
		margin-bottom: 20px;
		.talk ,.speaker {
			display: table-cell;
			vertical-align: middle;
		}
		.speaker {
			width: 100px;
			img {
				vertical-align: middle;
			}
		}
		.bln {
			width: 345px;
			padding: 18px 20px;
			border: 1px solid #ccc;
			@include borderRadius(4px);
			display: inline-block;
			position: relative;
			&:after, &:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: transparent;
				border-width: 8px 10px;
				margin-top: -8px;
			}
			&:before {
				border-color: transparent;
				border-width: 9px 11px;
				margin-top: -9px;
			}
		}
		.al_left{
			display: table;
			width: 100%;
			margin-bottom: 20px;
			.bln{
				&:after {
					border-right-color: #fff;
				}
				&:before {
					border-right-color: #ccc;
				}
			}
		}
		.al_right{
			display: table;
			width: 100%;
			text-align: right;
			.bln{
				text-align: left;
				&:after, &:before {
					right: inherit;
					left: 100%;
				}
				&:after {
					border-left-color: #fff;
				}
				&:before {
					border-left-color: #ccc;
				}
			}
		}
	}//.dialog				
	/*  table 	-------------------------------------------------*/  
	table {
		width: 100%;
		table-layout: fixed;
		margin-bottom: 20px;
		border-collapse: separate;
		border-spacing: 0;
    		border-left: 1px solid $bd_color01;
			border-top: 1px solid $bd_color01;			
		tr {
		}

		th,td {
			border-bottom: 1px solid $bd_color01;
    		border-right: 1px solid $bd_color01;
			vertical-align: middle;	
			padding: 8px 15px;
			&.blank {
				border-bottom: none;
				border-right: none;				
			}
			&.middle {
				width: 155px;
			}
			&.wide {
				width: 300px;
			}
			&.thin {
				width: 120px;
			}
			&.small {
				width: 80px;				
			}
		}
		th {
			background: $bg_color02;		
			text-align: center;
			font-weight: normal;
			width: 170px;
		}
		&.text_left{
			th,td {
				text-align: left !important;
			}
		}
		&.text_center{
			th,td {
				text-align: center !important;
			}
		}
		&.text_right{
			th,td {
				text-align: right !important;
			}
		}
		&.col_h {
			th {
				text-align: left !important;
			}
		}
		&.bd_none {
			tr,th,td {
				border: none;
			}
		}
		&.pd_none {
			tr,th,td {
				padding: 0;
			}
		}
		&.auto {
			table-layout:auto;
		}
	}
	/*  table table_flow-------------------------------------------------*/  
	table.table_flow {
		border-collapse: separate;
		border-spacing : 10px 5px;
		border-top: none;
		border-left: none;
		&.fill {
			width: 690px;
			margin-left: -10px;
		}
		tr,th {
			border: none;
		}
		th {
			background: $base_color02;
			width: 60px;
			.title {
				font-size: 14px;
				line-height: 22px;
			}
		}
		td {
			vertical-align: top;
			border: 1px solid $bd_color01;
			padding: 0;
			
			.basic_title {
				font-size: 15px;
				line-height: 22px;
				margin: 10px 10px 5px 15px;
				&.single {
					line-height: 44px;
				}
			}
			.bg_title {
				text-align: center;
				font-size: 15px;
				line-height: 22px;
				padding: 8px;
				color: #fff;
				background: #aeaeae;
				border-bottom: 1px solid $bd_color01;
				position: relative;
				margin-bottom: 0;
				&:after {
					content: " ";
					position: absolute;
					left: -1px;
					top: -1px;
					width: 100%;
					height: 100%;
					border-width: 1px;
					border-style: solid;
					border-color: #aeaeae #aeaeae transparent #aeaeae;					
				}
			}
			.single_col {
				.basic_title {
					margin-left: 0;
					text-align: center;
					margin-top: 5px;
				}
				.step_content .basic_title {
					text-align: left;
				}
			}
		}
		tr.row_arrow {
			td {
				border: none;
				text-align: center;
			}
			.flow_arrow {
				margin: 5px 0;
			}
			.finish {
				background: #797979;
				color: #fff;
				font-size: 13px;
				line-height:20px;
				padding: 5px;
				font-weight: bold;
				@include borderRadius(4px);
				text-align: center;
				&.inline_block {
					width: 160px;
				}
			}
		}
		.step_description {
			padding: 10px;
			border: none;
		}
		.step_content {
			.basic_title {
				text-align: left;
				font-size: 13px;	
				line-height: 17px;
				margin: 0 0 5px 0;
			}
		}
		.icon_box {
			vertical-align: middle;
			width: 70px;
			padding-right: 10px;
			font-size: 60px;
			letter-spacing: -5px;
			line-height: 60px;
			.pc {
				font-size: 90px;
			    letter-spacing: -10px;
			    text-indent: -8px;
				line-height: 60px;
			}
			.sp ,.fp {
				font-size: 40px;
				display: inline-block;
				line-height: 40px;
				width: 25px;
				text-align:center;
				text-indent: -6px;
				margin-top: -43px;
			}
			.yen10 {
				font-size: 80px;
			}
			&.double {
				width: 100px;
				font-size: 50px;
				line-height: 50px;
				span {
					vertical-align: middle;
				}
				.yen10 {
					font-size: 72px;
					width: 50px;
				}
				.pc_wrap {
					span {
						vertical-align: bottom;
					}
					.pc {
						text-indent: -15px;
						letter-spacing: -25px;
					}
					.sp ,.fp {
						line-height: 48px;
						letter-spacing: -20px;
					}
				}
			}
		}
		.single_col .icon_box {
			width: auto;
			display: block;
			margin-top: -5px;
			margin-bottom: 5px;
			padding-right: 0;
			letter-spacing: 0;
			span{
				display: inline-block;
				line-height: 60px;
			    vertical-align: middle;
			}
			.pc {
				letter-spacing: -18px;		
				text-indent: -18px;		
			}
			.sp ,.fp {
				margin-top: 11px;
			}
		}
		td.dots {
			border: none;
			font-size: 0;
			position: relative;
			overflow: hidden;
			p {
				position: absolute;
				display: block;
				margin: 0;
				padding: 0;				
				width: 1px;
				height: 500px;
				top :0;
				left: 50%;
				margin-left: -2px;
				border-right: 4px dotted $base_color02;				
			}
		}
	}//table_flow
/*  link icon --------------------------------------------------------*/  
	.menu_btn {
		li.btn {
			float: left;
			margin-right: 20px;			
			margin-bottom: 20px;
			width: 302px;
			&:nth-child(2n){
				margin-right: 0;
			}
			a {
			    padding-left: 16px;
			    padding-right: 17px;
			    text-align: left;				
			}
			p {
				margin-top: 8px;
				line-height: 17px;
			}
			[class*="ico_"] {
				padding-left: 32px;
				&:before {
					color: $base_color04;
					font-size: 24px;
					margin-top: -12px;
					left: 0;
				}
			}
		}
		.triple {
			li.btn{
				width: 210px;
				a {
					padding-left: 10px;
					padding-right: 10px;
				}
				&:nth-child(2n){
					margin-right: 20px;
				}
				&:nth-child(3n){
					margin-right: 0;
				}					
			}
		}
	}
/*  link icon --------------------------------------------------------*/  
	.external {
		&:after {
			color: $base_color04;
		}
		a {
			text-decoration: none;
			&:hover {text-decoration: underline;}
		}
	}
	.link_icon {
		color: $link_color01;
		
		a {
			margin-right: 6px;
			text-decoration: none;
			&:hover {text-decoration: underline;}
		}
	}
/*  notice 	-------------------------------------------------*/  
	.notice {
		padding-left: 1.2em;
		position: relative;
		&:before {
			position: absolute;
			content: "※";
			top: 0;
			left: 0;
		}
	}
/*  image 	-------------------------------------------------*/  
	.fl_content {
		.thin {
			width: 220px;
		}
		.wide {
			width: 420px;
		}
	}
	.img {
		.caption {
			margin-top: 8px;
			font-size: 11px;
			line-height: 18px;
			&.small {
				margin-top: 4px;
				font-size: 9px;
				line-height: 12px;
			}
		}
	}
}
/*  btn_list --------------------------------------------------------*/  
.btn_list , .btn_area {
	li {
		float: left;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		.btm_text {
			margin-top: 4px;
			font-size: 12px;
			text-align: center;
			span.orange {
				a {
					color: $key_color03;
					letter-spacing: -1px;
					margin: 0 2px;
				}
				&:before {
					left: -6px;
				}
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.btn.type01 {
		a {
			font-size: 14px;
			line-height: 18px;
			color: $text_color01;
			padding-left: 0;
			padding-right: 0;
			width: 120px;
			@include borderRadius(30px);
			&.external {
				&:after {
					color: #fff;
					padding-left: 6px;
				}
			}
		}
		&.large 	a{
			width: 212px;
			font-size: 18px;
			padding: 15px 0 14px 25px;
			&:before {
				left: 39px;
				font-size: 38px;
				margin-top: -19px;
			}
			.small {
				display: block;
				font-size: 11px;
				line-height: 12px;		
				margin-bottom: 3px;						
			}
		}
	}
}
.application {
	.btn_list {
		.btn.type01 {
			display: inline-block;
			vertical-align: top;
			&.large {
				a {
					width: 210px;
					padding-left: 25px;
					padding-right: 25px;
					.small {
						margin-top: 3px;
						margin-bottom: 0;
					}
				}
				a[class*="ico_"] {
				    width: 190px;
				    padding-left: 45px;
				    padding-right: 25px;							
					&:before {left: 23px;}							
				}
			}
			&.single {
				a {
					padding-top: 22px;
					padding-bottom: 22px;
				}
			}
		}
	}
}
/*  btn_box --------------------------------------------------------*/  
.btn_box ,.contact_box {
	border: 1px solid $bd_color01;
	margin-bottom: 10px;
	&.conversion,&.application{
		    background: $bg_color02;
			padding: 20px;
	}
	&.half {
		width: 323px;
		.btm {
			li {
			width: 283px;
			}
		}
	}
	.upper {
		padding: 20px;
		h4,.title {
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			margin: 6px 0 12px;
			a {
				color: $base_color01;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				} 
			}	
		}
	}
	.btm,.bg {
		padding: 15px 10px;
		background: $bg_color02;
		.basic_title {
			font-size: 15px;
			margin-left: 12px;
			margin-bottom: 8px;
		}
		&.ht01 {height: 57px;}
		&.ht02 {height: 2*57px;}
		&.ht03 {height: 3*57px;}
		&.ht04 {height: 4*57px;}
		li {
			float: left;
			width: 305px;
			margin: 5px 9px;
			 a{
				padding-left: 16px;
				padding-right: 17px;
				text-align: left;
				span {
					 padding-left: 36px;
					 &:before {
						font-size: 36px;
						left: -7px;
						margin-top: -19px;
						 color: $base_color04;
					 }
					 &.external {
						 padding-left: 0;
					 }
				}
			}
		}
		&.center {
			text-align: center;
			li {
				float: none;
				display: inline-block;
				a {
					text-align: center;
				}
			}
		}
	}
	&.triple {
		.bg {
			li.btn {
				width: 198px;
			}
		}
	}
}//.btn_box,.contact_box

/*  text_btn_box 下層ページ導線	-------------------------------------------------*/  
.text_btn_box {
	.btn.type02 {
		a {
			padding: 30px 20px 20px 20px;
			
		}
		span {
			font-size: 18px;
			line-height: 24px;
			padding-left: 0;
			margin-left: 0;
			&[class*="ico_"] {
				margin-left: 10px;
				padding-left: 47px;
			}
			&:before {
				font-size: 46px;
				left: -7px;
				margin-top: -23px;						
			}
			&.ico_yen09:before{
				left: -10px;
				margin-top: -25px;
				font-size: 54px;					
			}
		}
		p {
			font-weight: normal;
			font-size: 13px;
			line-height: 22px;
			margin-top: 20px;
		}
	}		
}//text_btn_box

/*  action_flow フロー図	-------------------------------------------------*/  
.action_flow {
	height: 50px;
	clear: both;
	li {
		font-size: 15px;
		line-height: 22px;
		text-align: center;
		padding: 14px;
		float: left;
		width: 307px;
		position: relative;
		background: #f0f0f0;
		&:after {
			content: " ";
			position: absolute;
			top: 0;
		    right: -36px;
		    border-top: solid 25px transparent;
		    border-right: solid 18px transparent;
		    border-bottom: solid 25px transparent;
		    border-left: solid 18px #f0f0f0;	
		    z-index: 2;
		}
		&:before {
			content: " ";
			position: absolute;
		    right: -48px;
		    top: -8px;
		    border-top: solid 33px transparent;
		    border-right: solid 24px transparent;
		    border-bottom: solid 33px transparent;
		    border-left: solid 24px #fff;
		    z-index: 1;
	    }	
		span {
			position: relative;
		}
		&.active {
			color: #fff;
			font-weight: bold;
			background: $base_color01;
			&:after {
				border-left-color: $base_color01;			
			}
		}	
		&.lightblue {
			color: #fff;
			font-weight: bold;
			background: $base_color04;
			&:after {
				border-left-color: $base_color04;			
			}
		}	
		&:last-child {
			&:before,&:after {
				content: none;
			}
		}	
		&.tip {
			&:before,&:after {
				content: " " !important;
			}						
		}
	}	
	&.triple {
		li {
			font-size: 13px;
			width: 195px;
		}
	}
	&.quad {
		li {
			font-size: 13px;
			width: 153px;
			padding: 9px 0px 9px 18px;
			&:first-child {
				width: 149px;
				padding-left: 8px;
			}
			&:after {
				border-width: 20px 16px;
				right: -36px;
			}
			&:before {
				right: -46px;
				border-width: 26px 21px;
			}
		}
	}
}
/*  box_arrow -------------------------------------------------*/  
.box_arrow {
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	padding: 4px 12px 3px 12px;
	margin-right: 20px;
	color: #fff;
	background: $base_color01;
	position: relative;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
	    left: 100%;
	    border-color: transparent;
	    border-left-color: $base_color01;
	    border-style: solid;
	    border-width: 12px 12px;
	    z-index: 2;
	}
	&.lightblue {
		background: $base_color04;
		&:after {
		    border-left-color: $base_color04;
		}
	}
}
.large {
	.box_arrow {
		font-size: 16px;
		line-height: 22px;
		padding: 4px 12px;
		margin-right: 25px;
		&:after {
		    border-width: 15px 15px;
		}		
	}
}
/*  vertical_flow_box 縦フロー	-------------------------------------------------*/  
.vertical_flow_box,.flow_arrow {
	position: relative;
	margin-bottom: 48px;			
	&:before {
		position: absolute;
		content: " ";
		display: block;
		background: $base_color02;
		width: 60px;
		height: 28px;
		@include borderRadius(4px);
		bottom: -38px;
		left: 50%;
		margin-left: -30px;
	}
	&:after {
		position: absolute;
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width:  26px 30px 0 30px;
		border-color: transparent #fff transparent #fff;
		bottom: -40px;
		left: 50%;
		margin-left: -30px;
	}
	&.last{
		margin-bottom: 0;
		&:before,&:after {
			content: none;
			display: none;
		}
	}
}
.flow_arrow {
	font-size: 0;
	margin-bottom: 0;			
	height: 30px;
	&:before {
		bottom: 2px;
	}
	&:after {
		bottom: 0px;
	}
}
.arrows {
	.flow_arrow  {
		margin-bottom: 29px;
		&:before {background: #e5effa;}
	}
}
/*  horizonal_flow_box 横フロー	-------------------------------------------------*/  
.horizonal_flow_box {
	position: relative;
	margin-right: 40px;
	padding-left: 0;
	&:before {
		position: absolute;
		content: " ";
		display: block;
		background: $base_color02;
		width: 11px;
		height: 24px;
		@include borderRadius(2px);
		left: inherit;
		right: -26px;
		top: 50%;
		margin-top: -12px;
	}
	&:after {
		position: absolute;
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 0 12px 10px;
		border-color:  #fff transparent #fff transparent;
		right: -27px;
		top: 50%;
		margin-top: -12px;
	}
}
/*  use_flow	-------------------------------------------------*/  
.use_flow {
	display: table;
	width: 100%;
	.step,.step_description {
		display: table-cell;
		vertical-align: middle;
	}
	.step {
		width: 72px;
		padding: 8px;
		background: $base_color02;
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		border-right: 10px solid white;
	}
}
.step_description  {
	padding: 15px;
	border: 1px solid $bd_color01;
	position: relative;
	.step_inner  {
		display: table;
	}
	.icon_box {
		width: 55px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		vertical-align: middle;
		font-size: 50px;
		color: $base_color04;
		letter-spacing: -10px;
		padding-right: 20px;			
		span {
			display: block;
		}
		&.double {
			width: 100px;
			span {
				display: inline-block;
			}
		}
	}
	.step_content{
		display: table-cell;
		vertical-align: middle;
	}
}
/*  login_btn --------------------------------------------------------*/  
.login_btn.btn {
	display: inline-block;
	a{
		font-size: 12px;
		line-height: 14px;
		padding-top: 8px;
		padding-bottom: 8px;
		&:hover {
			text-decoration: none;
		}
		&:before {
		    font-size: 24px;
		    left: 12px;
		    margin-top: -13px;					
		}
		&[class*="ico_"]:before {
		    font-size: 18px;
		    left: 16px;
		    margin-top: -10px;
		}
	}
	&.large {
		a {
			font-size: 14px;
			padding: 13px 40px 13px 60px;
			&[class*="ico_"]:before {
			    left: 36px;
			}
		}
		&.noicon {
			a {
				padding-left: 40px;
				}
		}
		&.simplewhite {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}

/*  #plan 商品・サービスのご紹介-------------------------------------------------*/  
#plan {
	.bg_box {
		padding: 15px;
		background: #eeeeee;
	}
	.first_line {
		margin-bottom: 15px;
		.item {
			margin-right: 15px;
			width: 312px;
			float: left;
			display: inline-block;
			line-height: 20px;
			&:nth-child(2) {
				margin-right: 0;
			}
			.btn_inner {
				padding: 25px 20px;
				&:hover {
					//opacity: 1;
				}
			}
		}
	}
	.upper {
		display: block;
		border-bottom: 1px solid #e5e5e5;
		.title {
			margin-bottom: 12px;
			text-align: left;
			img {
				padding-right: 10px;
			}
			h4 {
				font-size: 18px;
				display: inline-block;
				letter-spacing: -1px;
			}
		}
		.text {
			text-align: left;
			font-size: 12px;
			line-height: 20px;
			color: #535353;
			font-weight: normal;
			height: 124px;
		}
	}
	
	.btm {
		h5 {
			font-size: 14px;
			font-weight: normal;
			margin-top: 12px;
			margin-bottom: 10px;
			text-align: center;
		}
		.btn {
			a {
				display: block;
				font-size: 15px;
				line-height: 18px;
				text-align: center;
				padding: 9px 30px; 
				background: $base_color01;
				color: #fff;
				@include borderRadius(18px);
				span:before {
					font-size: 18px;
				    margin-top: -10px;
				    left: -6px;
				}
			}
		}
	}
	.second_line {
		.item {
			float: left;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			.upper {
				border-bottom: none;
				height: auto;
			}
			.btn_inner {
			    padding: 16px;
			    width: 169px;
			}
			h4 {
				font-size: 15px;
			}
			.text {
				height: 45px;
			}
		}
	}
}//#plan
/*  #faq よくあるご質問-------------------------------------------------*/  
#faq {
	.faq_box {
		border: 1px solid #e2e2e2;
		@include borderRadius(4px);
		margin-bottom: 10px;
		.question {
			display: table;
			font-size: 15px;
			line-height: 18px;
			width: 628px;
			padding: 20px;
			text-decoration: none;
			color: $text_color01;
			font-weight: bold;
			@include transition(250ms ,background-color);
			position: relative;
			&:after {
				@include iconFont();
				position: absolute;
				content:'\e917';
				color: $base_color04;
				right: 10px;
				top: 10px;
				right: 12px;
				top: 50%;
				font-size: 32px;
				margin-top: -16px;
			}
			span {
				display: table-cell;			
				vertical-align: middle;					
			}
			span.qa {
				color: $base_color04;
				padding-right: 16px;
				width: 14px;								
				text-align: center;
				font-family: "arial";
				&:before {
					vertical-align: middle;
					content: " ";
					position: absolute;
					width: 25px;
					height: 25px;
					left: 12px;
					top: 50%;
					margin-top: -15px;
					@include borderRadius(50%);
					border: 2px solid $base_color04;
				}
			}
			&.open {
				background-color: $base_color04;
				color: #fff;
				@include borderRadius(4px 4px 0 0);
				&:after {
					content:'\e915';
					color: #fff;
				}
				span.qa {
					color: #fff;
					&:before {
						border-color: #fff;
					}
				}									
			}
		}
		.answer {
			border-top: 1px solid #e2e2e2;
			padding: 20px;
			.answer_title {
				p.qa {
					font-size: 15px;
					line-height: 18px;
					font-weight: bold;
					color: $base_color01;
					position: relative;
					padding-right: 16px;	
					font-family: "arial";							
					float: left;	
					text-indent: 1px;
					&:before {
						content: " ";
						position: absolute;
						width: 25px;
						height: 25px;
						left: -8px;
						top: -6px;
						@include borderRadius(50%);
						border: 2px solid $base_color01;
					}						
				}
				p.title ,{
					margin-left: 32px;
					margin-bottom: 20px;
				}
			}
			.answer_content {
				margin-left: 32px;
			}
			.answer_inner {
				margin-left: 32px;
				ul {
					float: left;
					width: 240px;
					&.wide {
						width: 350px;
					}
					li {
						margin-bottom: 8px;
					}
				}
				.arrow:before {
					color: $base_color01;
				}
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}						
			}
		}
	}
}//#faq

/*  simulation_box 返済シミュレーション-------------------------------------------------*/  
table.simulation_box {
	margin-bottom: 5px;
	tr {
		border-top: none;
		border-bottom: none;
	}
	th {
		background: none;
		font-size: 15px;
		text-align: center;
		padding: 8px 0 0 0;
		border-bottom: none;
	}
	td {
		border-top: none;
		padding: 10px 15px 20px 15px;
		vertical-align: top;
	}
	&.result {
		th {
			padding-bottom: 4px;
		}
		td {
			text-align: center;
			padding-bottom: 15px;
			span.num {
				font-weight: bold;
				font-size: 20px;
				margin-right: 5px;
			}
		}
	}
}//  simulation_box

/*  tab  タブ-------------------------------------------------*/  

.tab_menu.basic {
	li {
		float: left;
		width: 335px;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		a {
			display: block;
			background: $bg_color03;
			border: 1px solid $bd_color01;
			line-height: 16px;
			padding: 16px 8px;
			text-decoration: none;
			color: $text_color01;
			@include transition(250ms ,opacity);
			opacity: 1;
			&:hover {
				opacity: 0.8;
			}
			&.cr {
				color: #fff;
				background: $base_color04;
				border-color: $base_color04;
			}
		}
	}
}
.tab_content.basic {
	border: 2px solid $base_color04;
	padding: 20px;
}

/*  article_list  お知らせ一覧-------------------------------------------------*/  
.article_list {
	.article {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 12px;
		.date {
			width: 132px;
			float: left;
		}
		.title {
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			a {
				text-decoration: none;
				&:hover {text-decoration: underline;}
			}
		}
	}
	
}
/* ----------------------------------------------------------------------------
    pagetop
---------------------------------------------------------------------------- */
#pagetop {
	margin-top: 20px;
	text-align: right;
	a {
		color: #555555;
		font-size: 12px;
		text-decoration: none;
		position: relative;
		padding-right: 26px;
		&:hover {
			text-decoration: underline;
		}		
	}
	span {
		position: relative;
		&:before {
			content: " ";
			position: absolute;
			width: 18px;
			height: 18px;
			@include borderRadius(50%);
			border:2px solid #bbbbbb;
			top: 50%;
			right: -2px;
			margin-top: -11px;
			line-height: 1;
		}
		&:after {
		@include iconFont();
			position: absolute;
			content:'\e91b';
			 font-size: 22px;
			color: #bbbbbb;
			top: 50%;
			right: -2px;
			margin-top: -12px;
			line-height: 1;
			text-decoration: none !important;
		}
	}
}
	/* ----------------------------------------------------------------------------
	    breadcrumb
	---------------------------------------------------------------------------- */
	.breadcrumb {
		margin-bottom: 12px;
		font-size: 12px;
		span {
			color: #999;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&.footer {
			padding-top: 12px;
			border-top : 1px solid #e0e0e0;
		}
	}
	/* ----------------------------------------------------------------------------
	    contents
	---------------------------------------------------------------------------- */

	.page_title {
		width: $contents_width;
		font-size: 26px;
		line-height: 30px;
		font-weight: bold;
		margin: 0 auto 25px auto;
	}

