/* ----------------------------------------------------------------------------
    form
---------------------------------------------------------------------------- */
.form {
	table {
		th,td {
			padding: 14px;
			text-align: left;
			position: relative;
		}
		th .required {
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -12px;
			padding: 4px 6px;
			font-size: 12px;
			line-height: 12px;
			color: #fff;
			font-weight: bold;
			background: $key_color03;
			@include borderRadius(3px);
		}
		.error {
			th {
				background: #ffdbdb;
			}
		}
		td {
		    line-height: 20px;
		    width: auto;
		}
		th {
			width: 155px;
		}
		.vertical {
			p {
				margin-bottom: 10px;
				line-height: 22px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.horizon {
			p {
				display: inline-block;
				margin-right: 20px;
				line-height: 22px;
			}
		}
	}
	input[type="text"] ,textarea, select {
	    outline: none;
	    display: inline-block;
	    padding: 4px 8px;
	    border: 1px solid $bd_color01;
	    height: 20px;
	    line-height: 20px;
	    font-size: 13px;
	    margin-right: 10px;
		vertical-align: middle;
		background: #fff;
	    &.error {
		    background: #ffdbdb;
	    }
    }
    textarea {
	    border: 1px solid $bd_color01;
	    display: block;
	    width: 335px;
	    height: auto;
    }
    select {
	    background: #fff;
	    line-height: 28px;
	    height: 28px;
	    background-image: none;
	    &.error {
		    background: #ffdbdb !important;
	    }
    }
    input[type="text"] {
	    width: 250px;
	    &.large{
		    width: 310px;
	    }
	    &.middle{
		    width: 150px;
	    }
	    &.small {
		    width: 70px;
	    }
    }
    input[type="radio"],input[type="checkbox"] {
	    line-height: 22px;
		font-size: 22px;
    }
	label {
	    line-height: 22px;
	    padding-left: 6px;		
	}    
    input[type="button"], input.form_btn ,label.filebtn{
    	background: #f7f7f7;
    	color: #000;
	    border: 1px solid $bd_color01;
	    @include borderRadius(2px);
	    padding: 0 8px;
	    display: inline-block;
	    vertical-align: middle;
		line-height: 24px;
	    height: 24px;
		@include transition(250ms ,opacity);
	    &:hover {
		    opacity: 0.8;
	    }
    }
    .filewrap {
	    position: relative;
	    width: 315px;
	    display: inline-block;
	    height: 30px;
    }
    .filename {
	    display: inline-block;
	    padding: 4px 8px;
	    border: 1px solid $bd_color01;
	    height: 20px;
	    line-height: 20px;
	    font-size: 13px;
	    margin-right: 10px;
	    width: 290px;
    }
    input[type="file"] {
	     opacity: 0;
	     height: 100%;
	     position: absolute;
	     left: 0;
	     top: 0;
	     padding: 5px;
	     width: 300px;
     }
    label.filebtn{ 
		cursor: pointer;
		line-height: 22px;
	    height: 21px;
	    padding-top: 1px;
	    position: relative;
		margin-right: 20px;
	    &:after {
	    	content: " ";
		    position: absolute;
			width: 1px;
			top: 0px;
			right: -13px;
		    height: 100%;
		    border-right: 1px solid $bd_color01;
	    }
    }
	.error_box {
		color: $key_color05;
		border: 1px solid $key_color05;
		font-size: 11px;
		line-height: 14px;
		padding: 6px 8px;
		margin-top: 10px;
	}
	.notice.small {
		margin-top: 10px;
		font-size: 11px;
		line-height: 1.2;
		color: #959595;
		li {
			line-height: 1.2;
		}
		&.birth {
			margin-left: 150px;
		}
	}
	.agreement {
		width: 668px;
		height: 120px;
		border: 1px solid $bd_color01;
		margin-bottom: 20px;
	}
}
.form_box {
	border: 1px solid $bd_color01;
	.input_line {
		padding: 20px;
		border-bottom: 1px solid $bd_color01;
		&:last-child {
			border-bottom: none;
		}
		.label {
			width: 120px;
			font-size: 15px;
			float: left;
		}
		.input {
			margin-left: 140px;
		}
	}
}