/* ----------------------------------------------------------------------------
    ログイン後
---------------------------------------------------------------------------- */
#member{
		#use_btn,#btm_btn {
			text-align: center;
			.btn a{
			
				display: inline-block;
				padding: 15px 35px;
			}
		}//#use_btn
		#btm_btn  {
			p {
				display: inline-block;
				margin: 0 10px;
			}
		}//#btm_btn 		
}