@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
    APA00
---------------------------------------------------------------------------- */
#APA00 {
/*  #APA00001 			-------------------------------------------------*/  
/*  ログイン前TOP 	-------------------------------------------------*/  
	#APA00001{
		padding-top: 0;
		#main_visual {
			background: $bg_color02;
			padding-bottom: 15px;
			position: relative;
			.inner {
				margin: 0 auto;
				position: relative;
			}
			.carousel {				
				padding: 0;
				//width: $contents_width;
				width: 962px;
				margin: 0;
				position: relative;
				.list {
					position: relative;
					text-align: center;
					font-size: 0;
					&.slick-slider {
						padding-top: 40px;
					}
					.item {
						display: inline-block;
						padding :0 12px 12px 0;
						a {
								display: block;
								border: 1px solid $bd_color01;
								font-size: 13px;
							&:nth-child(2) {
							}
						}
					}
				}
				a.navigation {
					display: none;
					position: absolute;
					width: 30px;
					padding: 7px 0;	
					font-size: 36px;
					line-height: 1;
					color: #fff;
					top: 50%;
					margin-top: 0;
					text-align: center;
					text-indent: -3px;
					text-decoration: none;
					background: #d2d2d2;
					opacity: 1;
					z-index: 99;
					@include transition(250ms ,opacity);
					&:hover {
						opacity: 0.8;
					}
					&.prev {
						left: 0px;
					}
					&.next {
						right: 12px;
					}
				}
				.slick-dots {
					text-align: center;
					font-size: 0;
					line-height: 8px;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					padding: 16px 0;
					li {
						margin:0 8px;
						display: inline-block;
						opacity: 1;						
						@include transition(250ms ,opacity);
						input[type="button"], button {
							display: block;
							width: 8px;
							height: 8px;
							padding: 0;
							font-size: 0;
							background: #d2d2d2;
							border: none;
							@include borderRadius(50%);
						}
						&.slick-active{
							 input[type="button"], button {
							background: $key_color03;
							}
						}
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}//carousel
			.carousel.active {
				.wrap {
					overflow: hidden;
				}
				.list {
					position: absolute;
					left: 0;
					text-align: left;				
				}
				.item {
					position: absolute;
					top:0;
					left: -9999px;
					&.cr {
						left: 0;
					}
				}
				a.navigation {
					display: inline-block;
				}
				.control {
					display: block;
				}
			}//.carousel.active 
		}//main_visual

		#main_tab {
			width: $contents_width;
			margin: 0 auto;
			background: #fff;
			@include boxShadow(2px 3px 5px 0px rgba(0, 0, 0, 0.1));
			.tab_menu {
				border-top: 5px solid $base_color01;
				font-size: 0;
				margin-bottom: 18px;
				li {
					width: 316px;
					float:left;
					border-right: 1px solid #dcdcdc;
					&:last-child {
						border-right: 0;
					}
					a {
						display: block;
						font-size: 18px;
						line-height: 32px;
						font-weight: bold;
						color: $text_color01;
						text-align: center;
						text-decoration: none;
						background: #f5f5f5;
						padding: 14px 6px;
						@include transition(250ms ,opacity);
						opacity: 1;
						&.cr {
							background: $base_color01;
							color: #fff;
						}
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}//.tab_menu
			.tab_contents {
				.tab_content {
					display: none;
					padding: 20px 18px 15px 18px;
					&.cr {display: block;}
					li {
						float: left;
						width: 150px;
						margin-right: 10px;
						margin-bottom: 4px;
						&:last-child {
							width: 270px;
							margin-right: 0;
						}
						&.bd_left {
							width: 210px;
							padding-left: 30px;
							margin-left: 20px;
							border-left: 1px solid $bd_color01;														
						}
						&.middle {
							width: 195px !important;
							&.bd_left {
								padding-left: 20px;
								margin-left: 10px;								
							}
						}
						.btn a {
							font-size: 14px;
							line-height: 18px;
							padding-left: 4px;
							padding-right: 4px;
							@include borderRadius(30px);
							color: $text_color01;
						}
						.single.btn a {
							line-height: 36px;
						}
						.btn a.active {
							background: $base_color01;
							color: #fff;
						}
						.large{
							 a {
								font-size: 18px;
								line-height: 24px;
								padding-left: 18px;
								&:before {
									left: 20%;					
								}
								&.ico_lock01{
									padding-left: 36px;
									&:before {
									left: 14%;
									 font-size: 30px;
									 }
								}
								.small {
									display: block;
									font-size: 11px;
									line-height: 12px;
								}
							}
							&.single {
								a {
									line-height: 36px;
								}
							}
							a.ico_mail01:before{
								    left: 10%;
							}
						}
						.btm_text {
							text-align: center;
							margin-top: 8px;
							font-size: 12px;
							line-height: 14px;
							color: #535353;
							a {
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
							a.orange {
								color: $key_color03;
							}
							span.arrow {
								padding-left: 10px;
								margin-right: 10px;
								letter-spacing: -1px;
								&:before {
									color: $key_color03;
								}
							}
						}
					}//li
				}//.tab_content
			}//.tab_contents
		}//#main_tab
		
		#notification {
			margin-top: 40px;
			margin-bottom: 30px;
			.inner {
				/*border: 2px solid $key_color05;
				display: table;*/
				h3,p {
					display: table-cell;
					vertical-align: middle;
				}
				h3 {
					padding: 12px 0 12px 36px;
					width: 118px;
					background: $key_color05;
					color: #fff;
					&:before {
						font-size: 21px;
						left: 10px;
						margin-top: -12px;
					}
				}
				p {
					padding-left: 12px;
				}
			}
		}//#attention
		#introduce {
			.bg_box {
				padding: 15px;
				background: #eeeeee;
			}
			.first_line {
				margin-bottom: 15px;
				.item {
					margin-right: 15px;
					width: 452px;
					float: left;
					display: inline-block;
					line-height: 20px;
					&:nth-child(2) {
						margin-right: 0;
					}
					.btn_inner {
						padding: 25px;
						&:hover {
							//opacity: 1;
						}
					}
				}
			}
			.upper {
				display: block;
				height: 125px;
				border-bottom: 1px solid #e5e5e5;
				.img {
					float: left;
					width: 145px;
					text-align: center;
				}
				.text {
					margin-left: 145px;
					text-align: left;
					h4 {
						font-size: 18px;
						margin-top: 2px;
						margin-bottom: 10px;
					}
					p {
						font-size: 12px;
						line-height: 20px;
						color: #535353;
						font-weight: normal;
					}
				}
			}
			.btm {
				padding-top: 16px;
				h5 {
					font-size: 14px;
					font-weight: normal;
					padding-left: 6px;
					margin-top: 10px;
					float: left;
				}
				.btn {
					a {
						display: block;
						font-size: 15px;
						line-height: 18px;
						text-align: center;
						padding: 9px 30px; 
						background: $base_color01;
						color: #fff;
						@include borderRadius(18px);
						span:before {
							font-size: 18px;
						    margin-top: -10px;
						    left: -6px;
						}
					}
				}
			}
			.second_line {
				.item {
					float: left;
					margin-right: 15px;
					&:last-child {
						margin-right: 0;
					}
					.upper {
						border-bottom: none;
						height: auto;
					}
					.btn_inner {
					    padding: 25px 25px 25px 20px;
					    width: 249px;
					}
					.img {
						width: 70px;
					}
					.text {
						margin-left: 80px;
					}
				}
			}
		}//#introduce
		#reason {
			.bg_area {
				background: $base_color02;
				padding-top: 15px;
			}
			.item {
				float: left;
				margin-right: 15px;
				margin-bottom: 15px;
				width: 302px;
				&:nth-child(3n){
					margin-right: 0;
				}
				a {
					height: 70px;
					line-height: 70px;
					border: none;
				}
			}			
		}//#reason
		.left_col {
			float: left;
			width: 665px;
		}
		.right_col {
			float: right;
			width: 240px;
			.btn {
				margin-bottom: 10px;
				a {
				text-align: left;
				font-weight: normal;
				font-size: 14px;
				padding-left: 15px;
				padding-right: 15px;
				}
			}
			.sec_title {
				font-size: 17px;
				margin-bottom: 10px;
				padding-bottom: 0;
				border-bottom: none;
			}
			ul {
				li {
					font-size: 12px;
					line-height: 18px;
					margin-bottom: 6px;
				}
			}
			.gotoindex a {
				font-size: 12px;
				line-height: 18px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		#news {
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			.sec_title {
				margin-bottom: 0;
			}
			.gotoindex {				
				font-size: 12px;
				text-align: right;
				padding-bottom: 16px;
				border-bottom: 1px solid #e5e5e5;
				margin-top: -6px;
			}
			li {
				margin-top: 10px;
				padding-bottom: 10px;
				font-size: 12px;
				line-height: 18px;
				border-bottom: 1px solid #e5e5e5;
				.date {
					float: left;
					padding-left: 5px;
					width: 145px;
				}				
				.type {
					float: left;
					background: #eee;
					width: 62px;
					padding: 4px;
					margin-right: 15px;
					font-size: 10px;
					line-height: 10px;
					text-align: center;
					@include borderRadius(2px);
				}
				a {
					display: block;
					float: left;
				}
			}
		}//#news 
		#appinfo{
			border: 1px solid #dcdcdc;
			padding: 10px 20px;
			.free {
				float: left;
				font-size: 15px;
				line-height: 15px;
				font-weight: bold;
				text-align: center;
				color: #fff;				
				width: 45px;
				padding: 15px 0;
				background: $key_color03;
				@include borderRadius(50%);
			}
			.img {
				float: left;
				margin-left: 10px;
			}
			.text {
				float: left;
				margin-top: 12px;
				margin-left: 20px;
				h3 {
					font-size: 18px;
					line-height: 22px;
					color: $base_color01;
					margin-bottom: 6px;
				}
				p {
					font-size: 11px;
				}
			}
			.link {
				margin-top: 12px;
				float: right;
				text-align: right;
				a {
					padding-right: 10px;
				}
			}
		}//#appinfo
		.in_palm {
			padding-bottom: 12px;
			border-bottom: 1px solid $bd_color01;
			h3 {
				font-size: 16px;
				margin-bottom: 10px;
			}
			p {
				font-size: 11px;
				line-height: 15px;
				height: 43px;
				a {
					span {
						display: inline-block;
						padding: 8px 0 0 5px;
					}
					color: $text_color01;
					&:hover span{
						text-decoration: underline;
					}
				}
				&.fl_right{
					padding-left: 8px;
					border-left: 1px solid $bd_color01;
					padding-right: 12px;
				}
			}
		}//.in_palm
		#other_contents {
			li {
				float: left;
				width: 220px;
				margin-right: 23px;
				line-height: 20px;
				a {
					text-decoration: none;
					color: #535353;
					&:hover {
						text-decoration: underline;
					}
					
				}
				&:nth-child(4n) {
					margin-right: 0;
				}
				img {
					margin-bottom: 12px;
				}
				h4 {
					font-size: 14px;
					margin-bottom: 4px;
					.external {
						&:after {
							position: relative;
							top: 0;
							right: 0;
							display: inline;
							color: #535353;
						}						
					}
				}
				p {
					font-size: 12px;
				}
			}
		}//#other_contents
	}//#APA00001
	#repayment_modal {
		width: 680px;
	}
}

		
.iframe {
#APA00 {
	#APA00001{
		#notification {
				margin: 0px;
				.inner {
					width: 946px;
					border: 2px solid $key_color05;
					display: table;
				}
			}
		}
	}
}
