@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   会員ページでできること　 #availability
---------------------------------------------------------------------------- */
#availability {
	/*  会員ページでできることトップ	-------------------------------------------------*/  
	#introduction{
		.inner {
			width: auto;
			padding-right: 155px;
		}
		.icon_box {
			position: absolute;
			top: -28px;
			right: -15px;
			color: $base_color04;						
			font-size: 56px;
			.pc {
				font-size: 120px;
				letter-spacing: -32px;
			}
			.fp,.sp {
				position: relative;
				font-size: 52px;
			    letter-spacing: -23px;
			    top: 6px;
			}
			.fp {
				letter-spacing: 8px;
			}
		}			
	}//#introduction
}//#availability
	/*  瞬フリ（振込キャッシング）のご利用手順	-------------------------------------------------*/  
#availability ,#member_app {
	#procedure,.procedure {
		.step_box.finish_box {
			text-align: center;
			.finish {
				font-size: 15px;
				line-height: 22px;
				display: inline-block;
				margin: 0 auto;
				.notice {
					margin-left: 0;
					font-size: 11px;
					line-height: 14px;
					text-align: left;		
					font-weight: normal;			
				}				
			}			
			[class*="ico_"]{
				padding-left: 48px;
				&:before {
					font-size: 60px;	
					margin-top: -28px;
					color: $base_color04;
				}
			}
			.ico_pc01 {
				padding-left: 64px;
				&:before {
					font-size: 84px;	
					margin-top: -42px;
				}
			}
		}
		.flow_wrap {
			display: table;
			width: 100%;
			margin-bottom: 20px;
			&.vertical_flow_box {
				margin-bottom: 45px;
				&:before,&:after {
					margin-left: 10px;
				}
			}
		}
		.flow_title {
			display: table-cell;
			text-align: center;
			background: $base_color02;
			width: 50px;
			vertical-align: middle;
			@include borderRadius(4px);
			.vertical {
				display: block;
				width: 14px;
				margin-left: 18px;
				margin-right: 18px;
				line-height: 1.2;
				.onbiki {
				    display: block;
				    @include rotate(90deg);
				    margin-left: -1px;
				   }
			}
		}
		.vertical_flow {
			display: table-cell;
			padding-left: 30px;
		}
		.notice {
			margin-left: 80px;
		}
	}//procedure
}
