@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   モーダル内診断コンテンツ
---------------------------------------------------------------------------- */

#check_modal_wrap {
	display: none;
	position: absolute;
	width: 950px;
	height: 340px;
	top: 2px;
	left: 0;
	background: #fff;
	.check_modal {
		display: none;
		position: relative;
		padding: 5px;
		&.active {
			display: block;
		}
		.check_close_btn {
			position: absolute;
			top:5px;
			right: 5px;
			display: block;
			background: #eee;
			text-decoration: none;
			text-align: center;
			color: #a0a0a0;
			font-size: 22px;
			line-height: 1;
			padding: 10px;
		}
		.title_area {
			float: left;
			width: 265px;
			height: 230px;
			padding-top: 100px;
			background: #e2f0ff;
			text-align: center;
			h3 {
				color: $base_color01;
				font-size: 26px;
				line-height: 32px;
				margin-bottom: 14px;
			}
			p {
				font-size: 14px;
				line-height: 22px;
			}
		}
		.content {
			float: right;
			width: 675px;
			position: relative;
			.step {
				display: none;
				opacity: 0;
				@include transition(250ms ,opacity);
				&.active {
					display: block;
					opacity: 1;
				}
			}
		}
	}
	//部鳥（ブチョー）と課鳥（過チョー）のはじめてのプロミス 体験記！ 
	#check_modal01 {
		.title_area {
			width: 215px;
			height: 258px;
			padding-top: 72px
		}
		.content  {
			width: 685px;
			padding: 35px 20px;
			.movie_area {
				float: left;
				width: 470px; 
			}
			.movie_list {
				float: right;
				width: 195px;
				margin-top: 11px;
				.movie {
					display: none;
					.cr {
						display: block;
					}
				}
				li {
					border-bottom: 1px solid $bd_color01;
					a {
						text-decoration: none;
						color: $text_color01;
						font-size: 14px;
						line-height: 18px;
						display: table;
						padding: 8px 0;
						&:hover {
							text-decoration: underline;
						}
						img,p {
							display: table-cell;
							vertical-align: middle;
						}
						p {
							padding-left: 15px;
						}
						&.cr {
							color: $base_color01;
						}
					}
				}
			}
		}
		
	}
	//お借入シミュレーション
	.loan_sim {
		.step {
			position: relative;
		}
		.step1.sec {
			padding: 30px 40px 0 55px !important;
			margin-bottom: 0;
			position: relative;
		}
		.input_line {
			border-bottom: 1px solid $bd_color01;
			padding-bottom: 4px;
			margin-bottom: 15px;
			&.middle {
				width: 365px;
			}
			.label{
				font-size: 18px;
				line-height: 24px;
				font-weight: bold;
				width: 120px;
				padding-top: 12px;
				padding-left: 5px;
				float: left;
				&.double {
					font-size: 15px;
					padding-top: 4px;
				}
			}//
			.input {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 6px;
				float: left;
				p {
					margin-bottom: 4px;
				}
				.notice {
					font-size: 10px;
					line-height: 14px;
					color: #959595;
					margin-bottom: 0;
				}
				input[type="text"] {
					background: #fff;
					border: 1px solid #b5b5b5;
					font-size: 16px;
					line-height: 20px;
					padding: 11px 10px;
					width: 88px;
					vertical-align: bottom;
					margin:0 10px 0 25px; 
					&.small {
						width: 48px;
					}
					&.error {
						background:#ffdbdb;
					}
				}
			}//.input
				.error_box {
					clear: both;
					margin: 0 0 4px 0;
				}
			}//.input_line
			.step1 .btn {
				position: absolute;
				width: 200px;
				right: 40px;
				top: 216px;
				input[type="submit"],button  {
					font-size: 14px;
					line-height: 18px;
					padding: 23px 20px 23px 25px;
					@include borderRadius(35px);
					span:before {
					    left: -8px;
					    font-size: 20px;
					    margin-top: -10px;
					}
				}
			}
			.result_wrap {
			    margin-bottom: 0 !important;
			    height: 330px;
				&.active {
				display: table !important;							
				}
			}
			.result {
				width: 580px;
				display: table-cell;
				vertical-align: middle;
				padding: 0 50px;
				.result_box {
					border: 4px solid #b7cee6;
					padding: 24px 20px;
					.notice {
						font-size: 14px;
						line-height: 20px;
						color: #000;
						margin-top: 6px;
						text-align: left;
					}
				}
				.message {
					font-size: 26px;
					line-height: 39px;
					color: $base_color01;
					text-align: center;
					font-weight: bold;
					span {
						font-size: 16px;
						font-weight: normal;
						color: $text_color01;
					}
					&.long {

					}
				}
				.result_box.limit {
					padding: 26px 20px;
					.message {
						font-size: 22px;
						line-height: 32px;
					}
				}
				.result_box.improper {
					padding: 13px 20px;
					.message {
						text-align: left;
						font-size: 18px;
						line-height: 24px;
					}
				}
				.notice {
					font-size: 11px;
					line-height: 18px;
					color: #7d7d7d;
				}
				.btn_area {
					margin-top: 25px;
					margin-bottom: 20px;
					.guide {
						float: left;
						font-size: 16px;
						line-height: 24px;
						font-weight: bold;
						color: $base_color04;
						width: 250px;
					}
					.btn.type01.large {
						float: left;
						margin: 0;
						a {
							width: 300px;
							font-size: 22px;
							line-height: 22px;
							padding: 14px 0 13px 25px !important;
							@include borderRadius(35px);
							span {
								font-size: 14px;
								line-height: 18px;
							}
							&:before {
								left: 32px;
								font-size: 48px;
								margin-top: -24px;						
							}
						}
					}
			}//.result
		}
	}//loan_sim

	//ご返済シミュレーション
	.repayment_sim {
		.content {
			margin-left: 5px;
			width: 670px;
		}
		.tab_menu {
			li {
				float: left;
				a {
					position: relative;
					display: block;
					text-align: center;
					font-size: 12px;
					line-height: 20px;
					font-weight: bold;
					width: 186px;
					padding: 10px;
					background-color: $bg_color03;
					border-color: $bd_color01;
					border-style: solid;
					border-width: 1px 1px 1px 0;
					text-decoration: none;
					color: $text_color01;
					@include transition(250ms ,opacity color border-color background-color);
					&:hover {
						opacity: 0.8;
					}
					&.cr {
						background-color: $base_color04;
						border-color: $base_color04;
						color: #fff;
						&:after {
							top: 100%;
							left: 50%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							border-color: $base_color04 transparent transparent transparent;
							border-width: 9px;
							margin-left: -9px;
						}
					}
				}
				&:first-child a{
					border-left-width: 1px;
					border-right-width: 1px;

				}
			}
		}//tab_menu
		.step.sec {
			margin: 15px 20px 0 20px;
			padding: 0 !important;
		}
		.simulation_box {
			th {
				padding: 10px;
				font-size: 13px;
				line-height: 13px;
				text-align: center;
			}
			td {
				padding-top: 2px;
				padding-bottom: 12px;
			}
			&.result {
				th {padding-bottom: 8px;}
				td {padding-bottom: 8px;}						
			}
		}
		.sec_box.result_box {
			padding-top: 8px;
			padding-bottom: 6px;
		}
		.btn.type01 {
			a,span.btn_inner ,input[type="submit"],button {
				font-size: 14px;
				line-height: 18px;
				&:before {
				    left: 36px;
				    font-size: 20px;
				    margin-top: -10px;			
				}
			}
		}
	}//.repayment_sim
		
}//#check_modal_wrap
#check_modal_wrap,#firsttime {
	//お借入れプラン診断
	.loan_plan  {
		.question {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			margin: 50px 0 25px 0;
		}
		.return_btn {
			text-align: right;
			margin-right: 44px;
			margin-top: 20px;
		}
		.btn_wrap {
			text-align: center;
			margin: 0 41px;
			.select {
				display: inline-block;
				text-decoration: none;
				width: 275px;
				font-size: 28px;
				font-weight: bold;
				line-height: 40px;
				color: #000;
				padding: 36px 0;
				text-align: center;
				border: 3px solid $bd_color01;
				@include borderRadius(38px);
				margin-right: 20px;
				&:last-child{margin-right: 0;}
				@include transition(250ms ,color border-color);
				.ico_ck02 {
					padding-left: 60px;
					padding-right: 15px;
					width: 200px;
					display: inline-block;
					&:before {
						@include transition(250ms ,color);
						font-size: 50px;
						left: 20px;
						margin-top: -25px;
						color: $bd_color01;
					}
				}
				&:hover, &.active {
					color: $base_color01;
					border-color: #98b9db;
					.ico_ck02:before {color: $base_color04;}
				}
			}
		}
		.result {
			.intro {
				font-size: 18px;
				color: $base_color01;
				line-height: 20px;
				margin: 15px;
			}
			.result_box {
				padding: 30px 20px 20px 20px;
				border: 3px solid #98b9db;
				margin-left: 5px;
				.img {
					float: left;
					width: 155px;
					text-align: center;							
				}
				.icon_box {
					font-size: 90px;
					color: $base_color04;	
					margin-top: -40px;
					text-indent: -40px;
					.icon {
						letter-spacing: -20px;
						position: relative;
					}
					&.call {
						text-indent: -45px;						
						.icon {
							letter-spacing: -45px;						
						}
					}
					.sp {
						font-size: 70px;
						letter-spacing: -50px;
						top: 5px;
					}				
				}
				.result_content {
					float: left;
					width: 464px;
					.result_title {
						font-size: 26px;
						line-height: 32px;
						color: $base_color01;
						margin-bottom: 15px;
					}
				}
				.btn_list {
					.btn.large a{
						font-size: 22px;
						line-height: 24px;
						width: 240px;
						@include borderRadius(36px);
						.small {font-size: 14px;line-height: 16px;}
						&[class*="ico_"]:before{
						    left: 45px;
						    font-size: 45px;
						    margin-top: -21px;									
						}
						span.external {
							position: relative;
							padding-right: 6px;
							&:after {
								position: absolute;
								color: #fff;
								font-size: 18px;
								right: -18px;
								top: 46%;
							}
						}
					}		
					.btn.gray a{
						background: #d7d7d7;
						font-size: 13px;
						font-weight: bold;
						line-height: 18px;
						width: 140px;
						@include borderRadius(36px);
						padding: 18px 0;								
					}
				}
			}					
		}
	}//.loan_plan
}
#first_modal #check_modal_wrap .loan_sim .result {
	padding: 0 25px;
}