@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
    CPA00
---------------------------------------------------------------------------- */
#CPA00 {
/*  CPA00011 			-------------------------------------------------*/  
/*  会員サービスTOP 	-------------------------------------------------*/  
	#CPA00011,#CPA00012{
		.news {
			margin-bottom: 14px;
			li {
				padding-bottom: 6px;
				border-bottom: 1px solid $bd_color01;	
				margin-bottom: 6px;
				font-size: 13px;
				&:last-child {
					border-bottom: none;
				}
				span.important {
					color: $key_color05;
					font-weight: bold;
				}
				a {
					padding-left: 0.8em;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
					&:after {
						padding-left: 0.8em;
						content : ">>";
					}
				}
			}
			.type {
				display: inline-block;
				margin-right: 18px;
				text-align: center;
				width: 88px;
				font-size: 11px;
				line-height: 18px;
				background: #eee;
				border: 1px solid #eee;
				@include borderRadius(2px);
				&.important {
					border-color: $key_color05;
					color: $key_color05;
				}
			}
		}//.news
		.carousel {
			background: $bg_color02;
			position: relative;
			padding: 15px 40px 13px 40px;
			width: 590px;
			.list {
				position: relative;
				text-align: center;
				font-size: 0;
				.item {
					float: left;
					padding:  0 6px 6px 6px;
					margin: 0;
					a {
						font-size: 13px;
						display: block;
					}
				}
			}
			.slick-dots {
				text-align: center;
				font-size: 12px;
				line-height: 1;
				li {
					margin:0 4px;
					display: inline-block;
					opacity: 1;
					@include transition(250ms ,opacity);
					input[type="button"], button {
						display: block;
						width: 10px;
						height: 10px;
						padding: 0;
						font-size: 0;
						background: #d2d2d2;
						border: none;
						@include borderRadius(50%);
					}
					&.slick-active{
						 input[type="button"], button {
							 background: $key_color01;
						}
					}
					&:hover {
						opacity: 0.8;
					}
				}
			}
			.navigation {
				position: absolute;
				top: 5px;
				width: 30px;
				height: 50px;
				background: #d2d2d2;
				text-decoration: none;
				color: #fff;
				text-align: center;
				font-size: 32px;
				span {
					position: relative;
					left: -2px;
					top: 9px;
				}	
				&.prev {
					left: -40px;				
				}	
				&.next {
					right: -40px;			
				}	
			} 
		}//carousel


		.information {
			margin: 30px 0 20px;
			padding: 0;
			border: 2px solid $bd_color01;
			.status {
				padding: 20px;
				border-bottom: 2px solid $bd_color01;		
				.fl_left {
					width: 350px;		
				}
				.fl_right {
					width: 270px;		
				}
			}
			.available {
				margin: 4px 0 0 0;
				font-size: 15px;
				line-height: 32px;
				font-weight: bold;
				.amount {
					font-size: 30px;
					color: $key_color04;
					padding-right: 0.2em;
				}
			}
			.note {
				font-size: 10px;
			}
			.time {
				margin-bottom: 25px;
				text-align: right;
			}
			.repayment {
				padding: 20px;
				.balance {
					padding-right: 24px;
					width: 285px;
					margin-bottom: 15px;
				}
				.date {
					padding-left: 24px;
					width: 285px;
					border-left: 1px solid $bd_color01;
					margin-bottom: 15px;
				}
				.point {
					padding: 6px;
					text-align: center;
					background: $bg_color02;
					clear: both;
				}
				h4 {
					font-size: 15px;
					line-height: 22px;
					font-weight: bold;
					margin-bottom: 10px;
				}
				.data_line {
					border-bottom: 1px dotted $bd_color02;
					padding: 5px 0;
					.data {
						float: right;
						font-weight: bold;
					}
				}
			}
		}//.information
		.usage {
			.accd_btn {
				display: block;
				font-size: 15px;
				line-height: 30px;
				background: $bg_color02;
				border: 1px solid $bd_color01;
				text-align: center;
				padding: 10px 10px 8px 10px;
				@include borderRadius(4px);
				margin-bottom: 20px;
				text-decoration: none;
				color: $text_color01;
				font-weight: bold;
				opacity: 1;
				@include transition(250ms ,opacity);
				&:hover {
					opacity: 0.8;
				}
				span {
					position: relative;
					padding-right: 32px;
					display: block;
					&:before {
						position: absolute;
						content: " ";
						background: #fff;
						width: 22px;
						height: 22px;
						top: 50%;
						right: 13px;
						margin-top: -12px;
					}
					&:after {
						@include iconFont();
						position: absolute;
						content:'\e917';
						color: $key_color02;
						font-size: 30px;
						line-height: 1;
						margin-top: -16px;
						top: 50%;
						right: 10px;
					}
				}
				&.open span:after {
						content:'\e915';
				}
			}
			.usage_table_all {
				width: 100%;
				margin-bottom: 20px;
			}
			.usage_table_wrap {
				padding: 0;
			}
			.usage_table {
				width: 100%;
				th {
					border-left: none;
					text-align: left;
					background: $bg_color03;
					width: 212px;
				}
				td {
					border-right: none;
					text-align: left;
				}
			}
			.note {
				li {
					margin-left: 1.3em;
					position: relative;
					&:before {
						content: "※";
						position: absolute;
						left: -1.3em;
						top: 0;
					}
				}
			}
		}//.usage
		.contact_box {
			padding: 0;
			@include borderRadius(0);
			.upper {
				padding-right: 10px;
				.text {
					font-size: 15px;
					line-height: 24px;
					font-weight: bold;
					width: 340px;
					float: left;
					margin-top: 8px;
				}
				.btn {
					float: left;
					width: 295px;
					a {
						text-align: left;
						padding-left: 80px;
						padding-bottom: 12px;
						@include borderRadius(30px);
						&:before {
							font-size: 60px;
							margin-top: -29px;	
							left: 20px;						
						}
					}
				}
			}
			.btm {
				padding: 20px;
				h4 {
					font-size: 18px;
					line-height: 24px;
					font-weight: bold;
					margin-bottom: 12px;
					&.ico_ex01{
						padding-left: 28px;
						&:before {
							color: $key_color05;
							font-size: 24px;
							left: 0;
							margin-top: -11px;
						}
					}					
				}
				.check {
					margin-bottom: 10px;
					li {
						float: left;
						width: auto;
						margin-right: 18px;
						&.ico_ck01{
							&:before{
								color: $key_color02;
								left: -16px;
								margin-top: -17px;	
								z-index: 1;															
							}
							&:after {
								content : "";
								position: absolute;
								width: 14px;
								height: 14px;
								background: #fff;
								z-index: 0;
								left: -8px;
								top: 4px;
							}
						}
					}
				}
				.call {
					text-align: center;
					li {
						border: 1px solid $bd_color01;
						text-align: center;
						background: #fff;
						padding:18px 5px;
						width: 298px;
						margin-left: 0;
						margin-right: 8px;
						&:nth-child(2) {
							margin-right: 0;
						}
					}
				}
			}
		}//.contact_box
		.side_box {
			&.news {
				margin-bottom: 10px;
				h3 {
					line-height: 1
				}
				li {
					border-bottom: 1px solid $bd_color01;
					padding-bottom: 8px;
					margin-bottom: 12px;	
					.type {	
						width: auto;
						font-size: 10px;
						line-height: 1;
						padding: 3px 13px;
						margin: 0 0 6px 0;
						background: #f3f3f3; 
					}
					/*&:last-child {
						padding-bottom: 0;
						margin-bottom: 0;
						border-bottom: 0;
					}	*/	
					a {
						display: block;
						padding: 0;
						&:after {
							content: none;
							padding: 0;
						}
					}					
				}
				.gotoindex {
					text-align: right;
					margin-bottom: 0;
					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}//.news
			&.phone_service {
				padding: 15px 10px 15px 15px;				
				.app_info {
					.title {
						padding-left: 18px;
						margin-bottom: 15px;
					}
					h3 {
						float: left;
						padding: 14px 0 0 7px;
						margin-bottom: 0;
					}
					.app_icon {
						position: relative;
						float: left;					
						span {
							position: absolute;
							top: -9px;
							left: -27px;
							width: 34px;
							padding: 11px 0px;
							font-size: 12px;
							line-height: 1;
							text-align: center;
							color: #fff;
							background: $key_color03;
							@include borderRadius(50%);
						}			
					}
					.app_link {
						.left {
							padding-left: 4px;
							padding-right: 8px;
						}
						.right {
							padding-left: 7px;
							padding-right: 4px;
						}
					}
				}
				.in_palm {
					margin-top: 20px;
					padding-top: 12px;
					border-top: 1px dotted $bd_color01;
					h3 {
						margin-bottom: 10px;
					}
					p {
						font-size: 11px;
						line-height: 15px;
						height: 43px;
						a {
							span {
								display: inline-block;
								padding: 8px 0 0 5px;
							}
							color: $text_color01;
							&:hover span{
								text-decoration: underline;
							}
						}
						&.fl_right{
							padding-left: 8px;
							border-left: 1px solid $bd_color01;
						}
					}
				}
			}//.phone_service
		}
	}//#CPA00011
}
