@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   はじめてのご利用　 #firsttime
---------------------------------------------------------------------------- */
#firsttime {
	/*  はじめてのご利用 トップ	-------------------------------------------------*/  
	#wecan {
		margin-bottom: 60px;
		.box {
			float: left;
			border: 1px solid $bd_color01;
			@include borderRadius(4px);
			padding: 17px 8px 20px 8px;
			text-align: center;
			width: 191px;
			margin: 0 20px 20px 0;
			&:nth-child(3n+1) {
				margin-right: 0;
			}
			a {
				text-decoration: none;
				color: $text_color01;
				@include transition(250ms ,background-color);
				opacity: 1;
				&:hover {
					opacity: 0.8;
				} 
			}
			h4 {
				font-size: 20px;
				line-height: 26px;
				font-weight: bold;
				margin-bottom: 10px;
				&.tite {
					letter-spacing: -1px;
				}
				&.single {
					padding: 13px 0;
				}
			}
			p {
				text-align: left;
				font-size: 13px;
				line-height: 22px;
				height: 90px;
				margin: 0 12px;
			}
		}
	}
	#flow{
		.introduction {
			margin-bottom: 36px;
		}
		.step_box {
			display: table;
			width: 100%;
			margin-bottom: 12px;
			.step_arw {
				display: table-cell;
				position: relative;
				width: 100px;
				padding-bottom: 10px;
				text-align: center;
				vertical-align: middle;
				background: $base_color04;
				color: #fff;
				font-size: 18px;
				line-height: 20px;
				font-weight: bold;
				@include borderRadius(4px 4px 0 0);
				span{
					font-size: 14px;
					font-weight: normal;
				}
				&:after {
					content: " ";
					    position: absolute;
					    bottom : 0;
					    left: 0;
					    width: 0;
					    height: 0;
					    border-top: 16px solid $base_color04;
					    border-right: 50px solid #fff;
					    border-bottom: 0 solid #fff;
					    border-left: 50px solid #fff;						
				}
			}
			.step_description {
				display: table-cell;
				padding: 0 0 10px 10px;
				border: none;
				.step_inner {
					display: block;
					@include borderRadius(4px);
					border: 2px solid #e1e1e1;
					padding: 18px;
					font-size: 13px;
					line-height: 22px;
				}
				.note {
					font-size: 12px;
					line-height: 20px;
					padding-left: 1.2em;
					position: relative;
					&:before {
						position: absolute;
						content: "※";
						left : 0;
						top : 0;							
					}
				}
			}
		}
	}
	.right_col {
		.service {
			h3 {
				margin-bottom: 8px;
			}	
			li {
				&:before {
					color: $base_color01;
				}
				a{
					text-decoration: none;
					font-size: 13px;
					line-height: 26px;
					color: $text_color01;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}			
	}
	/*  お申込み方法	-------------------------------------------------*/  
	#howto_app {
		.sec_box {
			text-align: center;
		}
		span {
			padding-right: 55px;
			display: inline-block;
			text-align: left;
			line-height: 60px;
		}
		[class*="ico_"]{
			font-size: 15px;
			font-weight: bold;
			padding-left: 40px;
			&:before {
				font-size: 56px;
				color: $base_color04;
				margin-top: -28px;
			}
		}
		.ico_pc01{
			padding-right: 85px;
			padding-left: 75px;
			&:before {
				font-size: 100px;
				margin-top: -50px;
			}
		}
		a {
			text-decoration: none;
			color: $text_color01;
			@include transition(250ms ,opacity);
			&:hover {
				opacity: 0.8;
			}
		}
	}
	/*  Web完結ご契約の流れ	-------------------------------------------------*/  
	#web_completion_flow {
		.flow_description {
			margin-right: 18px;
			padding: 12px 10px;
			border: 1px solid $bd_color01;
			width: 132px;
			float: left;
			overflow: visible;
			&:last-child {
				margin-right: 0;
				background: #ffffcd;
			}
			&:before {
				right: -16px;
			}
			&:after {
				right: -17px;
			}
			.title {
				font-size: 15px;
				line-height: 22px;
				text-align: center;
				font-weight: normal;
				margin-bottom: 10px;
			}
			.bg_title {
				background: $base_color02;
				font-size: 13px;
				line-height: 22px;
				font-weight: normal;
				text-align: center;
				padding: 4px;
				margin-bottom: 10px;
				&.double {
					width: 296px;					
				}
			}
			.basic_title {
				font-size: 13px;
				font-weight: bold;
			}
		}
		
	}//#web_completion_flow
	/*  ケーススタディのご紹介	-------------------------------------------------*/  
	.sec .dialog .bln {
		width: 486px;
		strong {
			font-size: 15px;
			font-weight: bold;			
		}
	}
	/*  お申込みの流れ	-------------------------------------------------*/  
	#app_flow {
		.tab_content{
			padding: 15px 10px;
		}
	}//#app_flow
	#local_navigation .sub {
		display: none;
	}
	#firsttime_app #local_navigation .sub {
		display: block;
	}
	/*  お借入れプラン診断	-------------------------------------------------*/  
	.content .step {
		display: none;
		opacity: 0;
		@include transition(250ms ,opacity);
		&.active {
			display: block;
			opacity: 1;
		}		
	}
}//#firsttime

