@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   レディースキャッシング　 #ladies
---------------------------------------------------------------------------- */
#ladies {
	#local_navigation {
		.sub {
			display: block;		
		}
	}
	.arrow.link {
		background-image: url("../image/html/APA00/APA00008_arrow.png");
		background-repeat: no-repeat;
		background-position: left center;
		&:before {
			content: none;
		}
		a,a:hover,a:visited,a:focus {
			color: #714628;			
		}
	}
	.btn.type01.form_btn {
		a {
			@include linearGradient(0deg, #73c0dd 0%, #7ad9eb 100%);
			@include ryuminFont();
			.arrow.link {
				background-image: url("../image/html/APA00/APA00008_arrow_wh.png");
				padding-left: 18px;
				margin-left: -9px;
			}
		}
	}
	.sec_title {
		color: #59b5d3;
		background: #edf8fb;
		padding: 10px 15px;
		font-size: 20px;
		line-height:25px;
		@include ryuminFont();
		border-bottom: none; 	
		&.long{
			font-size: 18.5px;
			letter-spacing: -2px;
		}
	}//.sec_title 
	.btm_line_title {
		color: #714628;
		@include ryuminFont();
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 4px;
		display: inline-block;
		position: relative;
		padding-right: 56px;
		&:after {
			content: " ";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 1px;
			@include linearGradient(90deg, rgb(196, 174, 159) 0%, rgb(255,255,255) 100%);
		}		
	}//btm_line_title
	.basic_title {
		font-size: 16px;
		color: #714628;
		@include ryuminFont();
	}
	.point_box {
		border: 1px solid #d5e2e4;
		@include borderRadius(4px);
		text-align: center;
		background: url("../image/html/APA00/APA00008_ptn_box.png") repeat-x left bottom;
		.title_box {
			background: url("../image/html/APA00/APA00008_ptn_point.png") repeat 0 0;
			font-size: 17px;
			line-height: 24px;
			font-family: "Times New Roman", Times, serif;
			padding: 8px;
			span {
				font-size: 24px;
			}			
		}	
		.title {
			font-size: 26px;
			line-height: 28px;
			color: #f66cb0;
			@include hannariFont();
			letter-spacing: -2px;
			&.single {
				line-height: 56px;
			}
		}
		.text {
			font-size: 16px;
			line-height: 22px;
			color: #333;
			@include ryuminFont();
		}
	}//.point_box
	table {
		tr,td,th {
			border-color: #f1e6bf;
		}
		th {
			background: #fff9e4;
		}
		.new {
			color: #59b5d3;
		}
		table {
			tr,td,th {
				border-color: $bd_color01;
			}			
		}
	}//table
	.btn_box {
		.bg {
			background: none;
			border: 2px dashed #e5e5e5;
			@include borderRadius(6px);
		}
		.btn.type02 {
			a {
				@include borderRadius(4px);
				border: 1px solid #e6e6e6;
				@include linearGradient(0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
				color: #714628;
				@include ryuminFont();
				&:after {content: none;}
				span.arrow.link {
					padding-left: 18px;
				}
			}
		}
	}//btn_box
	.service_box {
		border: 2px dashed #e5e5e5;
		@include borderRadius(6px);		
		width: 189px;
		.icon_box {
			color: #cab284;
		}		
		.title {
			color: #714628;
			@include ryuminFont();
			.bracket {
				letter-spacing: -10px;
			}
		}
	}
}//#ladies
