@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   お借入れ　 #loan
---------------------------------------------------------------------------- */
#loan {
	/*  お借入れトップ 	-------------------------------------------------*/  
	.flow {
		.flow_item {
			margin-bottom: 30px;				
			&.active {
				margin-bottom: 50px;
			}
			.title_wrap {
				display: table;
				height: 145px;
				padding-bottom: 10px;
				width: 40px;
				background: #e4e4e4;	
				position: relative;
				float: left;
				margin-right: 20px;
				&.large {
					height: 230px;
				}
				&:after {
					position: absolute;
					content: " ";
					bottom: -1px;
					left: -1px;
					width: 0;
					height: 0;
					border-color: transparent #fff transparent #fff;
					border-width: 21px 21px 0px 21px;
					border-style: solid;
				}
				&.active {
					background: $base_color02;	
				}
			}
			.title {
				display: table-cell;
				vertical-align: middle;
			    text-align: center;
				width: 40px;
				font-weight: normal;

				.vertical {
				    display: block;
				    width: 20px;
				    text-align: center;
				    margin-left: 10px;
				    margin-right: 10px;
				    line-height: 1.1;							
				}
				.bracket {						
				    display: block;
				    @include rotate(90deg);
					margin: -4px auto 2px -1px;
				    &.end {
					    margin-top: 2px;
				    }
				}
			}//.title
		}//.flow_item
		.process_list {
			margin-left: 0;
			width: 609px;
			display: table;
			position: relative;
		}
		.app_type_wrap {
			position: relative;
			padding-top: 85px;
			.app_type {
				position: absolute;
				top: 0;
				left: 1px;
				background: $base_color04;
				color: #fff;
				line-height: 18px;
				text-align: center;
				width: 150px;
				height: 82px;
				text-align: center;
				display: table;
				&.double {
					width: 302px;
					left: 0;
				}
				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
			&:last-child .app_type{
				width: 152px;
			}
		}
		.process_wrap {
			display: table-cell;	
			vertical-align: top;		
			width: 152px;	
			position: relative;			
			.process_btn {
				border: 1px solid #cecece;
				border-left-width: 0;					
				display: block;
				@include linearGradient(0deg, rgb(241,241,241) 0%, rgb(255,255,255) 50%, rgb(255,255,255) 100%);
				text-decoration: none;
				text-align: center;
				position: relative;
				cursor: default;
				pointer-events : none;
				&:after {
					position: absolute;
					@include iconFont();
					content:'\e91c';
					font-size: 32px;
					left: 50%;
					margin-left: -16px;
					bottom: -2px;
					color: #c0c0c0;
				}
				.process {
					color: #6e6e6e;
					font-size: 13px;
					line-height: 17px;
					font-weight: normal;
					height: 88px;
					width: 100%;
					padding-bottom: 65px;			
					display: table;
					span {
						display: table-cell;
						vertical-align: middle;
					}
				}
				.icon_box {
					position: absolute;
					color: #c4c4c4;
					font-size: 56px;
					width: 100%;
					top: 48px;
					.pc {
						font-size: 90px;
						letter-spacing: -26px;
					}
					.fp,.sp {
						position: relative;
						font-size: 40px;
					    letter-spacing: -18px;
					    top: 6px;
					}
					.fp {
						letter-spacing: -5px;
					}
				}	
			}//.process_btn 
			&:first-child {
				.process_btn {
					border-left-width: 1px;
				}
			} 
			.tab_content {
				position: absolute;
				padding: 16px 20px;
				border: 2px solid $base_color04;
				width: 566px;
				left: 0;
				top: 100%;
				&:before {
					position: absolute;
					content: " ";
					display: block;
					background: $base_color04;
					width: 50px;
					height: 24px;
					@include borderRadius(2px);
					bottom: -40px;
					left: 50%;
					margin-left: -25px;
				}
				&:after {
					position: absolute;
					content: " ";
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width:  23px 25px 0 25px;
					border-color: transparent #fff transparent #fff;
					bottom: -42px;
					left: 50%;
					margin-left: -25px;
				}
			}
			&:nth-child(2) .tab_content {left: -152px;}
			&:nth-child(3) .tab_content {left: -304px;}
			&:nth-child(4) .tab_content {left: -457px;}
			
			//active時
			&.active {
				.process_btn {
					pointer-events: auto;
					cursor: pointer;
					.process {
						color: $text_color01;							
					}
					&:after {
						color: #9e9e9e;
					}
					.icon_box {
						color: $base_color04;						
					}
					&.cr {
						border-color: $base_color04;
						@include linearGradient(0deg, rgb(72,130,190) 0%, rgb(103,163,226) 100%);
						background-color: rgb(72,130,190);
						.process,.icon_box,&:after {
							color: #fff;
						}
						.process {
							font-weight: bold;
						}
					}
				}
			}
		}//process_wrap
		.five_item {
			.process_wrap {
				width: 122px;
				&:nth-child(2) .tab_content {left: -122px;}
				&:nth-child(3) .tab_content {left: -244px;}
				&:nth-child(4) .tab_content {left: -366px;}
				&:nth-child(5) .tab_content {left: -488px;}					
				&.fromweb {
					.icon_box {
						text-indent: -7px;
					}
				}
			}			
		}			
		.flow_item:last-child {
			margin-bottom: 0 !important;
			.process_wrap .tab_content{
				&:after,&:before {
					content: none;
				}
			} 
		}
	}
/*  ご利用限度額 	-------------------------------------------------*/  
	#system {
		.graph_wrap {
			display: table;
			margin-bottom: 10px;
			.graph, .description{
				display: table-cell;
				vertical-align: middle;
			}
			.description {
				padding-left: 15px;
			}
			.graph {
				border: 1px solid $bd_color01;
				width: 420px;
				.limit {
					background: #e5f1ff;
				}
				.spend {
					background: #ffffcc;
					border-right: 1px solid $bd_color01;
				}				
				.bar {
					text-align: center;
					display: table-cell;
					vertical-align: middle;
					font-size: 18px;
					line-height: 22px;
					height: 80px;
					span {
						font-size: 13px;
						line-height: 15px;
						display: block;						
					}
				}
			}
			#graph01{
				.limit {width: 420px;}
			}
			#graph02{
				.spend{width: 209px}
				.limit {width: 210px}
			}
			#graph03{
				.spend{width: 104px;}
				.limit {width: 315px;}
			}
			#graph04{
				.spend{width: 335px;}
				.limit {width: 84px;}
			}
		}
	}//#system
	#change {
		.login_btn {
			margin-top: 3px;
		}
	}
	/*  お借入シミュレーション結果 	-------------------------------------------------*/  
	.result_box {
		border: 4px solid #b7cee6;
		padding: 36px 20px;
		.shoulder {
			text-align: left;
			margin-top: -12px;
		}
		.message {
			font-size: 26px;
			line-height: 39px;
			color: $base_color01;
			text-align: center;
			font-weight: bold;
			margin-bottom: 25px;
		}
		.btn_area {
			margin-top: 25px;
			.guide {
				float: left;
				font-size: 16px;
				line-height: 24px;
				font-weight: bold;
				color: $base_color04;
				width: 250px;
				margin-left: 20px;
			}
			.btn.type01.large {
				float: left;
				margin: 0;
				a {
					width: 312px;
					font-size: 22px;
					line-height: 22px;
					padding: 14px 0 13px 25px !important;
					@include borderRadius(35px);
					span {
						font-size: 14px;
						line-height: 18px;
					}
					&:before {
						left: 32px;
						font-size: 48px;
						margin-top: -24px;						
					}
				}
			}
		}
	}
}//#loan
/*  プロミスのお利息 	-------------------------------------------------*/  
#interest {
	.interest_box,.formula_box ,.date_box{
		float: left;
		text-align: center;
		font-size: 13px;
		line-height: 26px;
		.box {
			display: table-cell;
			vertical-align: middle;
			height: 48px;
			width: 118px;
			border: 1px solid $bd_color01;
			font-size: 15px;	
		}
	}
	.ope {
		float: left;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 50px;
		padding-top: 17px;
		font-size: 15px;	
		line-height: 16px;
		&.multiply {
			width: 20px;
		}
	}
	.interest_box {
		.box {
			background: #e5f1ff;		
		}						
	}
	.formula_box {
		.box {
			width: 378px;
		}
		&.long .box {
			width: 498px;
		}
	}
	.date_box {
		.box {
			width: 98px;				
		}						
	}
	
}//#interest