@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   会員ログイン　 #login
---------------------------------------------------------------------------- */
#login {
	/*  ログインフォーム	-------------------------------------------------*/  
	#login_form {
		.software_key {
			font-size: 11px;
		}
		.card_invalid{	
			margin: -20px 0 30px;
			font-size: 11px;			
		}
		.tab_content {
			padding: 20px 40px 40px 40px;
			table.login_input {			
				margin-bottom: 10px;
				border-spacing: 0 20px;
				border: none;
				tr,td,th {
					border: none;
					background: none;
					vertical-align: top;
				}
				tr {

				}
				th {
					padding: 0;
					background: $bg_color03;
					text-align: center;
					font-size: 15px;
					vertical-align: middle;
				}
				td {
					padding: 0 0 15px 30px;					
				}
				tr:last-child {
					border-bottom :0;
					th,td {
						padding-bottom: 0;
					}
				}
			}
		}
	}//#login_form
	#case{
		.case_box {
			padding: 20px;
			li {
				float: left;
				width: 304px;
				margin-right: 20px;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			.bln {
				padding: 20px;
				@include borderRadius(5px);
				border: 1px solid $bd_color01;
				position: relative;
				margin-bottom: 18px;
				&:after, &:before {
				    content: "";
				    position: absolute;
				    height: 0;
				    width: 0;
				}
				&:after {
				    bottom: -23px;
				    left: 50%; 
				    margin-left: -9px;
				    border: 9px solid transparent;
				    border-top: 14px solid #fff; 
				}
				&:before {
				    bottom: -25px;
				    left: 50%; 
				    margin-left: -10px;
				    border: 10px solid transparent;
				    border-top: 15px solid $bd_color01; 
				}
			}
			.icon_box {
				position: relative;
				height: 64px;
				margin-bottom: 24px;
				color: $base_color04;
				.icon {
					position: absolute;
				}
				.man {
					font-size: 72px;
					top: 0;
					left: 50%;
					margin-left: -36px;
				}
				.phone {
					font-size: 40px;
					top:5px;
					left: 50%;
					margin-left: -50px;
				}
			}
		}
	}//#case
}//#login
