@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   各種お申込み 　 #member_app
---------------------------------------------------------------------------- */
#member_app {
/*  瞬フリ（振込キャッシング）のお申込み 	-------------------------------------------------*/  
	#description_box {
		border: 1px solid $bd_color01;
		padding: 20px;
		.point_circle {
			margin: 25px 0 35px;
			li {
				width: 190px;
				height: 190px;
				p {
					font-size: 18px;
					line-height: 24px;
					.bk {
						color: #000;
						font-size: 15px;
						line-height: 22px;
					}
				}					
			}
		}//.point
		.flow  {
			margin-left: 10px;
			margin-bottom: 35px;
			li {
				float: left;
				text-align: center;
				font-size: 18px;
				line-height: 24px;
				width: 290px;
				p {
					margin-top: 16px;
					line-height: 68px;
					img {
						vertical-align: middle;
					}
				}
				&.arw{
					width: auto;
					p {
						margin-top: 64px;
					}
				}
			}				
		}//.flow
		.notice_list {
			li {
				padding-left: 1.2em;
				position: relative;
				margin-bottom: 4px;
				line-height: 18px;
				&:last-child {
					margin-bottom: 0px;
				}
				&:before {
					content: "※";
					position: absolute;
					left: 0;
				}
			}
		}//.notice_list
	}//description_box
	#time_list {
		h4 {
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 8px;
		}
		table {
			width: 100%;
			margin-bottom: 25px;
		}
		th,td {
		}
		.day,.time01 {
			width: 98px;
		}
		.time03 {
			width: 200px;
		}
	}//time_list
	#notice_list {
		li {
			list-style: disc outside;
			margin-left: 1.2em;
		}
	}//#notice_list
	#icon_flow {
		ol {
			margin-bottom: 20px;
		}
		li {
			float: left;
			padding-right: 28px;
			margin-right: 7px;
			background: url("../image/jsp/CPF00/CPF00_flow_arrow_s.png") no-repeat right center;				
			&:last-child {
				padding-right: 0;
				margin-right: 0;
				background-image: none;
			}
			p {
			border: 1px solid $key_color01;
			@include borderRadius(3px);
			text-align: left;
			padding: 20px 10px 20px 48px;
			width: 140px;
			font-size: 16px;
			font-weight: bold;
			position: relative;
			&:before {
				position: absolute;
				color: $base_color04;
				font-size: 36px;
				margin-top: -19px;
				left: 10px;
			}
			}
		}
	}//#flow
	/*  限度額変更のお手続き	-------------------------------------------------*/  
	#limit_change_flow {
		.flow_description {
			margin-right: 18px;
			padding: 12px;
			border: 1px solid $key_color01;
			@include borderRadius(3px);
			width: 128px;
			float: left;
			overflow: visible;
			&:last-child {
				margin-right: 0;
			}
			&:before {
				right: -16px;
			}
			&:after {
				right: -17px;
			}
			.title {
				font-size: 14px;
				line-height: 32px;
				text-align: left;
				padding-left: 28px;
				margin-bottom: 5px;
				&:before {
					color: $base_color04;
					font-size: 32px;
					line-height: 32px;
					margin-top: -16px;
					left: -6px;
				}
			}
		}
		
	}//#web_completion_flow
}//#firsttime
