@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   ポップアップ
---------------------------------------------------------------------------- */
#popup {
	/*  横幅	-------------------------------------------------*/  
	.inner ,.page_title{
		width: 670px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}	
	/*  ヘッダー フッター	-------------------------------------------------*/  
	#header {
		a:hover {
			text-decoration: none;
		}
		#header_upper h1 {
			width: 670px;
		}
		#header_bottom #header_logo {
			width: 670px;
			position: relative;
		}
	}
	#footer #footer_bottom {
		text-align: center;
	}
	/*  フォーム	-------------------------------------------------*/  
	.form{
		 input[type="text"].middle {
			 width: 120px;
		 }
		img.lady {
			padding-left: 15px;
			margin-left: 15px;
			border-left: 1px solid $bd_color01;
		}
	}
	table.popup_form {
		width: 530px;
		margin: 0 auto;
		td,th{
			&.middle {
			width: 140px;
			}
		}
	}
}//popup
