@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   ご返済　 #repayment
---------------------------------------------------------------------------- */
#repayment {
	/*  ご返済トップ	-------------------------------------------------*/  
	#scene {
		table {
			.btn_line {
				td {
					padding: 0;
					height: 72px;
					&.btn.type02 {
						.btn_inner {
						    width: 100%;
						    height: 100%;
						    padding: 0;
						    border: none;
						    display: table;								
							a {
								font-size: 12px;
								line-height: 18px;
								text-align: center;
								font-weight: bold;
								display: table-cell;
								vertical-align: middle;									
								@include borderRadius(0);
									padding: 0 10px 0 24px;
								span {
									padding-left: 0;
									&:before {
								    font-size: 26px;
								    font-weight: normal;
								    color: #437bb3;
								    left: -34px;
								    margin-top: -14px;
								    }
								    &.external:after {
									    right: -17px;
										margin-top: -6px;
								    }
								    &.ico_yen02:before {
										font-size: 36px;
										margin-top: -18px;
										left: -42px;
								    }
								    &.ico_pc01:before {
										font-size: 36px;
										margin-top: -18px;
										left: -36px;
								    }
								    &.ico_shop03:before {
									    left: -22px;
								    }
								    &.ico_shop03.external {
									    padding-right: 0;
								    }
								    &.ico_atm01:before {
									    left: -28px;
								    }
								}
							}

						}
					}
				}
			}
			th {
				width: 95px;
				text-align: left;
				background: #e5f1ff;
			}
			td {
				text-align: center;
				color: $key_color04;
				font-size: 18px;
				font-weight: bold;
			}
		}
	}//#scene
	/*  提携先のご案内	-------------------------------------------------*/  
	#partner_atm {
		.fl_left {
			width: 220px;
		}
		.fl_right {
			width: 430px;
		}
	}		
	table.partner_list {
		td {
			padding: 14px 16px;
			line-height: 40px;
			.name {
				float: left;
				width: 180px;
				padding-right: 10px;
				min-height: 40px;
				line-height: 40px;
				border-right: 1px solid $bd_color01;
				&.multi_line {
					line-height: 22px;
				}
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.handling {
				float: right;
				width: 110px;
				height: 40px;
				position: relative;
				span {
					position: absolute;
					display: inline-block;
					top:50%;
					margin-top: -19px;
					width: 38px;
					font-size: 12px;
					line-height: 12px;
					color: #fff;
					font-weight: bold;
					text-align: center;
					padding: 13px 0;					
					@include borderRadius(50%);
				}
				.loan {
					left: 20px;
					background: #336495;
				}
				.rep {
					right: 4px;
					background: $key_color03;
				}
			}
		}	
	}//.table.partner_list  
	/*  ご返済金額について	-------------------------------------------------*/  
	#amount {
		.calculation_eg {
			.title_line {
				.blance {
					float: left;
					width: 160px;
				}
				.percentage {
					float: left;
					width: 235px;
				}
				.amount {
					float: right;
					text-align: right;
					width: 275px;
				}
			}
			.blance_box ,.percentage_box ,.amount_box{
				float: left;
				text-align: right;				
				font-size: 18px;
				line-height: 26px;
				font-weight: bold;
				.box {
					display: table-cell;
					vertical-align: middle;
					height: 45px;
					width: 126px;
					padding: 3px 12px 0 0;
					border: 1px solid $bd_color01;
				}
			}
			.blance_box .box{width: 136px;}
			.percentage_box .box{width: 108px;text-align: center; padding: 3px 0 0 0;}
			.amount_box {
				position: relative;
				&.arrow {
					margin-right: 40px;
					padding-left: 0;
					&:before {
						position: absolute;
						content: " ";
						display: block;
						background: $base_color02;
						width: 11px;
						height: 24px;
						@include borderRadius(2px);
						left: inherit;
						right: -26px;
						top: 50%;
						margin-top: -12px;
					}
					&:after {
						position: absolute;
						content: " ";
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 12px 0 12px 10px;
						border-color:  #fff transparent #fff transparent;
						right: -27px;
						top: 50%;
						margin-top: -12px;
					}
				}
			}
			.ope {
				float: left;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 50px;
				padding-top: 11px;
				font-size: 24px;	
				line-height: 25px;
				&.multiply {
					width: 40px;
				}
			}				
		}
	}//#amount 
	#rule {
		.rule_box_wrap {
			position: relative;
			margin-bottom: 46px;			
			&:before {
				position: absolute;
				content: " ";
				display: block;
				background: $base_color02;
				width: 60px;
				height: 28px;
				@include borderRadius(4px);
				bottom: -38px;
				left: 50%;
				margin-left: -30px;
			}
			&:after {
				position: absolute;
				content: " ";
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width:  26px 30px 0 30px;
				border-color: transparent #fff transparent #fff;
				bottom: -40px;
				left: 50%;
				margin-left: -30px;
			}
			&.last{
				margin-bottom: 0;
				&:before,&:after {
					content: none;
					display: none;
				}
			}
		}
		.rule_box {			
			th,td {
				text-align: left;
				&.image {
					width: 320px;
				}
				&.blance{
					width: 168px;
				}
				&.amount{
					width: auto;
				}
			}
			th.image {
				background: #e5f1ff;
			}
			td.image {
				background: #f7fbff;
				padding: 10px 15px;
				.bar {
					margin-top: 5px;
					margin-bottom: 10px;
					p {
						float: left;
						line-height: 16px;
						padding: 10px 0;
						text-align: center;
						border: 1px solid $bd_color01;
						span {
							font-weight: bold;
							font-size: 16px;
							color: $key_color03;
						}
						&.base {
							width: 98px;
							background: #ffffcc;
							&.four {
								width: 86px;
							}
						}
						&.add {
							width: 138px;
							background: #dff5be;
							border-left: 0;
							&.thin {
							    width: 30px;
							    overflow: visible;
							    white-space: pre;
							    word-break: normal;
							    text-indent: 10px;
							}
						}
					}
				}
			}
		}
	}//#rule
	/*  ご返済のワンポイント	-------------------------------------------------*/  
	.onepoint {
		.btn.type02.point {
			.btn_inner {
				border-width: 2px;
				padding: 0;
				font-size: 14px;
				line-height: 1.2;
				a {
					display: block;
					padding: 25px;
					&:hover {
						opacity: 0.6;
					}
				}
				.shoulder {
					font-size: 16px;
					font-weight: bold;
					line-height: 20px;
					margin-bottom: 10px;
				}
				.title {
					font-size: 20px;
					line-height: 24px;
					margin-bottom: 10px;
					&:before {
						color: $key_color01;
					    font-size: 64px;
					    top: -18px;
					    margin-top: 0;
					    left: -25px;
					}
				}
				.important {
					font-weight: bold;
					color: $key_color03;					
				}
			}
		}
	}//onepoint
	.onepoint_flow {
		.action_flow {
			height: 70px;
			li {
				padding: 0 0 0 45px;
				line-height: 1.2;
				font-size: 13px;
				text-align: left;
				display: table;
				background: #e5f1ff;
				span {
					display: table-cell;
					vertical-align: middle;
					height: 70px;
				}
				&:first-child {
					padding-left: 20px;
				}
				&:before {
					border-top-width: 41px;
					border-bottom-width: 41px;
				}
				&:after{
					border-top-width: 35px;
					border-bottom-width: 35px;
					border-left-color: #e5f1ff;
				}
			}
		}
		&#flow01 {
		.action_flow li:nth-child(1) {width: 150px;}
		.action_flow li:nth-child(2) {width: 250px;}
		.action_flow li:nth-child(3) {width: 145px;}
		}
		&#flow02 {
			.action_flow li:nth-child(1) {width: 95px;}
			.action_flow li:nth-child(2) {width: 160px;}
			.action_flow li:nth-child(3) {width: 100px;}
			.action_flow li:nth-child(4) {width: 140px;}
		}
	}
}//#repayment
/*  ご返済シミュレーション	-------------------------------------------------*/  
#repayment #simulation #plan_chart ,#repayment_modal_layer{
	.btn_area {
		.btn.type01.large {
			a {
				width: 312px;
				font-size: 22px;
				line-height: 22px;
				padding : 14px 0 13px 25px !important;
				@include borderRadius(35px);
				span {
					font-size: 14px;
					line-height: 18px;
				}
				&:before {
					left: 32px;
					font-size: 48px;
					margin-top: -24px;						
				}
			}
		}
	}
}//#simulation
