@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
   商品・サービス　 #service
---------------------------------------------------------------------------- */
#service,#ladies {
	table {
		.notice {
			line-height: 1.2;
			font-size: 11px;
		}
	}
}//#service
#service {
	#local_navigation {
		.sub {
			display: none;		
		}
	}
}