@charset "Shift_JIS";
//
// gnav-in
// -----------------------------------------
@keyframes  fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//
// fade-in
// -----------------------------------------
@keyframes  fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes  fade-in{
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes  fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//
// fade-out
// -----------------------------------------
@keyframes  fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes  fade-out{
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes  fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

//
// btn-fade-in
// -----------------------------------------
@keyframes  btn-fade-in {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes  btn-fade-in{
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes  btn-fade-in {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

//
// btn-fade-out
// -----------------------------------------
@keyframes  btn-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@-moz-keyframes  btn-fade-out{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }

}

@-webkit-keyframes  btn-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}


//
// btn-fade-in
// -----------------------------------------
@keyframes  btn-fade-in2 {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes  btn-fade-in2{
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes  btn-fade-in2 {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

//
// btn-fade-out2
// -----------------------------------------
@keyframes  btn-fade-out2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes  btn-fade-out2{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }

}

@-webkit-keyframes  btn-fade-out2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}


