@charset "Shift_JIS";
//=======================
//
// tHgTCYvZ
//
//=======================
//tHgTCY
@mixin fontSize($fontSize, $baseFontSize:13){
    font-size: percentage($fontSize / $baseFontSize);
}
//sÔ
@mixin lineHeight($lineHeight, $baseFontSize:13){
    line-height: percentage($lineHeight / $baseFontSize);
}

//=======================
//
// EFutHgwè
//
//=======================

@mixin basicFont {
	//font-family:YuGothic,"àSVbN","qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "VSR", "CI", "Meiryo", Verdana, "lr oSVbN", sans-serif;
	font-family:"qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "VSR", "CI", "Meiryo", Verdana, "lr oSVbN", sans-serif;
}

@font-face {
  font-family: 'promiseicon';
  src: url('../fonts/promiseicon.eot'); /* IE9 Compat Modes */
  src: url('../fonts/promiseicon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/promiseicon.woff') format('woff'), /* Modern Browsers */
       url('../fonts/promiseicon.ttf')  format('truetype')/* Safari, Android, iOS */;
  font-style:   normal;
  font-weight: 400;
}

@mixin iconFont {
	font-family: 'promiseicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
}

/*!
 * "hannari" is lisenced under the IPA fontlisence v1.0
 * by http://typingart.net/
 */
 
@font-face {
  font-family: 'hannari';
  src: url('../fonts/hannari.eot'); /* IE9 Compat Modes */
  src: url('../fonts/hannari.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/hannari.woff') format('woff'), /* Modern Browsers */
       url('../fonts/hannari.ttf')  format('truetype')/* Safari, Android, iOS */;
  font-style:   normal;
  font-weight: 400;
}

@mixin hannariFont {
	font-family: "hannari","qMm¾© ProN W6","HiraMinProN-W6","HG¾©E","lr o¾©","MS PMincho","MS ¾©",serif;
}

@mixin ryuminFont {
	font-family: " E~ M-KL","qMm¾© ProN W6","HiraMinProN-W6","HG¾©E","lr o¾©","MS PMincho","MS ¾©",serif;
}

//=======================
//
// ¼püs
//
//=======================
@mixin wordWrap{
  //white-space: pre;
  /*white-space: pre;           //CSS 2.0
  white-space: pre-wrap;      //CSS 2.1
  white-space: pre-line;      //CSS 3.0
  white-space: -pre-wrap;     //Opera 4-6
  white-space: -o-pre-wrap;   //Opera 7
  white-space: -moz-pre-wrap; //Mozilla
  white-space: -hp-pre-wrap;  //HP Printers
  word-wrap: break-word;      //IE 5+*/
  display: block;
}

//=======================
//
// VhE
//
//=======================
@mixin boxShadow ($para...){
		box-shadow: $para;
		 -moz-box-shadow: $para;
		 -webkit-box-shadow:$para;
		 -ms-box-shadow:$para;
}
//=======================
//
// pÛ
//
//=======================
@mixin borderRadius($para...){
		border-radius: $para;
		 -moz-border-radius: $para;
		 -webkit-border-radius:$para;
		 -ms-border-radius:$para;
}

//=======================
//
// Of[V
//
//=======================
@mixin linearGradient($para...){
	  @include background-image(linear-gradient($para...));
	 /* background-image:  -moz-linear-gradient($deg,$start,$end);
	  background-image:  -webkit-linear-gradient($deg,$start,$end);
	  background-image:  -ms-linear-gradient($deg,$start,$end);*/
}

//=======================
//
// ñ]
//
//=======================
@mixin rotate($deg){
		-webkit-transform: rotate($deg);
		-moz-transform: rotate($deg);
		-ms-transform: rotate($deg);
		rotation: $deg;
}



//=======================
//
// Aj[V
//
//=======================
@mixin animation($duration,$name){
      animation-duration: $duration;
      animation-name: $name;
      -moz-animation-duration:$duration;
      -moz-animation-name: $name;
      -webkit-animation-duration: $duration;
      -webkit-animation-name: $name;
      -ms-animation-duration: $duration;
      -ms-animation-name: $name;

}

//=======================
//
// Aj[VLZ
//
//=======================
@mixin animationCancel(){
      animation-name: none;
      -moz-animation-name: none;
      -webkit-animation-name: none;
      -ms-animation-name: none;
}

//=======================
//
// gWV
//
//=======================
@mixin transition($duration,$property,$delay:0){
	    -webkit-transition-duration: $duration;
	    -ms-transition-duration: $duration;
	    transition-duration: $duration;
	    -webkit-transition-property: $property;
	    -ms-transition-property: $property;
	    transition-property: $property;
	    -webkit-transition-delay: $delay;
	    -ms-transition-delay: $delay;
	    transition-delay: $delay;
}

//=======================
//
// clearfix
//
//=======================
@mixin clearfix(){
  content: "";
  clear: both;
  display: block;
  }
  
 //=======================
//
// placeholder ÌF
//
//=======================
@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}