@charset "Shift_JIS";
/* ----------------------------------------------------------------------------
    RESET
---------------------------------------------------------------------------- */
/* HTML5 display definitions */
section, nav, article, aside, hgroup,
header, footer, figure, figcaption, details {
    display:block;
}
video, audio, canvas {
    display:inline-block;
    *display:inline;
    *zoom:1;
}
audio:not([controls]) {
    display:none;
}
[hidden] {
    display:none;
}

/* The root element */
html {
    font-size:100%;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
}

/* Sections */
body {
    margin:0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
    margin:0;
	font-weight:bold;
}

/* Grouping content */
p, blockquote, dl, dd, figure {
    margin:0;
}
hr {
    color:inherit;
    height:auto;
    -moz-box-sizing:content-box;
         box-sizing:content-box;
}
pre {
    font-family:monospace, sans-serif;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin:0;
}
ol, ul {
    padding:0;
    margin:0;
}
li {
    list-style:none;
}

/* Text-level semantics */
a:focus {
    //outline:thin dotted;
	outline: 0;
}
a:hover, a:active {
    outline:0;
}
strong, b {
    font-weight:bold;
}
small {
    font-size:0.83em;
}
q {
    quotes:none;
}
abbr[title] {
    border-bottom:1px dotted;
	cursor:help;
}
acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
}
code, samp, kbd {
    font-family:monospace, sans-serif;
}
mark {
    color:black;
    background-color:yellow;
}
sub, sup {
    font-size:0.83em;
    line-height:0;
    vertical-align:baseline;
    position:relative;
}
sub {
    bottom:-0.25em;
}
sup {
    top:-0.5em;
}
br {
    *letter-spacing:0;
}
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}

/* Embedded content */
img {
    border:0;
    vertical-align: middle;
    line-height: 1;
    -ms-interpolation-mode:bicubic;
}
svg:not(:root) {
    overflow:hidden;
}

/* Tabular data */
table {
    border-collapse:collapse;
    border-spacing:0;
	margin:0;
}
caption {
    padding:0;
    text-align:left;
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
th, td {
    text-align:left;
    vertical-align:baseline;
    padding:0;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}

/* Forms */
form {
    margin:0;
}
fieldset {
    border:0;
    padding:0;
    margin:0;
}
legend {
    border:0;
    *margin-left:-7px;
}
input, button, select, textarea {
    font-family:inherit;
    font-size:1em;
    color:inherit;
    margin:0;
    outline: none;
}
input, button {
    line-height:normal;
    vertical-align:inherit;
    *vertical-align:middle;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border:0;
    padding:0;
}
input[type="search"] {
    -webkit-appearance:textfield;
    -webkit-box-sizing:content-box;
       -moz-box-sizing:content-box;
            box-sizing:content-box;
}
input[type="search"]:focus {
    outline-offset:-2px;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}
input[type="submit"],button ,
input[type="reset"],
input[type="button"],
button {
    cursor:pointer;
    -webkit-appearance:button;
    *overflow:visible;
}
select {
    background-color:inherit;
    line-height:normal;
}
textarea {
    vertical-align:top;
    overflow:auto;
    *font-family:sans-serif;
}
iframe {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
}
